﻿<head>

    <link rel="stylesheet" href="animate.min.css">
</head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">

स्वस्थ रहने की कुंजी

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}

</style>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">जीवन शैली व खान &ndash;
    पान में बदलाव से कई रोगों से मुक्ति पाई जा सकती है घरेलू वस्तुओ के उपयोग से शरीर के उपयोग से शरीर तो स्वस्थ रहेगा ही बीमारी पर होने वाला खर्च भी बचेगा। कृपया इनका अवश्य ध्यान रखें। - फलों का रस, अत्यधिक तेल की चीजें, मट्ठा, खट्टी चीजें रात में नहीं खानी चाहिये। - घी या तेल की चीजें खाने के बाद तुरंत पानी नहीं पीना चाहिये बल्कि एक-डेढ़ घण्टे के बाद पानी पीना चाहिये। - भोजन के तुरंत बाद अधिक तेज चलना या दौड़ना हानिकारक है। इसलिये कुछ देर आराम करके ही जाना चाहिये। - शाम को भोजन के बाद शुद्ध हवा में टहलना चाहिये खाने के तुरंत बाद सो जाने से पेट की गड़बड़ीयाँ हो जाती हैं। - प्रात:काल जल्दी उठना चाहिये और खुली हवा में व्यायाम या शरीर श्रम अवश्य करना चाहिये। - तेज धूप में चलने के बाद, शारीरिक मेहनत करने के बाद या शौच जाने के तुरंत बाद पानी कदापि नहीं पीना चाहिये। - केवल शहद और घी बराबर मात्रा में मिलाकर नहीं खाना चाहिये वह विष हो जाता है। - खाने पीने के विरोधी पदार्थो को एक साथ नहीं लेना चाहिये जैसे दूध और कटहल, दुध और &nbsp;दही, मछली और दूध आदि चीजें एक साथ नहीं लेनी चाहिये। - सिर पर कपड़ा बांधकर या मोजे पहनकर कभी नहीं सोना चाहिये। - बहुत तेज या धीमी रोशनी में पढ़ना, अत्यधिक टी. वी या सिनेमा देखना अधिक गर्म-ठंडी का सेवन करना, अधिक मिर्च मसालों का प्रयोग करना, तेज धूप में चलना इन सबसे बचना चाहिये। यदि तेज धूप में चलना भी हो तो सर और कान पर कपड़ा बांधकर चलना चाहिये। - रोगी को हमेशा गर्म अथवा गुनगुना पानी ही पिलाना चाहिये। और रोगी को ठंडी हवा, परिश्रम, तथा क्रोध से बचाना चाहिये। - आयुर्वेद में लिखा है कि निद्रा से पित्त शांत होता है, मालिश से वायु कम होती है, उल्टी से कफ कम होता है और लंघन करने से बुखार शांत होता है। इसलिये घरेलू चिकित्सा करते समय इन बातों का अवश्य ध्यान रखना चाहिये। - आग&nbsp; या किसी गर्म चीज से जल जाने पर जले भाग को ठंडे पानी में डालकर रखना चाहिये। - कान में दर्द होने पर यदि पत्तों का रस कान में डालना हो तो सुर्योदय के पहले या सुर्यास्त के बाद ही डालना चाहिये। - किसी भी रोगी को तेल, घी या अधिक चिकने पदार्थो के सेवन से बचना चाहिये। - अजीर्ण तथा मंदाग्नि दूर करने वाली दवाएँ हमेशा भोजन के बाद ही लेनी चाहिये। - मल रूकने या कब्ज होने की स्थिति में यदि दस्त कराने हों तो प्रात:काल ही कराने चाहिये, रात्रि में नहीं। - यदि घर में किशोरी या युवती को मिर्गी के दौरे पडते हों तो उसे उल्टी, दस्त या लंघन नहीं कराना चाहिये। - यदि किसी दवा को पतले पदार्थ में मिलाना हों तो चाय, कॉफी, या दूध में न मिलाकर छाछ, नारियल पानी या सादे पानी में ही मिलाना चाहिये। - हींग को सदैव देशी घी में भून कर ही उपयोग में लाना चाहिये। लेप में कच्ची हींग लगानी चाहिये। &nbsp;
</p>
