﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">

गठिया की चिकित्सा
 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">दोनां तरह के गठिया (Osteoarthritis और Rheumatoid arthritis) में आप एक दवा का प्रयोग करें जिसका नाम है चुना, वह चुना जो आप पान में खाते हो। गेहूँँ के दाने के बराबर चुना रोज सुबह खाली पेट एक कप दही में मिलाकर खाना चाहिए, नहीं तो दाल में मिलाकर, नहीं तो पानी में मिलाकर पीना लगातार तीन महीने तक, तो गठिया ठीक हो जाती है। ध्यान रहे पानी पीने के समय हमेशा बैठ के घँूट-घँूट कर के पीना चाहिए नहीं तो बीमारी ठीक नहीं होगी। अगर आपके हाथ या पैर की हड्डी में कट-कट की आवाज आती हो तो वो भी चने से ठीक हो जायेगा। दोनां तरह के गठिया के लिए और एक अच्छी दवा है वो है छोटा मेथी दाना। एक छोटा चम्मच मेथी का दाना एक कांच के गिलास में गर्म पानी लेकर उसमं डालना, फिर उसको रात भर&nbsp; भिगोकर&nbsp; रखना।&nbsp; सवेरे&nbsp; उठ&nbsp; कर&nbsp; पानी घुट घुट करके&nbsp; पीना&nbsp; और&nbsp; मेथी&nbsp; का&nbsp; दाना चबाकर-चबाकर खाना। तीन महीने तक लेने से गठिया ठीक हो जाता है। ध्यान रहे पानी पीने के समय हमेशा बैठ कर पीना चाहिए नहीं तो बीमारी ठीक नहीं होगी। जोड़ों का दर्द &nbsp;&nbsp; यदि बहुत पुराना हो भूले 20 साल या 30 साल पुराना हो या जब डाक्टर कहे कि घुटने बदलने पड़ेगें उस समय चुना काम नहीं करेगा। उसको चने की जगह हारश्रृंगार के पत्तों का काढ़ा देना पड़ेगा । हारश्रृंगार को पारीजात भी कहते हैं। इसमें सफेद रंग के छोटे फूल होते हैं जिनकी नारंगी रंग की डंडी होती है। इसके फूलों में बहुत तेज खुशबु होती है। इस पेड़ के 7-8 पत्तों को बारीक पीस कर चटनी जैसा बनाकर एक गिलास पानी में उबालें, आधा गिलास रह जाने पर सुबह खाली पेट पी लें। तीन महीने में यह समस्या बिल्कुल ठीक हो जायेगी । किसी भी तरह का बुखार होने की स्थिति में भी यह काढ़ा काम करता है। उस स्थिति में 7-8 दिन ही देना है। ये औषधि बहुत खास (Exclusive) है और बहुत Strong औषधि &nbsp;है । इसलिए अकेली ही देना चाहिये, इसके साथ कोई भी दूसरी दवा ना दे नहीं तो तकलीफ &nbsp;होगी। ध्यान रहे पानी पीने के समय हमेशा बैठ के घूंट घूंट कर पीना चाहिये नहीं तो ठीक नहीं होंगे।</p>
