﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">

गंभीर इमरजेन्सी
 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>


<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">आमजन के मस्तिष्क मं यह बात बहुत गहराई तक बैठी हुई है कि गंभीर इमरजेन्सी से आयुर्वेद और होम्योपैथिक दवा का कोई नाता नहीं है क्योंकि गंभीर इमरजेन्सी मं यह नाकाम है लेकिन यह तथ्य पूर्णत: गलत है. कुछ विशिष्ट आयुर्वेद और होम्योपैथिक दवाए गंभीर इमरजेन्सी को फौरन नियंत्रित करने मं सक्षम हैं. यहाँ हम ऐसे ही कुछ गंभीर इमरजेन्सी और उनकी दवाओं का विवरण दिया है :-</p>
