﻿<head>

    <link rel="stylesheet" href="animate.min.css">
</head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">

जलना
 
</span></h3>

<style>
p{
-webkit-user-select: none;
}

</style>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">
आग या किसी गरम चीज से अचानक से जल जाने से शरीर में फफोले पड़ जाते हैं। घी, तेल, दूध, चाय, भाप, गरम तवे से जलने से भी फफोले पड़ जाते हैं। काफी तेज जलन होती है। कभी-कभी फफोलों में मवाद भी आ जाता है। इसके घरेलू उपाय निम्न लिखित हैं। - यदि किसी व्यक्ति की त्वचा जल गई है तो उसके जले हुए भाग को तुरंत पानी के अन्दर करके काफी देर तक हिलाते रहना चाहिए। जब जलन शांत हो जाए । - आलू पीसकर लगाना चाहिए। इससे रोगी की जलन बहुत जल्दी ठीक हो जाती है । शरीर पर किसी भी तरह का घाव होने पर या चोट लग जाने पर पहले गोमूत्र या गर्म पानी से धोना है। उसके गेंदे के फूल की पंखुड़ियां, हल्दी और गोमूत्र की चटनी बनाकर लगानी है इसके बाद CALENDULA OFFICINALIS (MOTHER TINCHER) लगा कर गेंदे के फूल (पंखुड़ियां) चटनी करके लगाना है। उस जख्म भी जल्दी भरने के लिए शरीर पर किसी भी तरह का घाव, बहुत गंभीर चोट वाला पूरा आर्टिकल पढे।

<p>&nbsp;</p>
