﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">

हड्डी टूटना
 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">हड्डी टूटना एक आम इमजेर्ंसी है जो प्राय: वृद्ध लोगो में, बच्चों मैं अथवा दुर्घटना आदि के कारण हो सकती है. हड्डी टूटने पर होम्योपथी दवा अर्निका 1M देना है, जो दर्द को दूर करता हैं । अर्निका 200 की 2-2 बूंद हर आधा घंटे में तीन बार देना है। अगर हड्डी टूट गई है तो टूटी हड्डी को पुन: जोड़ने के लिए अगले दिन एक दाना गेहूँ&nbsp;&nbsp; के&nbsp;&nbsp; बराबर चुना दहीं में मिलाकर दिन में एक बार 15 से 20 दिन तक देना है</p>

