﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">

मोच
 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">सामान्य कार्य के दौरान,भारी वजन उठाने से, गलत तरीके से कसरत करने से आदि अनेक कारन हैं जो मोच के लिए उत्तरदयी हो सकते हैं.प्राय: मोच शरीर के लचीले भागों जैसे कलाई, कमर, पैर, आदि को प्रभावित करती है। मोच के लिए होम्योपैथिक दवा हैं जो ना केवल मोच के दर्द को दूर कर देती हैं बल्कि सुजन को भी दूर करती हैं। हड्डी टूटने पर उसे पुन: जोड़ने के लिए अगले दिन से एक दाना गेहूँ के बराबर चुना दहीं में मिलाकर दिन में एक बार 15 से 20 दिन तक देना है। शरीर के किसी भी भाग में बिना रक्त निकले चोट लगने या मुड़ जाने पर या मार लगने, गिरने पर अर्निका 200 की 2-2 बूंद हर आधा घंटे में तीन बार देना है।</p>
