﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">


सामान्य चोट

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">बच्चो को &nbsp; खेलते वक्त चोट लगना, और काम करते समय मामूली चोट या कट लगना अथवा वाहन से मामूली दुर्घटना होना । ये सभी सामान्य चोट के अर्न्तगत आते है ऐसे समय में&nbsp;&nbsp; कुछ उपयोगी होम्योपैथिक दवाए न केवल कटे हुए घाव भरने, रक्तस्त्राव रोकने में उपयोगी है बल्कि ये दर्द को भी कम कर देती है शरीर के किसी भी भाग में बिना रक्त निकले चोट लगने या मुड़ जाने पर या मार लगने, गिरने पर अर्निका 200 की 2-2 बूंद हर आधा घंटे में तीन बार देना है। शरीर पर चोट लगने से खून बहने पर होम्योपैथी की दवा हाईपेरिकम 200 2-2 बूंद हर आधे घण्टे से तीन बार, अगर चोट ज्यादा है और खून बह रहा है तो हाईपेरिकम 1M 1-1 बूंद हर आधे घण्टे में तीन बार देना है।</p>
