﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



सांप के काटने पर चिकित्सा


 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>





<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">सांप काटने पर नाजा-30 हर दस मिनट में 2-2 बूंद तीन बार देना है। अगर ठीक हो रहा है, तो इसी को चाल रखना है। अगर समय ज्यादा हो गया या फर्क नहीं है तो नाजा-200 2-2 बूंद हर दस मिनट में तीन बार देना है। ठीक होने पर कोई भी दवा नहीं देना है। अगर नाजा-200 से भी ठीक नहीं है तो नाजा 1M की 2 को बूंद आधा कप पानी में डालकर एक चम्मच हर आधे घण्टे में तीन बार पिलाना है। अगर इससे भी ठीक ना हो तो नाजा 10M की आधा कप पानी मं एक बूंद डाल कर एक चम्मच एक ही बार पिलाना है। जब कन्ट्रोल में आए तो गर्म पानी या मंगदाल का उबाला हुआ पानी देना है। खाना अगर देना है तो थोड़ी मूंगदाल की खिचड़ी दे सकते हैं।</p>

