﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



बिच्छू, मधुमक्खी के काटने पर सुई या काटा लगने की चिकित्सा

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">बिच्छू के काटने पर बहुत दर्द होता है जिसको बिच्छू काटता है उसके सिवा और कोई जान नहीं सकता कितना भयंकर कष्ट होता है। तो बिच्छू काटने पर एक दवा है और उसका नाम है Silicea 200 इसका लिक्विड 5 मि.ली. घर में रखें। बिच्छू काटने पर इस दवा को जीभ पर एक बूंद 10-10 मिनट के अंतर पर तीन बार देना है। बिच्छू जब काटता है तो उसका जो डंक है उसको अन्दर छोड़ देता है वो ही दर्द करता है। इस डंक को बाहर निकालना आसान काम नहीं है। डाक्टर के पास जायेंगे वो काट कर चीरा लगायेगा फिर खींच के निकालेगा। खून भी बहेगा और तकलीफ भी होगी। ये दवाई इतनी बेहतरीन है कि आप इसके तीन डोज देंगे 10-10 मिनट पर एक-एक बूंद और आप देखेंगे कि वो डंक अपने आप निकल कर बाहर आ जायेगा। सिर्फ तीन डोज में आधे घण्टे में आप रोगी को ठीक कर सकते हैं। बहुत जबरदस्त दवाई है ये Silicea 200 यह दवाई और भी बहुत काम आती है। अगर आप सिलाई मशीन में काम करती हैं तो कभी-कभी सई चुभ जाती है और अन्दर टूट जाती है। उस समय भी आप ये दवाई ले लीजिये। ये सूई को भी बाहर निकाल देगी। आप इस दवाई को और भी कई परिस्थितियां में ले सकते हैं जैसे कांटा लग गया हो, कांच घुस गया हो, ततैया ने काट लिया हो, मधुमक्खी ने काट लिया हो ये सब जो काटने वाले अन्दर जो छोड़ देते हैं उन सब के लिए आप इसको ले सकते हैं। बूंदक की गोली लगने पर गोली को बाहर निकालने के लिए भी इसका इस्तेमाल कर सकते हैं। बहुत तेज दर्द निवारक है और जो कुछ अन्दर छुटा हुआ है उसको बाहर निकालने की दवाई है। बहुत सस्ती दवाई है। 5 मि.ली. सिर्फ 10 रूपये की आती है। इससे कम से कम 50 से 100 लोगों का भला हो सकता है।</p>

