﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



पागल कुत्ता काटने

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>


<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">अगर घरेलु कुत्ता काटे तो कोई दिक्कत नही है पर पागल कुत्ता कटे तो समस्या है। सड़क वाला कुत्ता काटले तो आप जानते है नही उसको इंजेक्शन दिए हुए है या नही, उसने काट लिया तो आप डाक्टर के पास जायेंगे फिर वो 14 इंजेक्शन लगाएगा वो भी पेट में लगाता है, उससे बहुत दर्द होता है और खर्च भी हो जाता है कम से कम 50000 तक कई बार, गरीब आदमी के पास वो भी नही है। कुत्ता कभी भी काटे, पागल से पागल कुत्ता काटे, घबराइए मत, चिंता मत करिए बिलकुल ठीक होगा वो आदमी बस उसको एक दवा दे दीजिये। दवा का नाम है Hydrophobinum 200 और इसको 10-10 मिनट पर जीभ में तीन ड्रोप डालना है। कितना भी पागल कुत्ता काटे आप ये दवा दे दीजिये और भूल जाइये के कोई इंजेक्शन देना है। इस दवा को सूरज की धुप और रेफ्रीजिरेटर से बचाना है। रेबिस सिर्फ पागल कुत्ता काटने से ही होता है पर साधारण कुत्ता काटने से रेबिस नही होता। आवारा कुत्तों अगर काट दिया है तो राजीव भाई के अनुसार आप अपना मन का बहम दूर करने के लिए ये दवा दे सकते है लेकिन उससे कुछ नही होता वो हमारा मन का बहम है जिससे हम परेसान रहते है, और कुछ डर डाक्टरों ने बिठा रखा है के इंजेक्शन तो लेना ही पड़ेगा। अपने शरीर में थोड़े बहुत Resistance सबके पास है अगर कुत्ते के काटने से उनके लार-ग्रंथी के कुछ वायरस चले भी गये है तो उनको खतम करने के लिए हमारे रक्त में काफी कुछ है और वो&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; खतम कर ही लेता है। लेकिन क्योंकि मन में भय बिठा दिया है शंका हो जाती है हमको confirm नही होता जब तक20000-50000 खर्च नही कर लेते&nbsp; ये उस समय लिए राजीव भाई ने ये दवा लेने की बात कही है। और इसका एक एक ड्रोप 10-10 मिनट में जीभ पर तीन बार डाल के छोड़ दीजिये । 30 मिनट में ये दवा सब काम कर देगा। कई बार कुत्ता घर के बच्चो से साथ खेल रहा होता है और गलती से उसका कोई दाँत लग गया तो आप उस जखम में थोडा हल्दी लगा दीजिये पर साबुन से उस जखम को बिलकुल मत धोये नही&nbsp; तो&nbsp; वो&nbsp; पक&nbsp; जायेगा&nbsp; हल्दी Antibiotic,&nbsp; Antipyretic,&nbsp; Antititetanatic, Antiinflammatory है।</p>
