﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



चोट लगने लेकिन खून ना बहने पर

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>




<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">शरीर के किसी भी भाग में बिना रक्त निकले चोट लगने या मुड़ जाने पर या मार लगने, गिरने पर अर्निका 200 की 2-2 बूंद हर आधा घंटे में तीन बार देना है। अगर सूजन है या मार ज्यादा लगी है और अगर बेहोशी है तो अर्निका 1M एक बूंद हर एक घण्टे के अंतर में तीन बार देना है। उससे भी ज्यादा गंभीर स्थिति होने पर अर्निका 10M एक बूंद एक ही बार देनी है। हड्डी टूटने पर होम्योपथी दवा अर्निका 1M देना है, जो दर्द को दूर करता हैं। अर्निका 200 की 2-2 बूंद हर आधा घंटे में तीन बार देना है। हड्डी टूटने पर उसे पुन: जोड़ने के लिए अगले दिन से एक दाना गेहूँँ के बराबर चुना दहीं में मिलाकर दिन में एक बार 15 से 20 दिन तक देना है। नोट: - पथरी के मरीज को चुना नहीं लेना है।</p>

