﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">

दिनचर्या

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">सूम्पर्ण सेहत बिना डाक्टर-एक सपना या हकीकत? आज भारत में लगभग 80% लोग रोगी हैं, पर इन सभी बीमारियों के इलाज&nbsp; के &nbsp;लिए पर्याप्त चिकित्सक नहीं हैं। आज से 3000 वर्ष पूर्व महर्षि बागभट्ट द्वारा &nbsp;रचित अष्टांग हृदयं के अनुसार, बीमार व्यक्ति ही अपना सबसे अच्छा चिकित्सक हो सकता है, बीमारियों से मुक्त रहने के लिए दैनिक आहार विहार द्वारा स्वस्थ रहने के सूत्रों के आधार पर राजीव दीक्षित ने निम्न सूत्र बनाए थे</p>

<ol class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">
	<li style="text-align: justify;">रात को दाँत साफ करके सोये। सुबह उठ कर गुनगुना पानी बिना कुर्ला किए, बैठ कर, घूंट &ndash; घूंट (sip-sip) करके पीये। एक दो गिलास जितना आप सुविधा से पी सकें उतने से शुरुआत करके, धीरे धीरे बढा कर सवा लिटर (1-1/4 Ltr) तक पीना है।</li>
	<li style="text-align: justify;">भोजनान्ते विषमबारी अर्थात भोजन के अंत में पानी पीना विष पीने के समान है। इस लिए खाना खाने से आधा घंटा पहले और डेढ घंटा बाद तक पानी नहीं पीना। डेढ घंटे बाद पानी जरूर पीना। पानी के विकल्प में आप सुबह के भोजन के बाद मौसमी फलों का ताजा रस पी सकते हैं (डिब्बे वाला नहीं), दोपहर के भोजन के बाद छाछ और अगर आप हृदय रोगी नहीं हैं तो आप दहीं की लस्सी भी पी सकते हैं। शाम के भोजन के बाद गर्म दूध। यह &nbsp;आवश्यक है कि इन चीजो का क्रम उलट-पुलट मत करें।</li>
	<li style="text-align: justify;">पानी जब भी पीये बैठ कर पीये और घूंट &ndash; घूंट कर पीये।</li>
	<li style="text-align: justify;">फ्रिज (रेफ्रीजिरेटर) का पानी कभी ना पीये। गर्मी के दिनों में मिट्ठी के घडे का पानी पी सकते हैं।</li>
	<li style="text-align: justify;">सुबह का भोजन सर्योदय के दो से तीन घंटे के अन्दर खा लेना चाहिए। आप अपने शहर में सर्योदय का समय देख लें और फिर भोजन का समय निश्चित कर लें। सुबह का भोजन पेट भर कर खाएं। अपना मनपसंद खाना सुबह पेट भर कर खाएं।</li>
	<li style="text-align: justify;">दोपहर का भोजन सुबह के भोजन से एक तिहाई कम करके खाएं, जैसे सुबह अगर आप तीन रोटी खाते हैं तो दोपहर को दो खाएं। दोपहर का भोजन करने के तुरंत बाद बाई करवट (Left Side) लेट जाएँ, चाहे तो नींद भी ले सकते हैं, मगर कम से कम 20 मिनट अधिक से अधिक 40 मिनट। 40 मिनट से ज्यादा नहीं।</li>
	<li style="text-align: justify;">इसके विपरीत शाम को भोजन के तुरंत बाद नहीं सोना। भोजन के बाद कम से कम 500 कदम जरूर सैर करें । संभव हो तो रात का खाना सर्यास्त से पहले खा लें।</li>
	<li style="text-align: justify;">भोजन बनाने में फ्रिज, माइक्रोवेव ओवन, प्रैशर कूकर, तथा एल्युमिनियम के बर्तनां का प्रयोग ना करें।</li>
	<li style="text-align: justify;">खाने में रिफाइन्ड तेल का इस्तेमाल ना करें। आप जिस क्षेत्र में रहते हैं वहाँ जो तेल के बीज उगाये जाते हैं उसका शुद्ध तेल प्रयोग करें, जैसे यदि आपके क्षेत्र में सरसों ज्यादा होती है तो सरसों का तेल, मुंगफली होती है तो मुंगफली का तेल, नारियल है तो नारियल का तेल। तेल सीधे सीधे घानी से निकला हुआ होना चाहिए।</li>
	<li style="text-align: justify;">खाने में हमेशा सेंधा नमक का ही प्रयोग करना चाहिए, ना की आयोडिन युक्त नमक का। चीनी की जगह गुड, शक्कर, देसी खाण्ड या धागे वाली मिस्री का प्रयोग कर सकते है।</li>
	<li style="text-align: justify;">कोई भी नशा ना करें, चाय, काफी, मांसाहार, मैदा, बेकरी उत्पादों का उपयोग नहीं करना चाहिए।</li>
	<li style="text-align: justify;">रात को सोने से पहले हल्दी वाला दूध दाँत साफ करने के बाद पिये।</li>
	<li style="text-align: justify;">सोने के समय सिर पूर्व दिशा की तरफ तथा संबंध बनाते समय सिर दक्षिण दिशा की तरफ करना चाहिए।</li>
</ol>

