﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



चोट लगने और खून बहने पर इसकी चिकित्सा

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>




<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">शरीर पर चोट लगने से खून बहने पर होम्योपैथी की दवा हाईपेरिकम 200 2-2 बूंद हर आधे घण्टे से तीन बार, अगर चोट ज्यादा है और खून बह रहा है तो हाईपेरिकम 1M 1-1 बूंद हर आधे घण्टे में तीन बार देना है। अगर सिर पर बहुत चोट हो और सिर से बहुत खून बह रहा हो तो हाईपेरिकम 10M, 50M, 1CM ताकत की दवाई देना होगा। ये दवाई नया खून भी बनाती है लेकिन वही खून चोट दोरान निकल गया है रक्त दान खून वाला नही ।</p>
