﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



टिटनेस

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>




<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">लोहे की जंग लगी वस्तु से चोट लगाने पर या वाहन से दुर्घटना होने पर टिटनेस का खतरा पैदा हो जाता है जो जानलेवा भी साबित हो सकता है. होम्योपैथी मैं टिटनेस के लिए दोनां विकल्प मौजूद हैं - 1) चोट लगने पर फौरन ली जाने वाली दवाई ताकि भविष्य मं टिटनेस की सम्भावना न रहे 2) टिटनेस हो जाने पर उसे आगे बढ़ने से रोकने तथा उसके उपचार हेतु ली जाने वाली दवाई जैसे - Hypericum शरीर पर चोट लगने से खून बहने पर होम्योपैथी की दवा हाईपेरिकम200&nbsp; 2-2 बूंद हर आधे&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; घण्टे से तीन बार, अगर चोट ज्यादा है और खून बह रहा है तो हाईपेरिकम&nbsp;&nbsp; 1M 1-1 बूंद हर आधे घण्टे में तीन बार देना है। अगर सिर पर बहुत चोट हो और सिर से बहुत खून बह रहा हो तो हाईपेरिकम&nbsp; 10M,&nbsp; 50M, 1CM ताकत की दवाई देना होगा। शरीर पर किसी भी तरह का घाव, बहुत गंभीर चोट कुछ चोट लग जाती है, और कुछ छोटे बहुत गंभीर हो जाती है। जैसे कोई डाईबेटिक &nbsp;पेशेंट है चोट लग गयी तो उसका सारा दुनिया जहां एक ही जगह है, क्योंकि जल्दी ठीक ही नही होता है। और उसके लिए कितना भी चेष्टा करे करे डाक्टर हर बार उसको सफलता नही &nbsp;मिलता है। और अंत में वो चोट धीरे धीरे गैंग्रीन (अंग का सड जाना) में कन्वर्ट हो जाती है। और फिर काटना पडता है, उतने हिस्से को शारीर से निकालना पडता है। ऐसी परिस्तिथि में एक औषधि है जो गैंग्रीन को भी ठीक करती है और ओस्टोमएलइटिस (अस्थिमज्जा का प्रदाह) को भी ठीक करती है। गैंग्रीन माने अंग का सड जाना, जहाँ पर नए कोशिका विकसित नही होते। ना तो मांस में&nbsp;&nbsp; और ना ही हड्डी में और सब पुराने कोशिका मरते चले जाते हैं। इसी का एक छोटा भाई है ओस्टोमएलइटिसइस में भी कोशिका कभी पुनर्जीवित नही होते, जिस हिस्से में होता है उहाँ बहुत बडा घाव हो जाता है और वो ऐसा सडता है के डाक्टर कहता है की इसको काट के ही निकलना है और कोई दूसरा उपाय नही है।। ऐसे परिस्तिथि में जहां शारीर का कोई अंग काटना पड जाता हो या पडने की संभावना हो, घाव बहुत हो गया हो उसके लिए आप एक औषधि अपने घर में तैयार कर सकते है। औषधि है देशी गाय का मूत्र (सती के आट परत कपडो में चन कर), हल्दी और गेंदे का फुल। गेंदे के फुल की पिला या नारंगी पंखरियाँ निकलना है, फिर उसमे हल्दी डालकर गाय मूत्र डालकर उसकी चटनी बनानी है। अब चोट कितना बडा है उसकी साइज&nbsp; के हिसाब से गेंदे के फुल की संख्या तय होगी, माने चोट छोटे एरिया में है तो एक फुल, बडे है तो दो, तीन, चार अंदाज से लेना है। इसकी चटनी बनाकर इस चटनी को लगाना है जहाँ पर भी बाहर से खुली हुई चोट है जिससे खून निकल रहा है और ठीक नही हो रहा। कितनी भी दवा &nbsp;खा रहे है पर ठीक नही हो रहा, ठीक ना होने का एक कारण तो है डायबिटीज दूसरा कोई जिनगत कारण भी हो सकते है। इसको दिन में कम से कम दो बार लगाना है जैसे सुबह लगाकर उसके ऊपर रुई पट्टी बांध दीजिये ताकि उसका असर बाँडी पर रहे और शाम को जब दुबारा लगायेंगे तो पहले वाला धोना पडेगा टी इसको गोमूत्र से ही धोना है डेटोल जैसो का प्रयोग मत करिए, गाय के मूत्र को डेटोल की तरह प्रयोग करे। धोने के बाद फिर से चटनी लगा दे। फिर अगले दिन सुबह कर दीजिये। यह इतना प्रभावशाली है के आप सोच नही सकते, चमत्कार जैसा लगेगा। इस औषधि को हमेशा ताजा बनाकर लगाना है। किसी का भी जखम किसी भी औषधि से ठीक नही होरहा है तो ये लगाइए। जो सोराइसिस गिला है जिसमे खून भी निकलता है, पस भी निकलता है उसको यह औषधि पर्णरूप से ठीक कर देता है। अकसर यह&nbsp; एक्सीडेंट के केस में&nbsp; खूब प्रयोग होता है क्योंकि&nbsp;&nbsp; ये लगाते ही खून बंद हो जाता है। आपरेशन का कोई भी घाव के लिए भी&nbsp;&nbsp; यह सबसे अच्छा औषधि है। गीला एक्जीमा में यह औषधि बहुत काम करता है, जले हुए जखम में भी काम करता है।</p>
