﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



हार्ट अटेक

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>




<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">हार्ट अटेक जैसी गंभीर इमर्जंसी में होम्योपैथिक दवा ACONITE -200 की 2-2 बूंद हर आधा घंटे में&nbsp;&nbsp; तीन बार देना है। अगर आपने इतना भी कर दिया तो रोगी की जान बच जायेगी आगे रोगी को कही भी हॉस्पिटल में ले जाने की कोई जरुरत नही पडेगी । कभी कभी तो&nbsp;&nbsp; ऐसी भी हालत होती है कि रोगी हॉस्पिटल पहुँचने से पहले रास्ते में ही दम तोड देता है क्योंकि हार्ट अटेक के रोगी को फौरन देखभाल तथा उपचार की जरूरत होती है । ये दवा केवल आदमी की जान बचाने के लिये काम आती है अगर आपको आगे हार्ट के ब्लॉकेज को दूर करना है तो आगे आप हदय ब्लॉकेज आर्टिकल पर जाकर पूरा इलाज को पढ सकते है ये दवाई केवल जान बचाने के लिए है क्योंकि इमरजेन्सी मं हदय ब्लॉकेज जब तक दूर होगा जब तक अगर बीच में कभी हदय अटैक आता है तो जान बचाने के लिये काम आती है। गारंटी से ठीक हो जायेगा ये दवा ACONITE -200 खरीद कर अपने घर में रख ले !</p>
