﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



शरीर पर किसी भी तरह का घाव

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>




<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">शरीर पर किसी भी तरह का घाव होने पर या चोट लग जाने पर पहले गोमूत्र या गर्म पानी से धोना है। उसके गेंदे के फूल की पंखुड़ियां, हल्दी और गोमूत्र की चटनी बनाकर लगानी है बाद CALENDULA OFFICINALIS (MOTHER TINCHER) लगा कर गेंदे के फूल (पंखुड़ियां) चटनी करके लगाना है।</p>
