﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



डायरिया उल्टी या दस्त होने पर

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>





<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">Nux Vomica 200&nbsp; 2-2 बूंद दिन में तीन बार सुबह, दोपहर व शाम को दो तीन दिन चाल रखना है। हर्निया के लिए Nux Vomica 1M 1-1 बूंद दिन में तीन बार प्रत्येक एक-एक घण्टे से फिर वापिस 15 दिन या फिर 15 दिन बाद तीन महीने तक।</p>
