﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



अपेन्डेक्स

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">Nux Vomica 200 रात के भोजन के एक घण्टे बाद 2 बूंद फिर तीन दिन बाद 2 बूंदे (दस बार तक ले सकते हैं) OR - Nux Vomica 30 - रोज रात को एक बूंद - Sulphar 200 - हफ्ते में एक दिन सुबह-दोपहर-शाम एक-एक बूंद दिन में तीन बार नोट: - अस्थमा के मरीज को कभी भी सल्फर नहीं देना।</p>

