﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



स्वप्न दोष

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>




<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">Nux Vomica 200 रात को सोते समय 2 बूंद हर तीन दिन बाद फिर से ले सकते हैं। रोज &nbsp;नहीं।</p>
