﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



पीलिया

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>


<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">हेपेटाईटस A, B, C, D, E के ईलाज - गेहूँँ के दाने के बराबर चुना गन्ने के रस के साथ पान में लगाकर दिन में एक बार 10 से 12 दिन तक लेना है। - पीलिया होने पर Nux Vomica - 30 2-2 बूंद दिन में तीन बार 10 से 12 दिन तक लेना है। - BERBERIS VULGARIS Mother Tincher की 10-15 बूंदों को एक चौथाई (1/4) कप गुणगुने पानी में मिलाकर दिन में चार बार (सुबह, दोपहर, शाम और रात) को लेना है।</p>

