﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



बवासीर फिस्टला या भगन्दूर होने पर

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">- एक केले को बीच से चीरा लगाकर चुना बराबर कपर बीच में रख दें फिर इसे खाए इससे बवासीर एकदम ठीक हो जाती है साथ में देशी गाय का मूत्र भी पीयें। - अगर रोग बढ गया है तो आपको साथ में ये होम्योपैथिक दवा भी खाना होगा - &nbsp;Nux Vomica 30 - रोज रात को एक बूंद - Sulphar 200 - हफ्ते में एक दिन सुबह-दोपहर-शाम एक-एक बूंद दिन में तीन बार नोट :- अस्थमा के मरीज को कभी भी सल्फर नहीं देना।</p>
