﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">


हृदय रोग, मधुमेह, उच्च रक्तचाप, उच्च रक्त- वसा
 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>


<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">इन बीमारियों के रोगियों के लिए कुछ महत्वपूर्ण जानकारियाँ निम्नलिखित हैं :-</p>

<ol class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">
	<li style="text-align: justify;">खाने में रिफाइन्ड तेल का इस्तेमाल ना करें। आप जिस क्षेत्र में रहते हैं वहाँ जो तेल के बीज उगाये जाते हैं उसका शुद्ध तेल प्रयोग करें, जैसे यदि आपके क्षेत्र में सरसों ज्यादा होती है तो सरसों का तेल, होती है तो मुंगफली का तेल, नारियल है तो नारियल का तेल। तेल सीधे सीधे घानी से निकला हुआ होना चाहिए।</li>
	<li style="text-align: justify;">खाने में हमेशा सेंधा नमक का ही प्रयोग करना चाहिए, ना की आयोडिन युक्त नमक का।</li>
	<li style="text-align: justify;">देशी गाय का घी जो दहीं को मथ कर बनाया गया हो, इन बीमारी के रोगियों के लिए अमृत है।</li>
	<li style="text-align: justify;">खाने में छिलके वाली दालें, छिलके सहित सब्जियाँ, छिलके वाले चावल, छिलके सहित गेहं का आटा इस्तेमाल करें।</li>
	<li style="text-align: justify;">क्षारीय (एल्कलाइन) वस्तुओं जैसे आंवला, अलोवेरा, गाजर, मली, चोलाई, सरसों आदि का प्रयोग इन रोगों में अत्यंत लाभदायक है।</li>
	<li style="text-align: justify;">इन सभी जानकारियों के इलावा दिनचर्या का पालन भी आवश्यक है।</li>
</ol>
