﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



गंभीर लकवा होने पर रोगी को शरीर में सुन्नता छुने पर कोई संवेदना नहीं होना


 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">नसों में जकड़न और पक्षाघात&nbsp;&nbsp;&nbsp;&nbsp; या Paralysis में एक दवा का नाम है Rhustox - 30 जिस दिन पक्षाघात आता है रोगी को 15-15 मिनट पर तीन बार दो-दो बूंद मुंह में दे और इसी Rhustox - 30 को लगातार करते हुए रोज सुबह, दोपहर, शाम दें साथ में एक और दवा है Causticum - 1M जिस दिन Rhustox - 30 दिया दसरे दिन Causticum - 1M की दो-दो बूंद &nbsp;तीन बार दें और Causticum - 1M को Rhustox - 30 के आधे घंटे बाद देना है। ये Rhustox- 30 रोज की दवाई है। पर Causticum - 1M हफ्ते में एक दिन दो-दो बूंद तीन बार (सुबह, दोपहर, शाम) देनी चाहिए। &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ऐसे करके पक्षाघात के रोगी को दवा देंगे तो कोई एक महीने में &nbsp;ठीक हो जायेगा कोई 15-20 दिन में ठीक हो जायेगा किसी को 45 दिन लगेगें और ज्यादातर दो महीने से ज्यादा नहीं लगेंगे ठीक होने में। अगर किसी को Paralysis आने के 15 दिन या &nbsp;एक महीने बाद से दवा दिया जाये तो वो रोगी तीन महीने में ठीक हो जाते हैं, तीन महीने से ज्यादा समय नहीं लगता।</p>
