﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



मिरगी


 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">मिर्गी होने का सबसे प्रमुख कारण बुखार होने के समय दी जाने वाली दवाइयाँ के साइडइफेक्ट के कारण आदमी को इस प्रकार की बिमारियों में होती है अत्यधिक शराब पीना, अधिक शारीरिक श्रम, सिर में चोट लगने से भी यह बीमारी हो सकती है। इस रोग में अचानक से दौरा पडता है और रोगी गिर पडता है। हाथ और गर्दन अकड जाती है, पलकें एक जगह रूक जाती हैं, रोगी हाथ पैर पटकता है, जीभ अकड़ जाने से बोली नहीं निकलती, मुह से पीला झाग निकलता है। दात किटकिटाना और शरीर में कपंकपी होना सामान्य रूप से देखा जाता है। चारों तरफ या तो काला अंधेरा दिखाई देता है या सब चीजें सफेद दिखाई देती हैं। इस तरह के दौरे 10-15 मिनट से लेकर 1-2 घण्टे तक के भी हो सकते हैं। पुन: रोगी को जब होश आता है तब थका हुआ होता हैै और सो जाता है। इसके घरेलू उपचार निम्न लिखित हैं। - एक दवा का नाम है Rhustox - 30 इस Rhustox - 30 को लगातार करते हुए रोज सुबह, दोपहर, शाम दें साथ में एक और दवा है Causticum - 1M&nbsp; जिस दिन Rhustox - 30 दिया दसरे दिन Causticum - 1M की दो-दो बूंद तीन बार दें और Causticum - 1M को Rhustox - 30&nbsp; के आधे घंटे बाद देना है। &nbsp; ये&nbsp; Rhustox&nbsp; - 30 रोज की दवाई है। पर Causticum &ndash; 1M हफ्ते में एक दिन दो-दो बूंद तीन बार (सुबह, दोपहर, शाम) देनी चाहिए। - एक दाना गेहूँँ के बराबर चुना दहीं में मिलाकर दिन में एक बार 15 से 20 दिन तक देना है।&nbsp; Calcarea Phos 3X की 4 चार चार गोलियों को दिन में 3 बार रोगी को दे साथ में मिल सके तो नाक में सोते समय देशी गाय का घी भी जरुर डाले</p>
