﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">


न्युमोनिया



 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">जब फेफड़ों में लगातार दर्द रहने लगे तो न्युमोनिया कहलाता है। यह मुख्य: रूप से ठंड लग&nbsp; जाने&nbsp; के&nbsp; कारण&nbsp; तथा&nbsp; फेफड़ों&nbsp; में&nbsp; सूजन&nbsp; आ&nbsp; जाने&nbsp; से&nbsp; हो&nbsp; जाता&nbsp; है।&nbsp; सर्दी,&nbsp; गर्मी&nbsp; में परिवर्तन एकाएक पसीना आना, जीवाणुओं द्वारा संक्रमण आदि के कारण हो जाता है। इस बीमारी में फेफड़ों में कफ बढ़ जाता है। छाती में तेज दर्द रहता है। रोगी को बेहोशी आने लगती है। श्वास लेने में कष्ट होता है और खॉसी की भी शिकायत रहती है। न्युमोनिया में होम्योपैथिक दवा ACONITE -200 की 2 बूंद कप पानी में डालकर एक चम्मच में दिन तीन बार पिलाना है। केवल 1 ही दिन देना है</p>
