﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">


कैंसर



 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>




<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">कैंसर बहुत तेजी से बड़ रहा है इस देश में। हर साल बीस लाख लोग कैंसर से मर रहे हैं और हर साल नए केस आ रहे हैं और सभी डॉक्टर हाथ-पैर डाल चुके हैं। राजीव भाई की एक छोटी सी विनती है याद रखना कि..........&rsquo;कैंसर के मरीज को कैंसर से मृत्यु नहीं होती है बल्कि जो ईलाज कैंसर के लिए दिया जाता है उससे मृत्यु होती है।&rsquo;&rsquo; मतलब कैंसर से ज्यादा खतरनाक कैंसर का ईलाज है। ईलाज कैसा है आप सभी जानते हैं.............. कै​िम्योथैरेपी दे दिया, रेडियोथैरेपी दे दिया, कोबाल्ट-थैरेपी दे दिया। इसमें क्या होता है कि शरीर की जो प्रतिरक्षक शक्ति है वो बिल्कुल खत्म हो जाती है। जब कै​िम्योथैरेपी दी जाती है ये बोल कर कि हम कैंसर के सेल को मारना चाहते हैं तो अच्छे सेल &nbsp;भी उसी के साथ मर जाते हैं। राजीव भाई के पास कोई भी रोगी जो कै​िम्योथैरेपी लेने के बाद वे उनको बचा नही पाए। लेकिन इसका उल्टा भी रिकार्ड है......राजीव भाई के पास बिना कै​िम्योथैरेपी लिए हुए कोई भी रोगी आया दूसरी या तीसरी स्टेज तक वो&nbsp; एक भी नही मर पाया। मतलब क्या है ईलाज लेने के बाद जो खर्च आपने कर दिया वो तो मर ही गया और रोगी भी आपके हाथ से गया। डॉक्टर आपको भूल भूलया में रखता है अभी 6 महीने में ठीक हो जायेगा 8 महीने में ठीक हो जायेगा लेकिन अंत में वो जाता ही है। आपके घर परिवार में अगर किसी को कैंसर हो जाये तो ज्यादा खर्चा मत करिए क्योंकि जो खर्च आप करेंगे उससे मरीज का तो भूला नहीं होगा बल्कि उसको इतना कष्ट होता है कि आप कल्पना नहीं कर सकते। उसको जो इंजैक्शन दिए जाते हैं जो गोली खिलाई जाती है उसको जो कै​िम्योथैरेपी दी जाती है उससे सारे बाल उड़ जाते हैं, भौंहों के बाल उड़ जाते हैं, चेहरा इतना डरावना लगता है कि पहचान में नहीं आता ये अपना ही आदमी है। इतना कष्ट क्यों दे रहे हो उसको ? सिर्फ इसलिए कि आपको&nbsp; एक अंहकार है कि आपके पास बहुत पैसा है तो ईलाज करा के ही मानंगा। आप अपनी आस पड़ोस की बाते ज्यादा मत सुनिए क्योंकि आजकल हमारे रिश्तेदार बहुत भावनात्मक शोषण करते हैं। घर में किसी को गंभीर बीमारी हो गयी तो जो रिश्तेदार है वो पहले आ के कहते हैं अरे आल इंडिया नहीं ले जा रहे हो ? पी.जी.आई. नहीं ले जा रहे हो ? टाटा इंस्टीटियट मुंबई नहीं ले जा रहे हो ? आप कहोगे नहीं ले जा रहा हँ ....... अरे तुम बड़े कंजूस आदमी हो बाप के लिए इतना भी नहीं कर सकते माँ के लिए इतना नहीं कर सकते। ये बहुत खतरनाक लोग होते हैं। हो सकता है कई बार वो मासमियत के साथ कहते हो, उनका मकसद खराब नहीं होता हो लेकिन उनको जानकारी कुछ भी नहीं है, बिना जानकारी के वो सलाह पर सलाह देते जाते हैं और कई बार अच्छा खासा पढ़ा लिखा आदमी फंसता है उसी में......रोगी को भी गंवाता है पैसा भी जाता है। कैंसर के लिए क्या करे ? हमारे घर में कैंसर के लिए एक बहुत अच्छी दवा है.....अब डॉक्टरों ने मान लिया है पहले तो वे मानते भी नहीं थे उसका नाम है &lsquo;&lsquo;हल्दी&rsquo;&rsquo;। हल्दी कैंसर ठीक करने की ताकत रखती है। हल्दी में एक कैमिकल है उसका नाम है कर्कुमिन और ये ही कैंसर सेलों को मार सकता है बाकि कोई कैमिकल बना नहीं दुनिया में और ये भी आदमी ने नहीं भगवान ने बनाया है। हल्दी जैसा ही कर्कुमिन और एक चीस में है वो है देशी गाय के मूत्र में। गोमूत्र माने देशी गाय के शरीर से निकला हुआ सीधा साधा मूत्र जिसे सती के आठ परत की कपड़ों से छान कर लिया गया हो। तो देशी गाय का मूत्र अगर आपको मिल जाये और हल्दी आपके पास हो तो आप कैंसर का ईलाज आसानी से कर पायेंगे। अब देशी गाय का मूत्र आधा कप और आधा चम्मच हल्दी तथा आधा चम्मच पुनर्नवा चर्ण (पाउडर) तीनों को मिला के गरम करना जिससे उबाल आ जाये फिर उसको ठंडा कर लेना। कमरे के तापमान में आने के बाद रोगी को चाय की तरह पिलाना है.....चुस्कियां ले ले कर सिप कर करके पियें, इससे अच्छा नतीजा आयेंगा। इस दवा में सिर्फ देशी गाय का मूत्र ही काम में आता है जर्सी का मूत्र कुछ काम नहीं आता। और दो देशी गाय काले रंग का हो उसका मूत्र सबसे अच्छा परिणाम देता है इन सब में। इस दवा को (देशी गाय की मूत्र, हल्दी, पुनर्नवा) सही अनुपात में मिला के उबाल के ठंडा करके कांच के पात्र में स्टोर करके रखिए पर बोतल को कभी फ्रिज मं मत रखिये। ये दवा कैंसर के सेकंड स्टेज में और कभी-कभी थर्ड स्टेज में भी बहुत अच्छे परिणाम देती है। जब स्टेज थर्ड क्रास करके चौथी स्टेज में पहुंच जाये तब परिणाम में सफलता की प्रतिशतता थोड़ी कम हो जाती है और अगर आपने किसी रोगी को कै​िम्योथैरेपी दे दिया तो फिर इसका कोई असर नहीं आता। कितना भी पिला दो कोई परिणाम नहीं आता। आप अगर किसी रोगी को ये दवा दे रहे है तो उसे पछ लीजिये जान लीजिये कहीं कै​िम्योथैरेपी शुरू तो नहीं हो गयी ? अगर शुरू हो गयी है तो आप उसमें हाथ मत डालिए, जैसा डॉक्टर करता है करने दीजिये, आप भगवान से प्रार्थना कीजिये उसके लिए....इतना ही करें। और अगर कै​िम्योथैरेपी&nbsp; शुरू नहीं हुई है और उसने कोई ऐलोपैथी ईलाज शुरू नहीं किया तो आप देखेंगे इसके चमत्कारिक परिणाम आते है। ये सारी दवाई काम करती है शरीर की प्रतिकारक शक्ति पर। हमारी जो जीवनी शक्ति है (Vitality) उसका सुधार करती है। हल्दी को छोड़कर गोमूत्र और पुनर्नवा शरीर की जीवनी शक्ति को और ताकतवर बनाती है और जीवनी शक्ति के ताकतवर होने के बाद कैंसर के सेलों को खत्म करती है। ये तो बात हुई कैंसर की चिकित्सा की, पर जिंदगी में कैंसर आए ही ना ये और भी अच्छा है। तो जिंदगी में आपको कभी कैंसर ना हो उसके लिए एक बात याद रखिए आप खाना बनाने में जो तेल इस्तेमाल करते हैं वो रिफाईड तेल या डालडा ना हो। ये देख लीजिए दूसरा जो भी खाना खा रहे हैं उसमें रेशेदार भोजन का हिस्सा ज्यादा हो जैसे छिलके वाली दालें, छिलके वाली सब्जियां, चावल भी छिलके वाला, अनाज भी छिलके वाला तो आप निश्चिन्त रहं आपको कभी कैंसर नहीं होगा। और कैंसर के सबसे बड़े कारणों में से दो तीन कारण है रसायनिक खाद और कीटनाशक का प्रयोग। कैंसर के बारे में सारी दुनिया एक ही बात कहती हैं चाहे वो डॉक्टर हो विशेषज्ञ हो या वैज्ञानिक हो कि इससे बचाव ही इसका उपाय है। महिलायों में आजकल बहुत कैंसर हो रहे है गर्भाशय के, स्तन के और ये काफी तेजी से बढ़ रहे हैं। पहले गांठ (ट्यूमर) होती है फिर वो कैंसर में बदल जाता है। माताओं और बहनों को क्या करना है कि जिदंगी में कभी (ट्यूमर) ही ना आए। आप के लिए सबसे अच्छा बचाव का काम है जैसे ही आपके शरीर के किसी भी हिस्से में किसी रसौली या गांठ (Unwanted Groth) का पता चलें तो सावधान हो जाईये। हालांकि सभी गांठ या रसौली कैंसर नहीं होती है। 2 या 3 प्रतिशत ही कैंसर में बदलती हैं। लेकिन आप के पास इस रसौली या गांठ को ठीक करने की दुनिया की सबसे अच्छी दवा है &lsquo;&lsquo;चुना&rsquo;&rsquo;। चुना वही जो पान में खाया जाता है। पान वाले की दुकान से चुना ले लाईये यह चुना एक गेहँ के दाने के बराबर रोज खाईये, दही में मिला कर, लस्सी में मिला कर, छाछ या मट्ठा में मिला कर, दाल में&nbsp;&nbsp; मिलाकर, सब्जी में मिलाकर खा लीजिए। अधिक से अधिक तीन महीने तक। ध्यान रहे पथरी के रोगी चुना नहीं खा सकते।</p>
