﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">


स्त्री रोगल्यूकोरिया रक्त प्रदूर मासिक धर्म की अधिकता अनियमितता



 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>






<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">अशोक 4-5 पतें लीजिये, उसे सुबह उसको आंच पर बर्तन में तब तक उबालें जब तक कि वो आधा ना बचे और फिर ठंडा करके पी लीजिये और पतों को चबाकर खा लीजिये (इसे छन्ना नही है) ऐसा लगातार एक महीने तक करना है अगर एक महीने में पूरा ठीक ना या लाभ कम हो तो फिर से एक महीने और दवा लेना पडेगा मासिक धर्म के दौरान अधिक रक्तस्राव, अनियमित मासिक धर्म, ल्यूकोरिया, बदबूदार मासिक धर्म, बवासीर, रजोनिवृति के समय में ये काढा पी सकते हो, शरीर में कहीं दर्द हो तो, मासिक धर्म के दौरान होने वाली किसी भी समस्या के लिए ये राम बाण और अचूक औषधि है मासिक स्राव में किसी भी अगर बहुत तकलीफ हो रही हो तो(ये कमर दर्द, स्तनों में दर्द, पेट दर्द और चक्कर आना (जो की मासिक धर्म के समय पर होती है) होने वाली किसी भी समस्या के लिए ये राम बाण और अचूक औषधि है) 250 ग्राम गर्म पानी में (घी पिघला होतो 3 चम्मच जमा हुआ हो तो 1 चम्मच) डालकर पीने से लाभ होगा। यह पानी मासिक स्राव वाले दिनों के दौरान ही पीना है पूरा रोग ठीक हो जायेगा ।</p>
