﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">


गर्भावस्था



 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">जब कोई माँ गर्भावस्था में है तो चुना रोज खाना चाहिए क्योकि गर्भवती माँ को सबसे ज्यादा काल्सियम की जरुरत होती है और चुना कैल्सियम का सबसे बड़ा भंडार है । गर्भवती माँ को चुना खिलाना चाहिए अनार के रस में - अनार का रस एक कप और चुना गेहूँ के दाने के बराबर ये मिलाकर रोज पिलाइए नौ महीने तक लगातार दीजिये तो चार फाईदे होंगे - पहला फाईदा होगा के माँ को बच्चे के जनम के समय कोई तकलीफ नही होगी और नोर्मल डेलीभरी होगा, दूसरा बच्चा जो पैदा होगा वो बहुत हस्त-पुष्ट और तंदरुस्त होगा, तीसरा फायदा वो&nbsp;बच्चा जिन्दगी में जल्दी बीमार नही पड़ता जिसकी माँ ने चुना खाया, और चौथा सबसे बड़ा लाभ है वो बच्चा बहुत होसियार होता है बहुत Intelligent और ठतपससपंदज होता है उसका IQ बहुत अच्छा होता है ।</p>
