﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">


बच्चे का पेट में उल्टा होना



 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>


<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">यह एक बहुत ही गंभीर स्थिती है जिससे अधिकांश महिलाएं प्रसव के दौरान गुजरती हैं. अपने विकास काल के दौरान कभी-कभी शिशु गर्भाशय में आडा या उल्टा हो जाता है. यह&nbsp;स्थिति माता और शिशु दोनां के ही जीवन के लिए खतरनाक हो सकती है। होम्योपैथी मैं दवा हैं जो इस प्रकार के आपात अवस्था में देने पर फौरन गर्भ में शिशु की स्थिति को भी पुन: सही कर देती हैं जिसका नाम है Pulsatila 200</p>
