﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



प्रसव में समस्या


 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>


<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">प्रसव में देरी होने पर या गर्भ में पल रहे है बच्चे का आडा या उल्टा होने की सबसे अच्छी दवाई है जब डॉक्टर कितना भी चिल्लाये अॉपेशन करवाओ तब आप अपने मरीज को घर ले आओ या ऐसे किसी डॉक्टर के पास मरीज को लेकर ही मत जाइए. गाय के गोबर और गोमूत्र एक ऐसी विशिष्ट दवा हैं जो इस प्रकार के आपात अवस्था मे देने पर फौरन अपना प्रभाव उत्पन्न करती हैं चाहे डॉक्टर कितना ही चिल्लाये आप किसी देशी बछडी का गोमूत्र और गोबर लेकर आपस में मिलाइये और उसका रस निकल कर माँ को चार चार घंटे के अंतर में 3 बार पिला दीजिये पेट के आदत उल्टा बच्चा भी सीधा हो जाता है और बिना किसी दर्द बच्चा बाहर आ जाता है लेकिन ये दवा 9 महीना पूरा होने के बाद होने वाले प्रसव में ही काम आती है उससे पहले ये अगर बच्चा 7-8 महीने में होता है तो ये दवा इतना काम नही आती है ये रुकी हुई प्रसव पीडा को पुन: प्रारंभ करती हैं, शिशु जन्म को सरल बनती हैं तथा गर्भ में&nbsp;&nbsp; शिशु&nbsp;&nbsp; की स्थिति को भी पुन: सही कर देती है।</p>
