﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



दमा, अस्थमा, ब्रोन्कियल अस्थमा



 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">छाती की कुछ बिमारिया जैसे दमा, अस्थमा, ब्रोन्कियल अस्थमा, टीबी, इनकी सबसे अच्छा दवा है :- - गाय मूत्र :- आधा कप देशी गाय का गोमूत्र सुबह पीने से दमा अस्थमा, ब्रोन्कियल अस्थमा सब ठीक होता है। और गोमूत्र पीने से टीबी भी ठीक हो जाता है, लगातार पांच छह महीने पीना पड़ता है। ऐसा करने से गौमूत्र 1 में दमा, अस्थमा ठीक है - दमा अस्थमा :- दमा अस्थमा की और एक अच्छी दवा है दालचीनी, इसका पाउडर रोज सुबह आधे चम्मच खाली पेट गुड या शहद मिलाकर गरम पानी के साथ लेने से दमा अस्थमा ठीक कर देती है। ऐसा करने से गौमूत्र 3 में दमा, अस्थमा ठीक है</p>
