﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">

देशी गाय घी के दिन रात काम आने वाले उपयोग

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>


<ol class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">
	<li style="text-align: justify;">मासिक स्राव में किसी भी तरह की गडबडी में 250 ग्राम गर्म पानी में (घी पिघला होतो 3 चम्मच जमा हुआ हो तो 1 चम्मच) डालकर पीने से लाभ होगा। यह पानी मासिक स्राव वाले दिनों के दौरान ही पीना है</li>
	<li style="text-align: justify;">गाय का नाक में डालने से एलर्जी खत्म हो जाती है, ये दुनिया की सारी दवाइयों से तेज असर दीखता है।</li>
	<li style="text-align: justify;">गाय का नाक में डालने से कान का पर्दा बिना आपरेशन के ठीक हो जाता है।</li>
	<li style="text-align: justify;">नाक में घी डालने से नाक की खुस्की दूर होती है और दिमाग तरो ताजा हो जाता है ताजा हो जाता है।</li>
	<li style="text-align: justify;">गाय का घी नाक में डालने से मानसिक शांति मिलती है, याददाश्त तेज होती है।</li>
	<li style="text-align: justify;">गर्भवती माँ को गौ माँ का घी अवश्य खाना चाहिए इससे गर्भ में पल रहा शिशु बलवान, पुष्ट और बुद्धिमान होता है।</li>
	<li style="text-align: justify;">दो बूंद देसी गाय का घी नाक में सुबह शाम डालने से माइग्रेन दर्द ढीक होता है।</li>
	<li style="text-align: justify;">जिस व्यक्ति को बहुत हार्ट ब्लाकेज की तकलीफ है और चिकनाइ खाने की मना किया गया हो, तो गाय का घी खाएं, हार्ट ब्लाकेज दूर होता है।</li>
	<li style="text-align: justify;">देशी घी के प्रयोग से नाक से पानी बहना, नाक की हड्डी बढना तथा खर्राटे बूंद हो जाते हैं।</li>
	<li style="text-align: justify;">सर्दी जुकाम होने पर गाय का घी थोडा गर्म कर 2-2 बूँद दोनों नाक में डाल कर सोयं।</li>
	<li style="text-align: justify;">अच्छी नींद के लिए, माइग्रेन और खर्राटे से निजात पाने के लिए भी उपरोक्त विधि अपनाएँ।</li>
</ol>
