﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



गले में कोई भी इन्फेक्शन, टौंसिल



 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>





<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">गले में कितनी भी खराब से खराब बीमारी हो, कोई भी इन्फेक्शन हो, इसकी सबसे &nbsp;अच्छी दवा है हल्दी । जैसे गले में दर्द है, खरास है, गले में खासी है, गले में कफ जमा है, गले में टौंसिल हो गया, ये सब बिमारिओं में आधा चम्मच कच्ची हल्दी का रस लेना और मुह &nbsp;खोल कर गले में डाल देना, और फिर थोड़ी देर चुप होकर बैठ जाना तो ये हल्दी गले में नीचे उतर जाएगी लार के साथ, और एक खुराक में ही सब बीमारी ठीक होगी दुबारा डालने की जरुरत नही । ये छोटे बच्चों को तो जरुर करना य बच्चां के टोन्सिल जब बहुत तकलीफ देते है ना तो हम अॉपरेशन करवाकर उनको कटवाते है वो करने की जरुरत नही है हल्दी से सब ठीक होता है ।</p>
