﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



तपेदिक क्षयरोग टीबी (Tubercle Bacillus)



 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>






<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">- टीबी के लिए डोट्स का जो इलाज है, गोमूत्र के साथ उसका असर 20-40 गुणा तक बढ जाता है । - आधा कप देशी गाय का गोमूत्र सुबह पीने टीबी ठीक हो जाता है, लगातार पांच छह महीने पीना पड़ता है ।</p>

