﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



हाइपरथाइराडिज्म हाइपोथायरायडिज्म



 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>





<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">गोमूत्र माने देशी गाय (जर्सी नही) के शरीर से निकला हुआ सीधा साधा मूत्र जिसे &nbsp;सती के आठ परत की कपड़ों से छान कर लिया गया हो। - गोमूत्र वात और कफ&nbsp; को अकेला ही नियंत्रित कर लेता है। पित्त के रोगों के लिए इसमें कुछ औषधियाँ मिलायी जाती हैं। - आधा कप देशी गाय का गोमूत्र सुबह पीने से दमा अस्थमा, ब्रोन्कियल अस्थमा सब&nbsp; ठीक&nbsp; होता&nbsp; है।&nbsp; और&nbsp; गोमूत्र&nbsp; पीने&nbsp; से&nbsp; टीबी&nbsp; भी&nbsp; ठीक&nbsp; हो&nbsp; जाता&nbsp; है,&nbsp; लगातार पांच छह महीने पीना पड़ता है। - गोमूत्र में पानी के अलावा कैल्शियम, सल्फर, आयरन जैसे 18 सूक्ष्म पोषक तत्व पाए जाते हैं। - त्वचा का कैसा भी रोग हो, वो शरीर में सल्फर की कमी से होता हए। Soarises, Egzima, घुटने दुखना, खाँसी, जुकाम, टीबी के रोग आदि सब गोमूत्र के सेवन से ठीक हो जाते हैं क्योंकि&nbsp; यह सल्फर का भंडार है। - टीबी के लिए डोट्स का जो इलाज है, गोमूत्र के साथ उसका असर 20-40 गुणा तक बढ जाता है। - शरीर में एक रसायन होता है जिसे Curcumin कहते हैं। इसकी कमी से कैंसर रोग होता है। जब इसकी कमी होती है तो शरीर के सेल बेकाबू हो जाते हैं और ट&icirc; ूमर का रूप ले लेते हैं। गोमूत्र और हल्दी में यह रसायन प्रचुर मात्रा में पाया जाता है। - आँख के रोग कफ से होते हैं। आँखों के कई गंभीर रोग हैं जैसे ग्लूकोमा, Retinal Detachment (जिसका कोई इलाज नहीं है एलोपैथी में), मोतिया​िबूंद आदि सब आँखों के रोग गोमूत्र से ठीक हो जाते हैं। ठीक होने का मतलब कंट्रोल नहीं, जड&nbsp; से ठीक हो जाते हैं! आपको करना बस इतना है कि ताजे गोमूत्र को कपडे से छानकर आँखों में डालना है। - बाल झडते हों तो ताम्बे के बर्तन में गाय के दूध से बने दही को 5-6 दिन के लिए रख दें। जब इसका रंग बदल जाए तो इसे सिर पर लगा कर घ घंटे तक रखें। ऐसा सप्ताह में 4 बार कर सकते हैं। कई लोगों को तो एक ही बार से लाभ हो जाता है! - गाय के मूत्र में पानी मिलाकर बाल धोने से गजब की कंडीशनिंग होती है। - छोटे बच्चों को बहुत जल्दी सर्दी जुकाम हो जाता है। घ चम्मच गो मूत्र पिला दीजिए सारी बलगम साफ हो जाएगी। - किडनी तथा मूत्र से सम्बंधित कोई समस्या हो जैसे पेशाब रुक कर आना, लाल आना आदि तो आधा कप (50 मिली) गोमूत्र सुबह-सुबह खाली पेट पी लें। इसको दो बार पीएं यानी पहले आधा पीएं फिर कुछ मिनट बाद बाकी पी लें। कुछ ही दिनों में लाभ का अनुभव होगा। - बहुत कब्ज हो तो कुछ दिन तक आधा कप गोमूत्र पीने से कब्ज खत्म हो जाती है। - गोमूत्र की मालिश से त्वचा पर सफेद धब्बे और डार्क सर्कल कुछ ही दिनों में खत्म हो जाते हैं। गोमूत्र को सुबह खाली पेट पीना सर्वोत्तम होता है। जो लोग बहुत बीमार हैं, उन्हें 100 मिली से अधिक सेवन नहीं करना चाहिए। यह जमं बनच का आधे से अधिक भाग होता है। इसे कुछ मिनट का अंतराल देकर दो किश्तों में पीना चाहिए। नीरोगी व्यक्ति को 50 मिली से अधिक नहीं पीना चाहिए। गोमूत्र केवल उन्हीं गोमाता का पीएं जो चलती हों क्योंकि उन्हीं का मूत्र उपयोगी होता है। बैठी हुई गोमाता का मूत्र किसी काम का नहीं होता। जैसे, जर्सी गाय कभी नहीं घूमती और उसके मूत्र में केवल 3 ही पोषक तत्व पाए जाते हैं। वहीं देसी गाय के मूत्र में 18 पोषक तत्व पाये जाते हैं।</p>
