﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



गोमूत्र-घृत-दुग्ध के गुण



 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>




<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">भारत के जो लोग चुने से पान खाते है, बहुत होसियार लोग है पर तम्बाकू नही खाना, तम्बाकू जहर है और चुना अमृत है .. तो चुना खाइए तम्बाकू मत खाइए और पान खाइए चुने का उसमे कत्था मत लगाइए, कत्था कैंसर करता है, पान में सुपारी मत डालिए सोंट डालिए उसमे, इलाइची डालिए, लोंग डालिए. केशर डालिए य ये सब डालिए पान में चुना लगाके पर तम्बाकू नही, सुपारी नही और कत्था नही । महिलाओं के लिए गर्भाशय की बीमारीयों में यह बहुत अच्छा काम करता है जैसे कि सफेद पानी आना, लाल पानी आना, माहवारी आगे-पीछे होना, गर्भाशय में गांठ बन जाना तथा अन्य सभी गर्भाशय से जुड़ी बीमारीयों को चुना ठीक करता है। बाल टॅटना, चेहरे के मुहांसे, हड्डी के टूटने पर, जोड़ों के दर्द में, हीमोग्लोबिन का प्रतिशत कम हो तो, हैपेटाईटिस A, B, C, D, E, स्मरण शक्ति कम हो तो, हाथी पैर हो गया तो इन सब बीमारीयों में चुना दही में अथवा पानी में मिला कर लेना चाहिये। पुरूषों में शुक्राणु बढ़ाने के लिए चुना गन्ने या संतरे या मौसम्मी के रस में लेना चाहिए। 14 साल से कम आयु के बच्चे जिनका कद छोटा हो, महिलायें जिनमें वक्ष का कम विकास हो, दांतों की किसी भी तरह की समस्या, इन सबमें में चने का सेवन करना लाभदायक है। मात्रा: - एक गेहँ के दाने के बराबर दिन में एक बार जोड़ों का दर्द यदि बहुत पुराना हो भूले 20 साल या 30 साल पुराना हो या जब डॉक्टर कहे कि घुटने बदलने पड़ेगें उस समय चुना काम नहीं करेगा। उसको चने की जगह हारश्रृंगार के पत्तों का काढ़ा देना पड़ेगा। हारश्रृंगार को पारीजात भी कहते हैं। इसमें सफेद रंग के छोटे फूल होते हैं जिनकी नारंगी रंग की डंडी होती है। इसके फूलों में बहुत तेज खशब होती है। इस पेड़ के 7-8 पत्तों को बारीक पीस कर चटनी जैसा बनाकर एक गिलास पानी में उबालें, आधा गिलास रह जाने पर सुबह खाली पेट पी लें। तीन महीने में यह समस्या बिल्कुल ठीक हो जायेगी। किसी भी तरह का बुखार होने की स्थिति में भी यह काढ़ा काम करता है। उस स्थिति में 7-8 दिन ही देना है। नोट: - पथरी की बीमारी के मरीज चुना नहीं ले सकते।</p>
