﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



हृदय ब्लॉक का आयुर्वेदिक इलाज



 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>




<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">दोस्तो अमेरिका की बड़ी बड़ी कंपनिया जो दवाइया भारत में बेच रही है ! वो अमेरिका में 20-20 साल से बूंद है ! आपको जो अमेरिका की सबसे खतरनाक दवा दी जा रही है ! वो आज कल दिल के रोगी (Heart Patient) को सबसे दी जा रही है !! भगवान ना करे कि आपको कभी जिंदगी में दिल का दौरा आए ! लेकिन अगर आ गया तो आप जाएँगे डाक्टर के पास ! और आपको मालूम ही है एक एंजियोप्लास्टी आपरेशन आपका होता है ! एंजियोप्लास्टी आपरेशन में डाक्टर दिल की नली में एक ​िस्प्रंग डालते हैं ! उसको स्टंट कहते हैं ! और ये स्टंट अमेरिका से आता है और इसका cost of production सिर्फ 3 डालर का है ! और यहाँ लाकर वो 3 से 5 लाख रुपए में बेचते है और ऐसे लूटते हैं आपको ! और एक बार अटैक में एक स्टंट डालेंगे ! दूसरी बार दूसरा डालेंगे! डाक्टर को कमीशन है इसलिए वे बार बार कहता हैं एंजियोप्लास्टी करवाओ !! इस लिए कभी मत करवाए ! तो फिर आप बोलेंगे हम क्या करे ????! आप इसका आयुर्वेदिक इलाज करे बहुत बहुत ही सरल है ! पहले आप एक बात जान ली जिये ! एंजियोप्लास्टी आपरेशन कभी किसी का सफल नहीं होता !! क्यूंकि डाक्टर जो ​िस्प्रंग दिल की नली में डालता है !! वो ​िस्प्रंग बिलकुल चमद के ​िस्प्रंग की तरह होता है और कुछदिन बाद उस ​िस्प्रंग की दोनां साइड आगे और पीछे फिर ब्लॉकेज जमा होनी शुरू हो जाएगी ! और फिर दूसरा अटैक आता है और डाक्टर आपको फिर कहता है ! एंजियोप्लास्टी आपरेशन करवाओ ! और इस तरह आपके लाखो रूपये लूटता है और आपकी जंिदगी इसी में निकाल जाती है ! ! !अब पढिये इसका आयुर्वेदिक इलाज !! हमारे देश भारत में 3000 साल एक बहुत बड़े ऋषि हुये थे उनका नाम था महाऋषि वागवट जी !! उन्होने एक पुस्तक लिखी थी जिसका नाम है अष्टांग हृदयम!! और इस पुस्तक में उन्होने ने बीमारियो को ठीक करने के लिए 7000 सूत्र लिखे थे ! ये उनमे से ही एक सूत्र है वागवट जी लिखते है कि कभी भी हर। को घात हो रहा है ! मतलब दिल की नलियो में ब्लॉकेज होनाशुरू हो रहा है&nbsp; ! तो इसका मतलब है कि रक्त (ब्लड) में एसिडिटी (अमलता) बढ़ी हुई है ! अमलता (एसिडिटी) दो तरह की होती है, एक होती है पेट कि अमलता और एक होती है रक्त की अमलता.&nbsp;आपके पेट में अमलता जब बढ़ती है ! तो आप कहेंगे पेट में जलन सी हो रही है! तो हाइपर एसिडिटी होगी ! और यही पेट की अमलता बढ़ते-बढ़ते जब रक्त में आती है तो रक्त अमलता (ब्लड एसिडिटी) होती !! और जब ब्लड में एसिडिटी बढ़ती है तो ये अमलीय रक्त (ब्लड) दिल की नलियो में से निकल नहीं पाता ! और नलिया में ब्लॉकेज कर देता है ! तभी दिल का दौरा होता है !! इसके बिना दिल का दौरा नहीं होता !! और ये आयुर्वेद का सबसे बढ़ा सच है जिसको कोई डाक्टर आपको बताता नहीं ! क्यूंकि इसका इलाज सबसे सरल है !! इलाज क्या है ?? वागबट जी लिखते है कि जब रक्त (ब्लड) में अमलता (एसिडिटी) बढ़ गई है ! तो आप ऐसी का उपयोग करो जो छारीय है ! आप जानते है दो तरह की चीजे होती है ! अमलीय और छारीय(acid and एल्कलाइन) !! अब अमल और छार को मिला दो तो न्यूट्रल(उदासीन) होता है सब जानते है !! तो वागबट जी लिखते है ! कि रक्त कि अमलता बढ़ी हुई है तो छारीय (एल्कलाइन) चीजे खाओ ! तो रक्त की अमलता&nbsp; (एसिडिटी) न्यूट्रल(उदासीन) हो जाएगी और रक्त में अमलता न्यूट्रल(उदासीन) हो गई ! तो दिल का दौरा की जिंदगी में कभी संभावना ही नहीं!! ये है सारी कहानी !! अब आप पूछोगे जी ऐसे कौन सी चीजे है जो छारीय है और हम खाये ????? आपके रसोई&nbsp;&nbsp; घर में सुबह से शाम तक ऐसी बहुत सी चीजे है जो छारीय है&nbsp; ! जिनहे आप खाये तो कभी दिल का दौरा ना आए ! और अगर आ गया है ! तो दुबारा ना आए !! सबसे ज्यादा आपके घर में छारीय चीज है वह है लोकी !! जिसे दुदी भी कहते है !! अंग्रेजी में&nbsp;&nbsp; इसे कहते है bottle gourd !!! जिसे आप सब्जी के रूप में खाते है ! इससे ज्यादा कोई &nbsp;छारीय चीज ही नहीं है ! तो आप रोज लोकी का रस निकाल-निकाल कर पियो !! या कच्ची लोकी खायो !! &nbsp;रोज 200 से 300 मिलीग्राम पियो, सुबह खाली पेट (toilet जाने के बाद ) पी सकते है या नाश्ते &nbsp;के आधे&nbsp;&nbsp; घंटे के बाद पी सकते है !! इस लोकी के रस को आप और ज्यादा छारीय बना सकते है ! इसमे 7 से 10 पत्ते के तुलसी के डाल लो तुलसी बहुत छारीय है !! इसके साथ आप पुदीने से 7 से 10 पत्ते मिला सकते है ! पुदीना बहुत छारीय है ! इसके साथ आप काला नमक या सेंधा नमक जरूर डाले ! ये भी बहुत छारीय है !! लेकिन याद रखे नमक काला या सेंधा ही डाले ! वो दूसरा आयोडीन युक्त नमक कभी ना डाले !! ये आयोडीन युक्त नमक अम्लीय है !!!! तो मित्रो आप इस लोकी के जूस का सेवन जरूर करे !! 2 से 3 महीने आपकी सारी ीमंतज की ब्लॉकेज ठीक कर देगा !! 21 वे दिन ही आपको बहुत ज्यादा असर दिखना शुरू हो जाएगा !!!</p>
