﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">



लौकी परीक्षण



 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>




<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">ये केसे पता करें की लोकी असली है या इंजेक्शन लगे हुई है ! आप लोग लोकी पर नाखून लगाकर देख लीजिये की नाखून पूरा आंदर जाता है या नही -&nbsp; अगर नाखून पूरा अंदर जाता है तो लोकी असली है -&nbsp; अगर नाखून पूरा अंदर नही जाता है और वह पर केवल निशान बन जाता है तो लोकी इंजेक्शन लगाई गई लोकी है कोई आपरेशन की आपको जरूरत नहीं पड़ेगी !! घर में ही हमारे भारत के आयुर्वेद से इसका इलाज हो जाएगा !! और आपका अनमोल शरीर और लाखो रुपए आपरेशन के बच जाएँगे !! और पैसे बच जाये ! तो किसी गौशाला में दान कर दे ! डाक्टर को देने से अच्छा है !किसी गौशाला दान दे !! हमारी गौ माता बचेगी तो भारत बचेगा !!</p>
