﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">

ब्रेन मलेरिया टाइफाईड चिकुनगुनिया डेंगू स्वाइन  फ्लू  इन्सेफेलाइटिस माता व अन्य के बुखार

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>


<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">मित्रो बहुत सारे बुखार तेजी से भारत देश में फैल रहे है ।। करोडो की संख्या में लोग इससे प्रभावित हो रहे है। और लाखों लोग मर रहे है। हमेशा की तरह सरकार के हाथपर हाथ रखे तमशा देख रही है। श्री राजीव दीक्षित जी ने गाँव-गाँव घम-घम कर आयुर्वेदिक दवा से लाखो लोगो को बचाया है।। और&nbsp; ये दवा बनानी कितनी आसान है।</p>

<ol class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">
	<li style="text-align: justify;">20 पत्ते तुलसी, नीम की गिलोई का सत् 5gm, सोंठ (सुखी अदूरक) 10gm, 10 छोटी पीपर के टुकडे, सब आपके घर में आसानी से उपलब्ध हो जाती है। सब एक जगह पर कटने के बाद एक गिलास पानी में उबालकर काढा बनाना है ठन्डा होने के बाद दिन में सुबह, दोपहर और श्याम तीन बार पीना चाहिए।</li>
	<li style="text-align: justify;">नीम गिलोई - इसका जस डंगू रोग में श्वेत रक्त कणिकाये, प्लेट-लेट्स कम होने पर तुरंत बढ़ाने में बहुत ज्यादा काम आता है।</li>
	<li style="text-align: justify;">एक और अच्छी दवा है, एक पेड़ होता है उसे हिंदी में हारसिंगार कहते है, संस्कृत में पर पारिजात कहते है, बंगला में शिउली कहते है, उस पेड़ पर छोटे छोटे सफेद फूल आते है, और फुल की डंडी नारंगी रंग की होती है, और उसमे खुश्ब बहुत आती है, रात को फूल nखिलते है और सुबह जमीन में गिर जाते है । इस पेड़ के पांच पत्ते तोड के पत्थर में पिस के चटनी बनाइये और एक ग्लास पानी में इतना गरम करो के पानी आधा हो जाये फिर इसको ठंडा करके रोज सुबह खाली पेट पियो तो बीस बीस साल पुराना गठिया का दर्द इससे ठीक हो जाता है । और यही पत्ते को पिस के गरम पानी में डाल के पियो तो बुखार ठीक कर देता है और जो बुखार किसी दवा से ठीक नही होता वो इससे ठीक होता है जैसे चिकनगुनिया का बुखार, डंगू फीवर, Encephalitis, ब्रेन मलेरिया, ये सभी ठीक होते है ।</li>
</ol>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">इनके प्रयोग से आप रोगी की जान बचा सकते हैं। मात्र इसकी 3 खुराक से राजीव भाई ने लाखों लोगो को बुखार से मरने से बचाया था। अपना अनमोल जीवन और पैसा बचाइए ।</p>
