﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">

चूना जो आप पान में खाते है वो सत्तर बीमारी ठीक कर देते है

 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">
जैसे किसी को पीलिया हो जाये माने जोंडिस उसकी सबसे अच्छी दवा है चूना या गेहूँ के दाने के बराबर &nbsp;चूना गन्ने के रस में मिलाकर पिलाने से बहुत जल्दी पीलिया ठीक कर देता है । और यही चूना नपुंसकता की सबसे अच्छी दवा है - अगर किसी के शुक्राणु नही बनता उसको अगर गन्ने के रस के साथ चूना पिलाया जाये तो साल देड साल में भरपूर शुक्राणु बन्ने लगेंगे या और जिन माताओं के शरीर में अन्डे नही बनते उनकी बहुत अच्छी दवा है चूना । बिद्याथ्र्ाीयों के लिए चूना बहुत अच्छी है जो लम्बाई बढाती है - गेहूँ के दाने के बराबर चूना रोज दही में मिलाकर खाना चाहिए, दही नही है तो दाल में मिलाकर खाओ, &nbsp;दाल नही है तो पानी में मिलाकर पियो - इससे लम्बाई बढने के साथ साथ स्मरण शक्ति भी बहुत अच्छा होता है । जिन बच्चो की बुद्धि कम काम करती है मतिमंद बच्चे उनकी सबसे अच्छी दवा है चूना, जो बच्चे बुद्धि से कम है, दिमाग देर में काम करते है, देर में सोचते है हर चीज उनकी स्लो है उन सभी बच्चे को चूना खिलाने से अच्छे हो जायंगे । बहिनों को अपने मासिक धर्म के समय अगर कुछ भी तकलीफ होती हो तो उसका सबसे अच्छी दवा है &nbsp;चूना । और हमारे घर में जो माताएं है जिनकी उम्र पचास वर्ष हो गयी और उनका मासिक धर्म बंध हुआ उनकी सबसे अच्छी दवा है चूनाय गेहूँ के दाने के बराबर चूना हरदिन खाना दाल में, लस्सी में, नही तो पानी में घोल के पीना । जब कोई माँ गर्भावस्था में है तो चूना रोज&nbsp; खाना चाहिए किउंकि गर्भवती माँ को सबसे जादा काल्सियम की जरुरत होती है और चूना कैल्सियम का सब्से बड़ा भंडार है । गर्भवती माँ को चूना खिलाना चाहिए अनार के रस में - अनार का रस एक कप और चूना गेहूँ के दाने के बराबर ये मिलाके रोज पिलाइए नौ महीने तक लगातार दीजिये तो चार फाईदे होंगे - पहला फाईदा होगा के माँ को बच्चे के जन्म के समय कोई तकलीफ नही होगी और नोर्मल डेलीभरी होगा, दूसरा बच्छा जो पैदा होगा वो बहुत हस्ट-पुष्ट और तंदरुस्त होगा, तीसरा फायदा वो बच्छा जिन्दगी में जल्दी बीमार नही पड़ता जिसकी माँ ने चूना खाया, &nbsp;और चौथा सबसे बड़ा लाभ है वो बच्छा बहुत होसियार होता है बहुत Intelligent और Brilliant होता है उसका IQ बहुत अच्छा होता है । चूना घुटने का दर्द ठीक करता है, कमर का दर्द ठीक करता है, कंधे का दर्द ठीक करता है, एक खतरनाक बीमारी है Spondylitis वो चुने से ठीक होता है । कई बार हमारे रीड़ की हड्डी में जो मनके होते है उसमे दुरी बड़ जाती है ळंच आ जाता है - ये चूना ही ठीक करता है रीड़ की हड्डी की सब बीमारिया चुने से ठीक होता है। अगर आपकी हड्डी टूट जाये तो टूटी हुई हड्डी को जोड़ने की ताकत सबसे जादा चुने में है। चूना खाइए सुबह को खाली पेट । अगर मुह में ठंडा गरम पानी लगता है तो चूना खाओ बिलकुल ठीक हो जाता है, मुह में अगर छाले हो गए है तो चुने का पानी पियो तुरन्त ठीक हो जाता है । शारीर में जब खून कम हो जाये तो चूना जरुर लेना चाहिए, अनीमिया है खून की कमी है उसकी सबसे अच्छी दवा है ये चूना, चूना पीते रहो गन्ने के रस में, या संतरे के रस में नही तो सबसे अच्छा है अनार के रस में - अनार के रस में चूना पिए खून बहुत बढता है, बहुत जल्दी खून बनता है -&nbsp; एक कप अनार का रस गेहूँ के दाने के बराबर चूना सुबह खाली पेट । भारत के जो लोग चुने से पान खाते है, बहुत होसियार लोग है पर तम्बाकू नही खाना, तम्बाकू जहर है &nbsp;और चूना अमृत है, तो चूना खाइए तम्बाकू मत खाइए और पान खाइए चुने का उसमे कत्था मत लगाइए, कत्था केन्सर करता है, पान में सुपारी मत डालिए सोंट डालिए उसमे, इलाइची डालिए, लोंग डालिए. केशर डालिए ये सब डालिए पान में चूना लगाके पर तम्बाकू नही, सुपारी नही और कत्था नही । अगर आपके घुटने में घिसाव आ गया और डॉक्टर कहे के घुटना बदल दो तो भी जरुरत नही चूना खाते रहिये और हारसिंगार के पत्ते का काड़ा खाइए घुटने बहुत अच्छे काम करेंगे । राजीव भाई कहते है चूना खाइए पर चूना लगाइए मत किसको भी. ये चूना लगाने के लिए नही है खाने के लिए है आजकल हमारे देश में चूना लगाने वाले बहुत है पर ये भगवान ने खाने के लिए दिया है ।</p>
