﻿<head>

    <link rel="stylesheet" href="animate.min.css">
</head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">

उच्च/निम्न रक्तचाप
 
</span></h3>

<style>
p{
-webkit-user-select: none;
}

</style>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">
उच्च रक्तचाप की बीमारी ठीक करने के लिए घर में उपलब्ध कुछ आयुर्वेदिक दबाईया है जो आप ले सकते है । जैसे एक बहुत अच्छी दवा आप के घर में है दालचीनी जो मसाले के रूप में उपयोग होता है वो आप पत्थर में पिसकर पावडर बनाकर आधा चम्मच रोज सुबह खाली पेट गरम पानी के साथ खाइए या अगर थोडा खर्च कर सकते है तो दालचीनी को शहद के साथ लीजिये (आधा चम्मच शहद आधा चम्मच दालचीनी) गरम पानी के साथ, ये हाई रक्तचाप के लिए बहुत अच्छी दवा है । और एक अच्छी दवा है जो आप ले सकते है पर दोनों में&nbsp;&nbsp; से&nbsp;&nbsp; कोई एक । दूसरी दवा है मेथी दाना, मेथी दाना आधा चम्मच लीजिये एक ग्लास गरम पानी में और रात को भिगो दीजिये, रात भर पड़ा रहने दीजिये पानी में और सुबह उठ कर पानी को पी लीजिये और मेथी दाने को चबा कर खा लीजिये । ये बहुत जल्दी आपकी हाई &nbsp;रक्तचाप कम कर देगा, देड से दो महीने में एकदम स्वाभाविक कर देगा ।
</p>



