﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">

मधुमेह (डायबिटीज)
 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">आजकल मधुमेह की बीमारी आम बीमारी है। डायबिटीज भारत में 5 करोड 70 लाख कों है और 3 करोड लोगों को हो जाएगी अगले कुछ सालों में सरकार ये कह रही है । हर दो मिनट में एक मौत हो रही है डायबिटीज से और क​म्प्लकेशन तो बहुत हो रहे है... किसी की किडनी खराब हो रही है, किसी का लीवर खराब हो रहा है किसी को ब्रेन हेमरेज हो रहा है, किसी को पैरालिसिस हो रहा है, किसी को ब्रेन स्ट्रोक आ रहा है, किसी को कार्डियक अरेस्ट हो रहा है, किसी को हार्ट अटैक आ रहा है कम्प्लकेशन बहुत है खतरनाक है । मधुमेह या चीनी की बीमारी एक खतरनाक रोग है। रक्त ग्लूकोज स्तर बढा़ हूँआ मिलताहै, इन मरीजों में रक्त कोलेस्ट्रॉल, वसा के अवयव के बढने के कारण ये रोग होता है। इनमरीजों में आँखों, गुर्दों, स्नायु, मस्तिष्क, हृदय के क्षतिग्रस्त होने से इनके गंभीर, जटिल, घातक रोग का खतरा बढ़ जाता है। भोजन पेट में जाकर एक प्रकार के ईधन में बदलता है जिसे ग्लूकोज कहते हैं। यह एक प्रकार की शर्करा होती है। ग्लूकोज रक्त धारा में मिलता है और शरीर की लाखों कोशिकाओं में पहुंचता है। अग्नाशय ग्लूकोज उत्पन्न करता है इनसुलिन भी रक्तधारा में मिलता है और कोशिकाओं तक जाता है।</p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">मधुमेह बीमारी का असली कारण जब तक आप लोग नही समझेगे आपकी मधुमेह कभी भी ठीक नही हो सकती है जब आपके रक्त में वसा (कोलेस्ट्रोल) की मात्रा बढ जाती है तब रक्त में मोजूद कोलेस्ट्रोल कोशिकाओ के चारों वो चिपक जाता है और &nbsp;&nbsp;&nbsp; खून में मोजूद इन्सुलिन कोशिकाओं तक नही पहुँच पाता है (इंसुलिन की मात्रा तो पर्याप्त होती है किन्तु इससे रिसेप्टरों को खोला नहीं जा सकता है, अर्थात पूरे ग्लूकोज को ग्रहण कर सकने के लिए रिसेप्टरों की संख्या कम हो सकती है) वो इन्सुलिन शरीर के किसी भी काम में नही आता है जिस कारण से शरीर में हमेशा शुगर का स्तर हमेशा ही बढा हुआ होता है जबकि जब हम बाहर से इन्सुलिन लेते है तब वो इन्सुलिन नया-नया होता है तो वह कोशिकाओं के अन्दर पहुँच जाता है &nbsp;अब आप समझ गये होगे कि मधुमेह का रिश्ता कोलेस्ट्रोल से है न कि शुगर से.</p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">जब सम्भोग के समय पति पत्नी आपस में नही बना कर रख नही पाते है या सम्भोग के समय बहुत तकलीफ होती है समझ जाइये मधुमेह हो चूका है या होने वाला है क्योकि जिस आदमी को मधुमेह होने वाला हो उसे सम्भोग के समय बहुत तकलीफ होती है क्योकि मधुमेह से पहले जो बिमारी आती वो है सेक्स में प्रोब्लम होना, मधुमेह रोग में शुरू में तो भूख बहुत लगती है। लेकिन धीरे-धीरे भूख कम हो जाती है। शरीर सुखने लगता है, कब्ज की शिकायत रहने लगती है। अधिक पेशाब आना और पेशाब में चीनी आना शुरू हो जाती है और रोगी का वजन कम होता जाता है। शरीर में कहीं भी जख्म/घाव होने पर वह जल्दी नहीं भरता। तो&nbsp; ऐसी स्थिति में हम क्या करें? राजीव भाई की एक छोटी सी सलाह है कि आप इन्सुलिन पर ज्यादा निर्भर ना करे क्योंकि यह इन्सुलिन डायबिटीज से भी ज्यादा खतरनाक है, साइड इफेक्ट्स बहुत है इसके । इस बीमारी के घरेलू उपचार निम्न लिखित हैं।</p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">आयुर्वेद की एक दवा है जो आप घर में भी बना सकते है &ndash; -&nbsp; 100 ग्राम मेथी का दाना - 100 ग्राम करेले के बीज -&nbsp; 150 ग्राम जामुन के बीज -&nbsp; 250 ग्राम बेल के पत्ते (जो शिव जी को चढाते है )</p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">इन सबको धुप में सुखाकर पत्थर में पिसकर पाउडर बना कर आपस में मिला ले यही औषधि है ।</p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">औषधि लेने की पद्धति : सुबह नास्ता करने से एक घंटे पहले एक चम्मच गरम पानी के साथ ले, फिर शाम को खाना खाने से एक घंटे पहले ले। तो सुबह शाम एक एक चम्मच पाउडर खाना खाने से पहले गरम पानी के साथ आपको लेना है । देड दो महीने अगर आप ये दवा ले लिया । ये औषधि बनाने में&nbsp;&nbsp; 20 से 25 रूपया खर्च आएगा और ये औषधि तीन महिने तक चलेगी और उतने दिनां में आपकी सुगर ठीक हो जाएगी । सावधानी -&nbsp; सुगर के रोगी ऐसी चीजे ज्यादा खाए जिसमे फाइबर हो रेशे ज्यादा हो, High Fiber Low Fat Diet घी तेल वाली डायेट कम हो और फाइबर वाली ज्यादा हो रेशेदार चीजे ज्यादा &nbsp;खाए। सब्जिया में बहुत रेशे है वो खाए, डाल जो छिलके वाली हो वो खाए, मोटा अनाज ज्यादा खाए, फल ऐसी खाए जिनमे रेशा बहुत है । -&nbsp; चीनी कभी ना खाए, डायबिटीज की बीमारी को ठीक होने में चीनी सबसे बडी रुकावट है। लेकिन आप गुड खा सकते है । -&nbsp; दूध और दूध से बनी कोई भी चीज नही खाना । -&nbsp; प्रेशर कुकर और अलुमिनम के बर्तन में ना ना बनाए । -&nbsp; रात का खाना सर्यास्त के पूर्व करना होगा । जो डायबिटीज आनुवंशिक होतें है वो कभी पूरी ठीक नही होता सिर्फ कण्ट्रोल होता है उनको ये दवा पूरी जिन्दगी खानी पडेगी, पर जिनको आनुवंशिक नही है उनका पूरा ठीक होता है ।</p>
