﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">

पथरी की चिकित्सा
 
</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>




<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">गुर्दे की पथरी चाहे जितनी बडी हो गयी हो आपरेशन कराने से बचना चाहिये और पथरी का इलाज होम्योपैथिक अथवा आयुर्वेदिक तरीके से कराना चाहिये आयुर्वेदिक ईलाज :- पाषाणभेद नाम का एक पौधा होता है। उसे पत्थरचटा भी कुछ &nbsp;लोग बोलते हैं। उसके 2 पत्तों को पानी में उबाल कर काढ़ा बना लें। अब इस काढ़ां को एक 3 बार (सुबह, दोपहर, और रात) लेना है। 3 बार अधिक से अधिक और कम से कम 2 बार। &nbsp;मात्र 7 से 15 दिन में पूरी पथरी खत्म और कई बार तो इससे भी जल्दी खत्म हो जाती है। होम्योपैथी ईलाज:&nbsp; - होम्योपैथी में एक दवा है और वो आपको किसी भी होम्योपैथी की दुकान पर मिल जायेगी। उसका नाम है BERBERIS VULGARIS ये दवा के आगे लिखना है MOTHER TINCHER, ये उसकी पोटेंसी (ताकत) है। वो दुकान वाला समझ जायेगा। यह दवा होम्योपैथी की दुकान से ले आइये।&nbsp; (ये BERBERIS VULGARIS दवा भी पत्थरचटा नाम के पौधे से बनी है बस फर्क इतना है ये पत्थरचटा पौधे का Botanical name BERBERIS VULGARIS ही है।) अब इस दवा की 10-15 बूंदों को एक चौथाई (1/4) कप गनगुने पानी में मिलाकर दिन में&nbsp;&nbsp; चार बार (सुबह, दोपहर, शाम और रात) लेना है। चार बार अधिक से अधिक और कम से कम तीन बार। इसको लगातार एक से डेढ़ महीने तक लेना है कभी-कभी दो महीने भी लग जाते हैं। इससे जितने भी Stone है, कहीं भी हो पित्ताश्य (Gall Bladder) में हो या फिर किडनी में हो, या युनिद्रा के आसपास हो, या फिर मूत्रपिंड में हो। वो सभी पथरी को तोड़कर पिघलाकर ये निकाल देता है। 99% केस में डेढ़ से दो महीने में ही सब टूट कर निकाल देता है कभी-कभी हो सकता है तीन महीने में लेना पड़े। आप तीन महीने बाद सोनोग्राफी करवा लीजिए आपको पता चल जायेगा कितना टूट गया है कितना रह गया है। अगर रह गया है तो थोड़े दिन और ले लीजिए। इस दवा का कोई साईड इफेक्ट नहीं है। ये तो हुआ जब पथरी टूट के निकल गया अब दोबारा भविष्य में यह ना बने उसके लिए क्या? क्योंकि जिन लोगों को पथरी होती है निकलने के बाद भी बार-बार हो जाती है। पथरी टूट के निकल जाये और दुबारा कभी ना हो इसके लिए होम्योपैथी में एक दवा है CHINA 1000 इस दवा को एक ही दिन सुबह-दोपहर-शाम दो-दो बूंद सीधे जीभ पर डाल दें भविष्य में&nbsp;&nbsp; कभी पथरी नहीं बनेगी। मगर यह दवा तब काम करेगी जब पथरी ना हो।</p>
