﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">स्वदेशी की स्थापना के लिये प्रतिबद्ध आंदोलन </span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">हम सभी जानते हैं कि आज से 500 साल पहले 1498 में पुर्तगाली नाविक वास्को-डी-गामा ने भारत के लिये एक नये समुद्री मार्ग की खोज की और इसी समुद्री मार्ग से पुर्तगाली, डच, फ्रांसीसी और बाद में अंग्रेज हमारे देश में आये और हमें गुलाम बनाया। वास्तव में वास्को-डी-गामा की खोज ने भारत की लूट का एक और मार्ग खोल दिया। उसके बाद अंग्रेजों ने भारत को न केवल लूटा बल्कि उसे अपना गुलाम भी बनाया। सन् 1600 में एक ईस्ट इंडिया कम्पनी और उसके साथ आयी अंग्रेजी फ़ौज ने समूची भारतीय व्यवस्थाओं तथा शिक्षाप्रणाली, आर्थिक व्यवस्था, व्यावसायिक प्रणाली, कृषि प्रणाली एवं सामाजिक व्यवस्था को तोड़कर 300-350 वर्षों तक हमें गुलाम बनाकर अपनी हुकूमत चलाई। उसके बाद गांधीजी के नेतृत्व में आज़ादी की लड़ाई लड़ी गई और लगभग 20 करोड़ की से ज्यादा क्रान्तिकारियों की कुर्बानियाँ देकर हमने आजादी हासिल की।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">आज फिर से हम गुलामी की ओर बढ़ रहे हैं। पहले एक ईस्ट इण्डिया कम्पनी आई और उसने 300 साल तक गुलाम बनाये रखा परन्तु आज तो कई हजार बहुराष्ट्रीय कम्पनियाँ हैं, तो कितने साल की गुलामी होगी? आपको शायद मालूम होगा कि 100-200 साल पहले अंग्रेजों ने भारत को गुलाम बनाने और उस पर अपना शासन चलाने के लिये जो कानून और नीतियाँ बनाई थीं वे देश की आजादी के 50 साल बाद भी चल रही हैं। बस अन्तर इतना ही है कि पहले गोरे अंग्रेज शासन करते थे, परन्तु आज काले अंग्रेज शासन कर रहे हैं, बाक़ी सारी व्यवस्थायें और नीतियाँ ज्यों की त्यों हैं। इतना ही नहीं ,कार्यप्रणाली भी अंग्रेजी सभ्यता की ही है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">आज उदारीकरण और वैश्वीकरण की नीति के नाम पर पूरे देश को ग़रीबी और बेरोज़गारी के दलदल में धकेला जा रहा है। हमारे देश की संस्कृति और परम्पराओं को न बढ़ाकर पश्चिमी आतताई और शैतानी संस्कृति को बढ़ावा दिया जा रहा है। क्या यही सपना देखा था हमारे शहीदों ने ? क्या उन्होंने अपनी कुर्बानी इसी भारत के लिये दी थी</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">इन्हीं सब परिस्थितियों को देखकर आज़ादी बचाओ आंदोलन ने पूरे देश में सोये हुए युवाओं को जगाने का संकल्प लिया है। और साथ ही आज़ादी बचाओ आन्दोलन अपने समाज व सभ्यता के नवीनीकरण के लिये आवश्यक ज़मीन तैयार करने में लगा हुआ है। आंदोलन की कोशिश है कि हमारे मन में अपने देश, समाज, संस्कृति और सभ्यता के प्रति जो अनादर और निराशा का भाव आ गया है वह ख़त्म होकर आजादी और आशा का भाव जाग्रत हो तथा अपने प्रति आत्मविश्वास पैदा हो।</span></p>
