﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;"> स्वदेशी चिकित्सा - सौन्दर्य-निखार </span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">इस दौर में जबकि कृत्रिम सौन्दर्य प्रसाधनों का बाज़ारों में अंबार लगा हुआ हो और लोग विज्ञापनी मायाजाल के वशीभूत इनके पीछे पागल हुए जा रहे हों, तो लेखक ने इस पुस्तक के जरिए भारतीय संस्कृति और परम्परा के अनुकूल एकदम निरापद स्वदेशी सौन्दर्य-रक्षक उपायों को अपनाने की प्रेरणा जगाने का एक सद्प्रयास किया है। यह पुस्तक अपनी इस स्थापना में काफ़ी हद तक सफल है कि सौन्दर्य निखारने के कृत्रिम पश्चिमी तौर-तरीक़े भारतीय परम्परा और विरासत के पासंग भी नहीं ठहरते। इतना ही नहीं, यह पुस्तक अपने छोटे कलेवर के बावजूद कृत्रिम सौन्दर्य प्रसाधनों व कुछ अन्य कृत्रिम उत्पादों के हानिकारक पहलुओं पर भी सिलसिलेवार ढंग से तर्कपूर्ण और तथ्यात्मक विवेचन प्रस्तुत करती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; वैसे तो सुन्दरता बढा़ने के गुर बताने वाली ढेरों पुस्तकें बाज़ार में उपलब्ध हैं, पर इस पुस्तक की विशेषता यह है कि यह लोगों के सौन्दर्यबोध में ही सार्थक बदलाव लाने की कोशिश करती है। जहाँ इस विषय की अन्य अधिकांश पुस्तकें लोगों को तड़क-भड़क वाली उपभोक्तावादी बनावटी ज़िन्दगी जीने की तरफ़ ही घसीटने की कोशिश करती दिखाई देती हैं, वहाँ इस पुस्तक में देश की जनता को संयम व सादगीपूर्ण जीवन की ओर मोड़ने का प्रयत्न किया गया है। यही वास्तव में आजा़दी बचाओ आन्दोलन का मिशन भी है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; लेखक सन्त समीर जी ने बाह्य शारीरिक सौन्दर्य के साथ-साथ मानसिक और चारित्रिक सौन्दर्य विषयक चर्चा करके इस लघुकाय पुस्तक को कई अर्थों में सर्वांगपूर्ण बना दिया है। अच्छी बात यह भी है कि स्त्री-पुरुष दोनों ही वर्गों के लिए इस पुस्तक की समान उपयोगिता है। अन्त में, मेरी कामना यही है कि अपने सौन्दर्य के प्रति सचेत देश के स्त्री-पुरुष कृत्रिम प्रसाधनों के मोहजाल से छूटकर इसमें सुझाए गए अकृत्रिम और निरापद उपायों को आज़माएं तथा कृत्रिम प्रसाधनों के जरिए बहुराष्ट्रीय कंपनियों द्वारा की जा रही करोड़ों-अरबों रुपयों के अकूत धन की लूट से इस देश को बचाने की मुहिम में भागीदार बनें।</span></p>

<p class="animated bounceInLeft"  style="text-align: right;"><span style="font-size: 18px;">राजीव दीक्षित</span></p>

<p class="animated bounceInLeft"  style="text-align: right;"><span style="font-size: 18px;">राष्ट्रीय प्रवक्ता, आज़ादी बचाओ आन्दोलन&nbsp;</span></p>



