﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">सौन्दर्य का नाश करता है नशा</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>
<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नशा, या थोड़ा और व्यापक अर्थ में कहें तो &lsquo;व्यसन&rsquo;, मनुष्य के मन और शरीर दोनों को ही असुंदर बनाता है। नशेड़ी या व्यसनी व्यक्ति की मानसिक शक्तियाँ कमज़ोर पड़ जाती हैं, स्मरणशक्ति दुर्बल हो जाती है, संकल्प-क्षमता ढीली हो जाती है और विवेक कुंद हो जाता है। व्यसनी व्यक्ति स्वयं के साथ-साथ परिवार व समाज की भी तबाही का कारण बनता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">शराब, सिगरेट, बीड़ी, तंबाकू, गुटखा आदि व्यसन के जितने भी रूप हैं, सारे के सारे ही शरीर को जर्जर बनाते हैं और स्थिति ऐसी हो जाती है कि असाध्य क़िस्म के तमाम रोग बिन बुलाए मेहमान की तरह आ धमकते हैं। यह प्रमाणित हो चुका है कि नशा करने वालों का सौन्दर्य धीरे-धीरे नष्ट होने लगता है। वैज्ञानिक अनुसंधानों ने यह भी अच्छी तरह सिद्ध कर दिया है कि धूम्रपान करने वालों पर बुढ़ापा जल्दी झलकने लगता है। दरअसल धूम्रपान का धुआँ शरीर के अंदर जाकर कुछ ऐसी क्रियाओं को बढ़ावा देता है जिससे त्वचा ढीली और पतली होने लगती है। त्वचा में झुर्रियाँ भी पड़ने लगती हैं तथा कम उम्र में ही बुढ़ापे का शारीरिक झुकाव शुरू हो जाता है। लंदन के सेंट थामस नामक अस्पताल में 50 समान जोड़ों का अध्ययन करने पर मालूम हुआ कि धूम्रपान करने वालों की त्वचा धूम्रपान न करने वालों से 28 प्रतिशत पतली हो गई थी। यह एक सच्चाई है कि सिगरेट, सिगार आदि ज़्यादा पीने वालों के चेहरों पर इतना स्पष्ट परिवर्तन आ जाता है कि सामान्य लोग भी दूर से देखकर ही अक्सर उनकी पहचान कर लेते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">रोज़मर्रा सिगरेट पीने वालों को फेफड़ों का कैंसर 90 प्रतिशत, अन्य प्रकार के कैंसर 80 प्रतिशत, ब्रोंकाइटिस 80 प्रतिशत, हृदय रोग 30 प्रतिशत और एम्फिसीमा 20 प्रतिशत तक होने की आशंका रहती है। इसके अलावा पायरिया, बहरापन, मोतियाबिंद, श्वासनलियों में सूजन, अल्सर, भाँति-भाँति के मुख व मसूढ़ों के रोग, हड्डी का कैंसर, मूत्राशय का कैंसर, आँतों का कैंसर, श्वासनली का कैंसर, शुक्राणुओं की कमी, नपुंसकता, मानसिक विकार आदि भी होने की संभावना बनी रहती है। सिगरेट आदि के धुएँ में मौजूद कार्बन-मोनो-ऑक्साइड ख़्ाून के ऑक्सीजन को अवशोषित करके मस्तिष्क में इसकी आपूर्ति बाधित कर देती है। इसका नतीजा यह होता है कि मनुष्य की सहनशक्ति व स्मरणशक्ति कम होने लगती है और नाना प्रकार के मानसिक विकार पैदा होने लगते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">वैज्ञानिकों के अनुसार धूम्रपान से आँखों के लेंस पर धुँधलापन छाने लगता है और मोतियाबिन्द की संभावना बढ़ जाती है। धूम्रपान के धुएं में मौजूद हाइड्रोजन साइनाइड व अन्य हानिकारक रसायन श्वासनलिका को मोटी कर देते हैं, जिससे दमे की आशंका बढ़ जाती है। धूम्रपान से पेट में एसिड अधिक बनने लगता है, जिससे अल्सर की संभावना भी प्रबल हो जाती है। इसके अलावा धूम्रपान रक्त में शर्करा की मात्रा बढ़ाकर मधुमेह को भी आमंत्रण देता है। धूम्रपान का हृदय पर घातक असर होता है। सिगरेट के धुएँ की कार्बन-मोनो-ऑक्साइड गैस रक्त में हीमोग्लोबिन कम कर देती है तथा रक्त वाहिनियों की भीतरी सतह पर वसा का जमाव ज़्यादा कर देती है। इसके साथ ही निकोटीन हृदय की गति को अनावश्यक रूप से बढ़ाता है तथा यह कैटा कोलामीन की मात्रा भी बढ़ाता है जिसकी वजह से रक्त में वसा की मात्रा बढ़ने लगती है। इन सब वजहों से हृदयाघात, पैरालिसिस आदि बीमारियाँ बड़ी आसानी से धर दबोचती हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">अनुसंधानों से यह बहुत पहले साबित हो चुका है कि सिगरेट के धुएं में पाया जाना वाला पायरिन फेफडे़ के कैंसर का कारण बनता है। इसका धुआँ फेफड़े की कार्यप्रणाली को भी अव्यवस्थित कर देता है तथा धुएं में मौजूद टार फेफड़ों में संक्रमण, फेफड़ों की कोशिकाओं में सूजन तथा श्वासावरोध उत्पन करता है। महिलाएं अगर धूम्रपान करती हैं तो अपने साथ-साथ अपनी आने वाली संतानों का भी भविष्य बिगाड़ती हैं। धूम्रपान से गर्भपात का भय तो रहता ही है ,गर्भस्थ शिशु के रोगग्रस्त पैदा होने या उसके मरने का भी डर रहता है। स्तन कैंसर या स्तन के अन्य रोग, गर्भाशय कैंसर, मासिक धर्म की गड़बड़ी, चेहरे का लावण्य ख़त्म होने जैसी तमाम परेशानियाँ धूम्रपान की वजह से महिलाओं को झेलनी पड़ सकती हैं। शोधों से यह भी प्रमाणित हुआ है कि धूम्रपान करने वाली महिलाओं की मृत्युदर पुरुषों की तुलना में ज़्यादा होती है। चूँकि माताओं के स्वास्थ्य पर उनकी आने वाली संतानों का भी स्वास्थ्य बहुत हद तक निर्भर होता है इसलिए महिलाओं को नशे से बचाना कहीं ज़्यादा ज़रूरी है। धूूम्रपान इतना नुकसानदेह है फिर भी चिन्ताजनक बात यह है कि इसकी गिरफ़्त में लोग फँसते ही जा रहे हैं। इस समय दुनिया की लगभग 110 करोड़ की विशाल आबादी धूम्रपान की शिकार है। इसमें से 80 करोड़ लोग विकासशील देशों के हैं और 30 करोड़ लोग विकसित देशों के। एशिया में 55.8 प्रतिशत पुरुष , 3.71 प्रतिशत महिलाएं तथा 33 प्रतिशत बच्चे धूम्र्रपान करते हैं। रिक्शा चालक और मज़दूर क़िस्म के लोग तो 80 से 90 प्रतिशत तक धूम्रपान के शिकार हैं। स्थिति यह है कि ये सभी नशेड़ी मिलकर पूरे साल में लगभग 60000 करोड़ सिगरेट पी जाते हैं। भारत जैसे देशों के नशेबाज़ 55 करोड़ सिगरेट रोज़ अर्थात् लगभग 20000 करोड़ सिगरेट साल भर मेें पीते हैं। विकसित देशों में 41 प्रतिशत पुरुष तथा 21 प्रतिशत महिलाएं नियमित रूप से धूम्रपान करते हैं। विकासशील देशों में लगभग 50 प्रतिशत पुरुष और 8 प्रतिशत महिलाएं नियमित धूम्रपान के आदी हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">धूम्रपान तथा विभिन्न रूपों में तम्बाकू सेवन से पूरी दुनिया में हर साल लगभग 30 लाख लोग असमय मौत के मुँह में पहुँचते हैं। इसमें भी लगभग एक तिहाई संख्या तो सिर्फ विकासशील देशों के लोगों की ही होती है। भारत में कैंसर से 10 प्रतिशत, साँस की बीमारी से 70 प्रतिशत तथा दिल की बीमारी से 25 प्रतिशत मृत्यु का कारण धूम्रपान होता है। केन्द्रीय स्वास्थ्य शिक्षा ब्यूरो के अनुसार हमारे यहाँ हर साल लगभग 2200 करोड़ रुपया तंबाकू जनित बीमारियों के इलाज पर ख़्ार्च हो जाता है। सांख्यिकी और नियोजन विभाग के एक अनुमान के अनुसार 1989-90 में तम्बाकू सेवन करने वालों द्वारा किया गया मासिक ख़्ार्च 5060 करोड़ रुपये था, जो 1991-92 में 7964 करोड़ रुपये तक जा पहुँचा। स्थिति यह है कि यदि प्रति सिगरेट एक पैसे भी दाम बढ़ा दिया जाय तो सिगरेट बनाने वाली कंपनी का सालाना मुनाफ़ा 200 करोड़ रुपये अतिरिक्त हो जाएगा। अंदेशा यह है कि नाना रूपों मेंं तम्बाकू सेवन के नतीजे के तौर पर सन् 2020 के बाद हर साल पूरी दुनिया में लगभग एक करोड़ लोग मरेंगे। सिगरेट को होंठों तक लाने से पहले अपने को विवेकवान मानने वाले लोगों को एक बार यह ज़रूर सोच लेना चाहिए कि आदमी का फेफड़ा सिगरेट का धुआँ भरने के लिए नहीं बनाया गया है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इसी तरह नशे के और रूपों के ख़्ातरे भी भयावह हैं। तम्बाकू युक्त गुटखा व पान-मसाला की वजह से संपूर्ण भारत में, खासतौर&nbsp;से उत्तरी भारत में तो &lsquo;ओरल सबम्यूकस फाइब्रोसिस&rsquo; जैसी कष्टदायी बीमारी महामारी का ही रूप लेती जा रही है। इस बीमारी में धीरे-धीरे मुँह बंद होने लगता है। इसी तरह &lsquo;ल्यूकोप्लेकिया&rsquo; का प्रकोप भी बढ़ रहा है। ये बीमारियाँ कैंसर की शुरूआती स्थिति भी साबित हो सकती हैं। गुटखा, पान-मसाला खाने वालों को याद रखना चाहिए कि इनमें मिलाए जाने वाले विभिन्न पदार्थ जैसे- सैक्रीन, रंग, मेन्थॉल, इत्र आदि स्वास्थ्य के लिए बेहद खतरनाक&nbsp;साबित हो सकते हैं। इनमें डाली जाने वाली&nbsp;सुपारी भी कम नुकसानदेह नहीं है। सुपारी की टैनिन प्रोटीन के पाचन में बाधा पहुँचाती है। सुपारी के ज़्यादा सेवन से शरीर में विटामिन &lsquo;ए&rsquo; की भी कमी हो जाती है। कत्था को प्राय: लोग हानिरहित समझते हैं, पर इसमें भी टैनिन की काफ़ी मात्रा होती है। जब से सिन्थेटिक कत्था तैयार होने लगा है तब से स्थिति को और भी खतरनाक ही समझिए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">शराब के नशे का तो ख़्ौर पूछिए मत। इसने स्वास्थ्य और सामाजिक मूल्यों, दोनों का जितना नुकसान किया है वह आसानी से वर्णन नहीं किया जा सकता। शराब के चलते उजड़े घरों के दास्तान आये दिन सुनने-पढ़ने को मिलते ही रहते हैं। अब तो सड़क दुर्घटनाओं का एक सबसे बड़ा कारण भी शराबखोरी&nbsp;ही बन चुका है। शराब कितनी खतरनाक है इसका अंदाज़ा इसी से लगाया जा सकता है कि सामान्य हालत में जो व्यक्ति मार-काट की बात सोच भी नहीं सकता वह शराब के नशे में आसानी से हत्या करने पर आमादा हो सकता है। शराब मस्तिष्क को इतने हद तक अनियंत्रित कर सकती है कि आदमी पागल हो जाए। वास्तव में शराब की वजह से पागलों की संख्या में ख़ासा इजाफ़ा हुआ है। पागलों के दवाख़्ाानों के सर्वेक्षण से यह चौंकाने वाला तथ्य सामने आया कि हर दस पागलों में से छ: शराब की वजह से पागल हुए थे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">शराब पाचनतंत्र में गड़बड़ी तो पैदा ही करती है, यह स्नायुओं से लेकर यकृत और हृदय तक पर बहुत बुरा असर डालती है। नुक़सानों का परीक्षण करने के लिए इसे भोजन में मिलाकर सियार, कुत्ता, कबूतर, उल्लू आदि पशु-पक्षियों को दिया गया तो वे अकाल ही मृत्यु के शिकार हो गए। मदिरा का मद पेड़-पौधों तक पर अपना खतरनाक असर छोड़ता है। परीक्षणों में यह पाया गया है कि अगर मदिरायुक्त पानी पौधों की जड़ों में डाला जाए तो उनमें फल नहीं लगेंगे और वे धीरे-धीरे सूख जाएंगे। शराब मनुष्य की ज़िन्दगी को भी कुछ इसी तरह नष्ट करती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">शरीर के बाह्य सौन्दर्य पर भी शराब का प्रभाव आसानी से देखा जा सकता है। शराबी व्यक्ति की आँखों में धीरे-धीरे रक्त धँस आता है और वे रक्तिम दिखाई देने लगती हैं। अच्छी भली सुंदर आँखें भी शराब पीने से डरावनी लगने लगती हैं और उनका तेज समाप्त हो जाता है। ज़्यादा शराब चेहरे को भी जल्दी ही बूढ़ों की कतार में खड़ा कर देती है। यह बात अलग है कि सम्पन्न शराबी खान-पान में पोषकता का विशेष ध्यान रखकर शराब के दुष्प्रभावों पर परदा डालने की कोशिश करते रहते हैं, लेकिन इसका अर्थ यह नहीं हो जाता कि वे इसके दुष्परिणामों से भी पूरी तरह सुरक्षित हो जाते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">धूम्रपान की तरह मदिराप्रेमियों को भी अन्ननली का कैंसर तथा यकृत व मुँह के रोग हो सकते हैं। मद्यपान से शरीर में विटामिन &lsquo;बी&rsquo; की भी कमी हो सकती है। इसके अलावा शराब छोटी आँतों के थायमिन व फोलिक अम्ल का अवशोषण करने वाले स्थान को भी क्षतिग्रस्त कर देती है। इसका फल यह होता है कि शरीर की अंदरूनी कार्यप्रणाली अव्यवस्थित और जर्जर होने लगती है। कुल मिलाकर यह कहा जा सकता है कि शराब का नशा शरीर में तो गड़बड़ी पैदा ही करता है, यह मन में भी गड़बड़ी फैलाता है। अगर, मन में गड़बड़ी आ जाए तो विचारों में गड़बड़ी आना लाज़िमी ही है और आखिरकार शराबी की वाणी का भी लड़खड़ाना अनिवार्य हो ही जाता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">अभी तक जिस तरह के व्यसनों की चर्चा की गई है उनसे प्राय: पूरा समाज परिचित है, परंतु अब नशे के इतने सारे नए-नए रूप पैदा हो गए हैं कि उनकी खोज-ख़्ाबर रख पाना भी एक टेढ़ा काम है। इस संदर्भ में नशीली दवाइयों की चर्चा कर देना विशेष ज़रूरी है क्योंकि नशे के इस तरीक़े ने घर-परिवार और समाज के सीमित दायरों से आगे बढ़कर राष्ट्रीय स्तर पर भी गम्भीर समस्याएं पैदा कर दी हैं। संयुक्त राष्ट्र संघ की संस्था &lsquo;इंटरनेशनल नारकोटिक ड्रग कण्ट्रोल बोर्ड&rsquo; ने चेतावनी दी है कि नशीली दवाइयों की खपत जिस गति से पूरी दुनिया में बढ़ रही है, उसके चलते कई देशों की सुरक्षा के लिए ही खतरा पैदा हो गया है। मौजूदा हालात ये हैं कि अमरीका, इंग्लैण्ड, जापान, चीन, हिंदुस्तान, पाकिस्तान, अफगानिस्तान आदि अमीर-ग़रीब सभी देश ही नशे के व्यापारियों के जाल में फँसते जा रहे हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">एक सर्वेक्षण रिपोर्ट के अनुसार सिर्फ अमरीका जैसे देश में ही ग्यारह करोड़ से अधिक लोग नशीली दवाइयों के शिकार बन चुके हैं। अमरीका की संस्था &lsquo;नेशनल इंस्टीट्यूट ऑफ ड्रग एव्यूस&rsquo; की रिपोर्ट के मुताबिक 30 से 40 प्रतिशत अमरीकी बच्चे नशीली दवाइयों का इस्तेमाल करने लगे हैं। वैज्ञानिक प्रगति के साथ-साथ नशीली दवाइयों के सेवन में भी बढ़ोत्तरी हो रही है, यह चिंताजनक और भयावह तस्वीर है। इसके अलावा अमरीका में क़रीब 50 लाख लोग कोकीन, 2 करोड़ लोग मार्जुआना तथा 50 लाख लोग हिरोइन का भी नशा करते हैं। अनुमान है कि हिन्दुस्तान में दस से पन्द्रह करोड़ लोग भाँग, गाँजा, चरस, हिरोइन , एल.एस.डी. तथा विभिन्न नशीली दवाइयों की आदत के शिकार हैं। आलम यह है कि अब होटल, ढाबे, स्कूल, कॉलेज से लेकर झुग्गी झोपड़ियों तक में नशीली दवाइयों के अड्डे बनते जा रहे हैं। महानगरों की स्थिति इस मामले में ज़्यादा भयावह है। देश की युवा-पीढ़ी बुरी तरह दिग्भ्रमित हो रही है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नशीली दवाइयों में अफ़ीम, मार्फिन, पैथेडिन, हिरोइन, मैक्सिकन कैक्टस, भाँग,गाँजा, चरस, एल.एस.डी., मेथम फेहाइन, शाबएफिटेमिन, कोकीन, हिरोइन गु्रप की दवा बारविचुरेट्स, मनोदैहिक एवं नींद लाने वाली दवा कम्पोज, लारपोज, तिबरियम, वैलियम आदि का इस्तेमाल नशेबाज़ धड़ल्ले से करते हैं। ये सभी नशीली दवाइयाँ मूर्छा, बेहोशी, जड़ता तथा संवेदनहीनता पैदा करती हैं। इन दवाइयों की गिरफ़्त में फँसने की एक वजह यह भी है कि ये दर्द, पीड़ा एवं शूल से मुक्ति तथा जटिल समस्याओं एवं परिस्थितियों से जूझने का भ्रम पैदा करती हैं। जबकि अंतिम परिणाम यह होता है कि समस्याएँ और जटिल हो जाती हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">वास्तव में नशीली दवाइयों और तरह-तरह के व्यसनों का प्रचलन युवा पीढ़ी में जिस तेज़ी से बढ़ रहा है, उसके चलते स्वास्थ्य के साथ-साथ चरित्र, संस्कृति और राष्ट्रीय सुरक्षा तक पर ख़तरा मँडराने लगा है। नशेड़ियों की जमात न अपनी सुरक्षा कर सकती है, न राष्ट्रीय अस्मिता की। ज़रूरत अब व्यसन-मुक्ति के प्रति गंभीर होने की है। सरकारों से बहुत उम्मीद नहीं की जा सकती, क्योंकि उन्हें विभिन्न प्रकार के नशे के व्यवसाय से हज़ारों करोड़ रुपये सालाना राजस्व मिलता है। यही वजह है कि जनता को मूर्ख बनाने के लिए एक तरफ़ मद्य निषेध विभाग चलाया जाता है तो दूसरी ओर दारू की बिक्री बढ़ाने के लिए तरह-तरह के उपाय किए जाते हैं। नशाबंदी के लिए तो जनता में ही जागरूकता लानी होगी और व्यापक जनांदोलन छेड़ना होगा। इसके अलावा और कोई सरल उपाय नज़र नहीं आता।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नशे के शिकार जो लोग इससे मुक्ति चाहते हैं उनके लिए यहाँ कुछ सुझाव अवश्य दिए जा सकते हैं। गुटखा या पान-मसाला खाने वालों की आदत कुछ ऐसी हो जाती है कि वे अक्सर मुँह में कुछ रखकर चबाते रहना चाहते हैं। ऐसे लोगों को सौंफ़ चबाने की आदत डालनी चाहिए। सौंफ़ सुगंधित तो होती ही है, स्वास्थ्य के लिए भी अच्छी होती है। यदि मन को मज़बूत करके गुटखा या पान-मसाला के स्थान पर 2-3 हफ्ते तक भी सौंफ़ चबाएं तो गुटखे के व्यसन से आसानी से मुक्ति मिल सकती है। सौंफ़ के स्थान पर आँवले का भी प्रयोग किया जा सकता है। इसका तरीक़ा यह है कि ताजे़ हरे आँवलों को उबाल लें और गुठली निकालकर फेंक दें। अब उबले हुए आँवलों में पिसी हुई काली मिर्च, काला नमक और सेंधा नमक स्वाद के अनुसार डालकर ख़्ाूब मसलकर मिला लें और सुपारी के टुकड़े जैसे बनाकर धूप में सुखाकर सुरक्षित रख लें। गुटखा या पान-मसाला की जगह इन टुकड़ों को जब चाहें मुँह में रखकर चूसें, व्यसन धीरे-धीरे छूटने लगेगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सिगरेट पीने वालों के लिए वैज्ञानिक डॉ. एडवर्ड डोमिनों का सुझाव है कि यदि 50 ग्राम आलू, 85 ग्राम पके टमाटर का रस तथा 93 ग्राम पत्तागोभी का रस दिन में दो बार नियमपूर्वक सेवन किया जाय तो सिगरेट पीने की इच्छा नहीं होगी, क्योंकि इनमें &lsquo;निकोटीन&rsquo; तत्त्व प्राकृतिक रूप में मौजूद रहता है। वास्तव में यदि आहार-विहार की शुद्धि के साथ योग, ध्यान आदि की विधियाँ नियमित रूप से अपनाई जाएँ तो नशे की जटिल परिस्थितियों पर भी आसानी से क़ाबू पाया जा सकता है। निष्कर्ष के रूप में यही कहा जा सकता है कि यदि आप अपना स्वास्थ्य और सौन्दर्य बचाए रखना चाहते हैं तो नशे से दूर रहिए। यह भी याद रखिए कि नशे से दूर रहकर आप अपना ही नहीं बल्कि समाज, संस्कृति और राष्ट्र का भी भला करेंगे।</span></p>
