﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">कुछ फुटकर नुस्खे</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>


<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;"><strong>शहद :-&nbsp;</strong>शहद सिर्फ स्वाद में ही मीठा नहीं होता अपितु अपने अन्य गुणों में भी यह अतुलनीय है। इसमें अनेक महत्त्वपूर्ण विटामिन, खनिज, हार्मोन्स, अमीनो एसिड और एन्जाइम मौजूद रहते हैं। इसका एक प्राकृतिक गुण यह भी है कि इसके तत्व सीधे हमारे रक्त में पहुंच सकते हैं, इसलिए यह न केवल हमें तत्काल शक्ति प्रदान करता है, बल्कि अनेक बीमारियों से भी हमें बचाता है, साथ ही इससे हमारी पाचन शक्ति भी मजबूत होती है। चिकित्सा की दृष्टि से भी यह हमारे लिये बहुत उपयोगी है। हमारे मस्तिष्क और भावनाओं पर भी इसका चमत्कारी प्रभाव पड़ता है, जिससे मन को शांति मिलती है। तंत्रिका प्रणाली को विश्राम देकर तनाव को कम करता है। गुनगुने पानी में थोड़ा शहद डालकर पीने से अनिद्रा की बीमारी में लाभ होता है। इतना ही नहीं शहद शरीर की प्रतिरोध क्षमता को मजबूत करता है, जिससे यह हमें अनेक बीमारियों से बचाता हैं</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;"><strong>दही :-&nbsp;</strong>दही भी ऐसा एक प्राकृतिक भोज्य पदार्थ है, जो हमें बढ़ती उम्र में भी युवा और आकर्षक बनाए रखने में सहायक है। विटामिन &rsquo;ए&rsquo; और &rsquo;बी&rsquo;, कैल्शियम, लौह, पोटेशियम, फास्फोरस आदि से युक्त दूध से बना होने से यह बिना कोई नुकसान पहुंचाए हमारे प्रोटीन की जरूरतों को भी पूरा करता है। इस तरह यह अधिक उम्र के ऐसे लोगों के लिए एक आदर्श भोजन है, जो मांस खाने से बचना चाहते हैं। दही एक प्राकृतिक एंटीबायोटिक भी है। यह पाचन प्रणाली में हानिकारक बैक्टीरिया को खत्म करता है और पाचन शक्ति को ठीक रखता है। बीमार लोगों के लिए भी दही बहुत उपयोगी है, क्योंकि यह अत्यंत सुपाच्य है और इससे शरीर बलवान होता है। दूध की अपेक्षा यह ज्यादा सुपाच्य है और इसमें भरपूर पोषक तत्व होते हैं। &nbsp;</span></p>

