﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">दुबलापन भगाइए सौन्दर्य बचाइए</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>
<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">मोटापे की तरह दुबलापन भी एक समस्या है। हालाँकि दुबलेपन की समस्या उतनी बड़ी नहीं है जितनी कि मोटापे की। मोटे लोगों की तुलना में दुबले लोग प्राय: कम ही बीमार पड़ते हैं और उनके ज़्यादा दिनों तक ज़िन्दा रहने की भी संभावना रहती है। फिर भी, अगर देह हड्डियों का कंकाल सा नज़र आए तो समझिए कि कुछ मांसलता लाने की ज़रूरत है। ठीक अनुपात में मांसल शरीर स्वास्थ्य व सौन्दर्य की दृष्टि से उचित है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">आहार-विहार में उचित सुधार करके देह का दुबलापन दूर किया जा सकता है। कुछ लोग वंशगत प्रभाव से दुबले-पतले होते हैं। उनके शरीर की आंतरिक संरचना कुछ ऐसी होती है कि वे कितना भी पौष्टिक खाएं-पिएं पर शरीर में चर्बी इकट्ठा ही नहीं हो पाती और चाहकर भी वे मांसल नहीं दिखते। ऐसे लोगों का दुबलापन दूर होना थोड़ा मुश्किल तो है पर असंभव नहीं है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">दुबलापन दूर करने का कार्यक्रम बनाने से पहले यह देख लेना चाहिए कि कहीं किसी रोग की वजह से तो ऐसा नहीं है। यदि कोई रोग हो तो पहले उसे ठीक करने का उपाय करें। ज़्यादा संभव है कि आरोग्य होते ही दुबलापन भी खुद बखुद&nbsp;दूर हो जाएगा। यदि बीमारी ठीक होने के बाद भी दुबलापन बना रहे तो इस अध्याय में दिए उपायों को आज़माकर लाभ उठाएं। बिना किसी ख़्ाास बीमारी के होते हुए भी दुबलापन है तो इसके पीछे-कम भोजन करना या भूखे रहना, पौष्टिकता रहित भोजन करना, रात में देर तक जागना, कम विश्राम करना या क्षमता से ज्यादा श्रम करना, ज़्यादा उपवास करना, तनाव-चिंता-शोक में जीवन बिताना, पाचनशक्ति कमज़ोर होना आदि कारण हो सकते हैं। इसका अर्थ यह है कि यदि उक्त कारण ज़िम्मेदार हों तो दुबलापन दूर करने की कोशिश करने के साथ-साथ इन गड़बड़ियों को भी दूर करना चाहिए और ईष्र्या, द्वेष, चिंता, शोक, क्रोध से मुक्त होकर प्रसन्नचित्त, उमंग भरा जीवन बिताते हुए निम्न उपाय करने चाहिए-</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">1- दुबलापन दूर करने की पहली शर्त यह है कि आप अपनी पाचनशक्ति मज़बूत करें ताकि खाया-पिया शरीर में अच्छी तरह जज़्ब हो और खुलकर भूख लगे। इसके लिए हफ्ते भर विधिपूर्वक उपवास कर सकते हैं। तरीक़ा यह है कि जब उपवास करना हो तो एक दिन पहले मूँग की खिचड़ी आदि हल्का भोजन लें। रात में दूध या पानी के साथ 2 चम्मच ईसबगोल, एरण्ड तेल अथवा त्रिफला सेवन करके उदर की सफ़ाई करें। दूसरे दिन रोटी बंद कर दें और मौसमी फलों व उबली हरी साग-सिब्ज़यों पर निर्वाह करें। तीसरे दिन 2-3 घण्टे के अंतराल पर थोड़ा-थोड़ा करके सिर्फ फलों का रस पिएं। चौथे दिन सिर्फ पानी पीकर रहें। साथ में नींबू और शहद ले सकते हैं। पाँचवें दिन पुन: फलों का रस लें। छठे दिन फल व उबली साग-सब्ज़ी पर रहें। सातवें दिन एक-दो चपाती से शुरू करके धीरे-धीरे खुराक बढ़ाएं। इस उपवास काल में दो-तीन दिन एनिमा द्वारा पेट की सफ़ाई कर लें तो बेहतर परिणाम मिलेगा।&nbsp;&nbsp;</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">उपवास करने के बाद प्राय: भूख खूब लगने लगती है और खुराक&nbsp;बढ़ जाती है। इस तरह से बढ़ी हुई खुराक&nbsp;दुबलापन दूर करने में अत्यन्त सहायक है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">2- दुबले लोग सबेरे पौष्टिक नाश्ता लें, पर इसका समय भोजन से 3-4 घण्टा पहले और सोकर उठने के 2-3 घण्टे बाद रखें। एक पौष्टिक नाश्ता यह है कि थोड़े चनों में गेहूँ, मूँगफली, मूँग मिलाकर अंकुरित कर लें। इस अंकुरित अन्न में नींबू और थोड़ा नमक निचोड़कर नाश्ते के रूप में सेवन कर सकते हैं। नमक, नींबू न मिलाना चाहें तो इसे गुड़ के साथ या इसमें थोड़ी भिगोई किशमिश व खजूर मिलाकर भी सेवन कर सकते हैं। ऊपर से चाहें तो थोड़ा दूध पिएं। नमक, नींबू मिलाएं तो दूध न पिएं।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">इसके अलावा आगे वर्णित खजूर और दूध वाला नाश्ता भी कर सकते हैं या अनुकूल पड़े तो केला-दूध लें। जाड़े के दिनों में उड़द का आटा, बबूल का गोंद, देशी घी, अश्वगंधा तथा मेवे मिलाकर बनाया गया लड्डू भी पाचनशक्ति के अनुसार सेवन कर सकते हैं। पौष्टिक नाश्ते और भी कई हैं, उन्हें सोच-समझकर सेवन करके लाभ उठाया जा सकता है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">3- दोपहर और शाम के भोजन में पर्याप्त पौष्टिक पदार्थों का सेवन खूब चबा-चबाकर करें। उपलब्धता के हिसाब से गाजर, पालक, चौलाई, टिण्डा, परवल व विभिन्न हरी सब्जियां, मौसमी फल, घी का तड़का लगी दाल, आँवले का मुरब्बा, दूध, घी, मक्खन, चावल की खीर आदि सेवन करें। रोटियाँ गेहूँ की खाएं। चाहें तो गेहूँ में तिहाई भाग चने मिलाकर पिसवा लें और इस आटे की रोटी खाएं। भोजन के बाद एक-दो केले और आगरे का पेठा या आँवले का मुरब्बा लें तो अच्छा है। रात के भोजन में एकाध रोटी कम खाएं। भोजन के बाद आगे वर्णित अश्वगंधारिष्ट वाला नुस्खा&nbsp;भी सेवन कर सकते हैं।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">4- दोनों भोजनों के बीच 8 घण्टे का अंतर रखते हुए मध्यकाल में किसी मौसमी फल या जूस का हल्का पाचक पौष्टिक अल्पाहार ले सकते हैं।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">5- पानी भोजन के डेढ़-दो घण्टे बाद पीने की आदत बनाएं। इसके अलावा दिन भर में डेढ़-दो घण्टे के अंतराल पर 6-8 गिलास तक खुब&nbsp;पानी पीते रहें।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">6- रात में भोजन से दो-तीन घण्टे बाद और सोने से पूर्व गुनगुने दूध में एक चम्मच घी के साथ मिश्री या दो-तीन चम्मच शहद मिलाकर पिएं। चाहें तो दूध-खजूर वाला आगे लिखा प्रयोग भी कर सकते हैं। सिर्फ इतना ध्यान रखें कि रात में यह नुस्ख़्ाा सेवन करें तो इसमें खजूर की मात्रा सिर्फ आठ-दस ही रखें और सबेरे इसे न सेवन करें।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">7- इतना उपाय करते हुए सबेरे अपने अनुकूल व्यायाम, योगासन, प्राणायाम अवश्य करें। इस संबंध में किसी पुस्तक या योग्य व्यक्ति से जानकारी प्राप्त की जा सकती है। याद रखें, पौष्टिक आहार के साथ बिना उचित मात्रा में श्रम, व्यायाम किए स्वस्थ सुडौल बनना नामुमकिन है।&nbsp;&nbsp;</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">उपर्युक्त सुझावों पर अमल करने के बाद दो-तीन माह में आप अपनी सेहत में क्रांतिकारी परिवर्तन देखेंगे। इन उपायों के साथ अपनी प्रकृति को देखते हुए औषधीय प्रयोग के तौर पर निम्न नुस्ख़्ाों से भी लाभ उठाया जा सकता है-</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">1 भाग विशुद्ध कासीस भस्म को 16 भाग सुदर्शन चूर्ण के साथ तीन घण्टे तक सूखा मर्दन करके चूर्ण बना लें। इस चूर्ण को 2 ग्राम की मात्रा में प्रात: सायं जल के साथ सेवन करें। फिर भोजनोपरांत 2-2 ग्राम की 3 मात्रा 10-10 मिनट पर सितोपलादि चूर्ण फाँक लें। इसके बाद आधे घण्टे तक पानी न पिएं।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">इस योग के सेवन से सातवें दिन से ही रक्तवृद्धि होने लगती है। इस कल्प के सेवन से शुक्र की कमज़ोरी, दुबलापन, आलस्य समाप्त होकर रोगी स्वस्थ, सबल और उत्साहपूर्ण हो जाता है। इस योग का प्रयोग जीर्ण-ज्वर, विषम-ज्वर के उपरांत होने वाली दुर्बलता में विशेष लाभप्रद है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;"><strong>जनरल टॉनिक</strong></span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">अर्जुनारिष्ट, बलारिष्ट, अंगूरासव, अश्वगंधारिष्ट तथा दशमूलारिष्ट- प्रत्येक 500-500 मि.ली.; लौह भस्म, अभ्रक भस्म तथा शुद्ध शिलाजीत -10-10 ग्राम।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">सभी आसव अरिष्ट एक में मिलाकर उसमें दोनों भस्म व शिलाजीत अच्छी तरह घोल दें। इसे 2 से 4 चम्मच दिन में दो बार बराबर पानी मिलाकर लेना चाहिए।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">यह बढ़िया जनरल टॉनिक है। इससे शारीरिक और मानसिक शक्ति बढ़ती है। थकावट, आलस्य, कमज़ोरी दूर होकर चुस्ती-फुर्ती व अच्छी नींद आती है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">सफ़ेद मूसली और असगंध समान मात्रा में लेकर कपड़छन चूर्ण बनाएं तथा एक छोटी चम्मच की मात्रा में दूध के साथ सेवन करें। इससे मांस और बल दोनों की वृद्धि होती है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">असगंध का चूर्ण सबेरे-शाम 1-1 चम्मच की मात्रा में शहद में मिलाकर चाटने तथा साथ में एक पाव मिश्री मिला गर्म दूध पीते रहने से शरीर का दुबलापन मिटता है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">शतावरी, छिलका रहित कौंच के बीज, सफ़ेद मूसली, असगंध, गोखरू- सभी 100-100 ग्राम।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">सभी चीज़ों को अलग-अलग कूट-पीसकर कपड़छन चूर्ण करके मिलाकर रख लें। यह चूर्ण सबेरे-शाम खाली पेट थोड़े देशी घी में 5-5 ग्राम मिलाकर सेवन करें। चाहें तो एक पाव मिश्री मिला गुनगुना दूध पी सकते हैं। शाम वाली ख़्ाुराक चाहें तो रात में सोने से आधा घण्टे पूर्व भी सेवन कर सकते हैं। अलबत्ता, भोजन किये हुए कम-से-कम दो घण्टे अवश्य बीत गए हों।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">इस प्रयोग से दुबलापन दूर होता है, पौरुषशक्ति बढ़ती है। यह काफ़ी पौष्टिक, धातुवर्द्धक और श्रेष्ठ बाजीकारक नुस्ख़्ाा है। इसे ब्रह्मचर्य के साथ लगभग तीन माह तक प्रयोग करना चाहिए।&nbsp;&nbsp;</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">शरीर दुबला हो और ऐसा किसी विशेष रोग की वजह से न हो तो प्रतिदिन दो पके केले खाकर ऊपर से गर्म मिश्री मिला 1 पाव दूध पिएं। दूध उबालते समय इसमें एक-दो इलायची भी पीसकर मिला दें। तीन चार माह में शरीर मांसल होने लगेगा।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">50 ग्राम कच्ची मूँगफली के दानों को तीन-चार घण्टे पानी में भिगोकर छिलका उतारकर पीस लें। अब कढ़ाई में 25 ग्राम देशी घी डालकर धीमी आँच पर सेंकें। जब लालिमा आने लगे तो इसमें 25 ग्राम शक्कर मिलाकर 2 नग छोटी इलाइची पीसकर डाल दें।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">इस तरह हलवा बनाकर कुछ दिनों तक नियमित खाने से शरीर का दुबलापन दूर होता है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">125 ग्राम सालमपंजा तथा 250 ग्राम बादाम मिगी को महीन पीसकर मिला लें।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">प्रात: और रात में सोने से पूर्व (भोजन से 2-3 घण्टे बाद) 10-10 ग्राम यह चूर्ण गुनगुने मीठे दूध से सेवन करते रहने से शरीर का दुबलापन व कमज़ोरी दूर होती है तथा यौनशक्ति बढ़ती है। स्त्री-पुरुष दोनों के लिये उपयोगी है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">छिलका उतारे हुए 60 ग्राम जौ की आधा लीटर दूध में खीर बनाएं और इस खीर का ही नियमित नाश्ता करें। यदि किसी विशेष बीमारी की स्थिति न हो तो दो माह में इस प्रयोग से दुबलापन दूर होने लगता है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">15-20 अच्छे पिंडखजूर, थोड़ी किशमिश, चौथाई चम्मच सोंठ व एक-दो छोटी इलायची को एक पाव दूध में उबालें व एक चम्मच घी मिलाकर लगभग दो माह सबेरे नाश्ते के रूप में सेवन करें। शरीर की दुर्बलता दूर होगी। यह प्रयोग कफ, सर्दी को भी दूर करता है।&nbsp;</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">शारीरिक सुन्दरता से कहीं ज़्यादा ज़रूरी है मन और वाणी का सौन्दर्य। बाहरी सुन्दरता तभी तक है जब तक शरीर है, पर मन और वाणी की सुन्दरता चारित्रिक विशेषता है और यह आने वाली पीढ़ियों के लिए धरोहर बन जाती है। यही आन्तरिक सौन्दर्य समाज में आपसी सामंजस्य का सबसे बड़ा साधन है। मन और वाणी सुन्दर हों तो न पारिवारिक कलह होंगे, न लड़ाई-झगड़े और न ही दंगे-फ़साद। समाज में आज अगर मार-काट, ठगी-बेईमानी, ईष्र्या-द्वेष का ही माहौल हर तरफ़ दिखाई दे रहा है तो इसकी सबसे बड़ी वजह मन और वाणी की कुरूपता ही है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">मन के सौन्दर्य का अर्थ यह है कि हमारी भावनाओं में पवित्रता का प्रवाह हो, हम अपने स्वार्थ के लिए किसी का अहित न सोचें और प्राणिमात्र के प्रति हमारी दृष्टि प्रेमपूर्ण हो। वाणी की सुन्दरता यह है कि किसी का दिल दुखाने के लिए कोई बात हम न बोलें। हमारा स्वभाव सत्य बोलने का हो। भाषा इतनी मधुर हो और अपनी बात रखने का ढंग इतना प्यारा हो कि लोग हमारे स्वभाव की प्रशंसा करते न थकें। कल्पना करिए मन और वाणी की यह सौन्दर्य-साधना बचपन से ही सबको कराई जाए तो पूरा समाज ही कितना सुन्दर हो जाए। क्रूरता और हिंसा का तांडव बंद हो जाए और हर तरफ़ सुख-शांति का साम्राज्य हो।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">ं हालाँकि समाज की वर्तमान दिशा और दशा जैसी है उसमें सभी लोगों का एकदम से चारित्रिक सुधार हो जाना आसान बात नहीं है, फिर भी हम व्यक्तिगत रूप से अपने-अपने स्तर पर यह कोशिश तो शुरू ही कर सकते हैं। अपने-अपने स्तर पर हमारी कोशिशों का असर ही हमारे पास-पड़ोसियों और हमारी संतानों पर भी पड़ेगा। इसी तरह से धीरे-धीरे व्यापक स्तर पर सामाजिक सुधार की नींव पड़ जाएगी। कुछ लोग यह मानते हैं कि जिन लोगों की आदतें एक बार बिगड़ चुकी हैं, वे फिर नहीं सुधर सकते; जिनके मन में ईष्र्या-द्वेष की आँधी चल रही है, वे नहीं बदल सकते; याकि जिनकी जुबान से कटुता ही टपकती रहती है, वे वाणी का संयम नहीं कर सकते। इसके विपरीत लेखक का मानना है कि यदि किसी व्यक्ति में आत्मसुधार का भाव पैदा हो जाए तो वह अपने चरित्र में क्रांतिकारी परिवर्तन ला सकता है। यह बात ज़रूर है कि कोई भी परिवर्तन सिर्फ इच्छा मात्र से या आनन-फानन में ही नहीं हो जाता। इसके लिए संकल्प और अभ्यास (साधना) अनिवार्य है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">जो लोग ईमानदारी से चाहते हैं कि उनके मन से कुविचारों का झंझावात समाप्त हो जाए और उसमें शुभ संकल्पों का प्रवाह हो; तथा, उनकी वाणी में मधुरता का वास हो, उनके लिए यहाँ कुछ व्यावहारिक उपाय सुझाए जा रहे हैं। ये उपाय ऐसे हैं, जो सदियों से हमारे पूर्वजों द्वारा आज़माए जाते रहे हैं। वास्तव में भारतीय समाज में प्राचीन काल से ही चरित्र-सुधार या यूँ कहें कि मनुष्य-निर्माण का एक पूरा सुनियोजित कार्यक्रम ही प्रचलित रहा है और जिसके पालन के संस्कार भी बचपन से ही दिये जाते रहे हैं। इन्हीं संस्कारों के परिणामस्वरूप ही इस देश में अपने स्वार्थों को भुलाकर लोक कल्याण के लिए अपने प्राणों तक की आहुति दे देने वाले लोग प्राय: घर-घर में ही पैदा होते रहे हैं। यह हमारा दुर्भाग्य है कि हम पश्चिमी सभ्यता-संस्कृति के प्रवाह में फँसकर अपने जीवन मूल्यों को काफ़ी कुछ भुला बैठे हैं और इसी का नतीजा है कि आज देश में गंभीर चारित्रिक संकट उठ खड़ा हुआ है।&nbsp;</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">दरअसल प्राचीन भारत में लोगों की दिनचर्या का प्राण था - योगाभ्यास (पतंजलि निर्देशित) और &rsquo;पंच महायज्ञ&rsquo;। पंचमहायज्ञों का पालन करते हुए योगमय जीवन अपनाने का ही परिणाम था कि भारत &rsquo;विश्वगुरु&rsquo; रहा। जिन्हें योग और पंचमहायज्ञ को समग्रता में जानना हो, उन्हें इस विषय के प्राचीन साहित्य का अध्ययन करना चाहिए। यहाँ सिर्फ इतनी सी सामान्य जानकारी अवश्य दी जा सकती है कि ब्रह्मयज्ञ, देवयज्ञ, बलिवैश्वदेवयज्ञ, अतिथियज्ञ तथा पितृयज्ञ को मिलाकर हमारे शास्त्रों में पंचमहायज्ञ नाम दिया गया है। इनमें से ब्रह्मयज्ञ का उद्देश्य यह था कि हमें जिस सृष्टि रचयिता ने पैदा किया हम उसके प्रति कृतज्ञ रहें, आत्मविश्लेषण करके अपनी कमियों को दूर करें, आत्मिकशक्ति बढ़ायें और स्वाध्याय से ज्ञानवृद्धि करें। देवयज्ञ का विधान इसलिए किया गया था कि इस संसार में रहते हुए हम लोग परस्पर सहयोग का तत्त्व सीखें। वैश्वदेवयज्ञ इसलिए किया जाता था कि मनुष्य के अन्दर से अभिमान की भावना दूर रहे। अतिथियज्ञ का उद्देश्य उपदेशकर्त्ता से ज्ञान प्राप्ति तथा उसकी सेवा करना था। सबसे अन्तिम पितृयज्ञ का विधान इस उद्देश्य से किया गया था कि जिन बड़े-बुजुर्गोंं ने हमें पाला-पोसा उनके प्रति हम कृतज्ञता की भावना रखें तथा उनके अनुभवों से अपनी जीवन-यात्रा के लिए ज़रूरी ज्ञान प्राप्त करें।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">वास्तव में कोई भी व्यक्ति इन पंचमहायज्ञों के यथार्थ उद्देश्यों को देखकर समझ सकता है कि ये किसी सम्प्रदाय विशेष के लिए न होकर मानवमात्र के लिए हैं और किसी भी समाज की बेहतरी के लिए आवश्यक हैैं। जिनकी रुचि पंचमहायज्ञों के विधि-विधान के बारे में गहरी समझ बनाने की हो, वे चाहें तो स्वामी समर्पणानन्द द्वारा लिखित &rsquo;पंचयज्ञ प्रकाश&rsquo; नामक पुस्तक पढ़ सकते हैं। यह पुस्तक-समर्पण शोध संस्थान, 4/42 राजेन्द्र नगर, सेक्टर-5, साहिबाबाद, गाजियाबाद (उ.प्र.)-के पते से प्राप्त की जा सकती है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">अब आइए, इस प्राचीन जीवन पद्धति में से हर परिस्थिति के लिए व्यावहारिक कुछ उपायों की चर्चा करें, ताकि जनसामान्य सहजता से इन्हें अपनाकर मन और वाणी के संयम की ओर अपने क़दम बढ़ा सके।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">1. यदि अभी तक आपके आहार में तामसिक (मद्य, मांसाहार आदि) चीजें़ शामिल रही हों, तो सबसे पहले इनका सेवन बन्द करिए। यदि आहार साित्त्वक होगा तो मन और विचारों में भी साित्त्वकता का प्रवेश आसानी से होगा। आहार के विषय में इस पुस्तक और &rsquo;स्वदेशी चिकित्सा -आसान और कारगर नुस्ख़्ो&rsquo; में पर्याप्त जानकारी दी गई है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">2. 6-7 घंटे की पर्याप्त नींद के बाद सबेरे बिस्तर से उठने में यदि आपको आलस्य आता है, तो इस आदत को अविलम्ब त्याग दीजिए। नींद खुलते ही जिसकी असीम कृपा से यह मनुष्य शरीर मिला है, उस परमात्मा को स्मरण करते हुए उठकर बैठ जाइए। दिन भर के ज़़रूरी कामों की रूपरेखा बनाइए और ईश्वर को साक्षी मानकर और बिना किसी प्रमाद के उन्हें पूरा करने का संकल्प धारण कीजिए। इतना करने के बाद शौचादि निवृत्ति के लिए जाइए। शौचादि क्रिया के बाद सबेरे स्नान करते हों तो ठीक, अन्यथा हाथ, पैर व मुँह</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">धोकर मन व विचार की असली सौन्दर्य-साधना के लिए तैयार होइए। इसके लिए आपको बाहर से किसी तरह के अतिरिक्त साधन जुटाने की ज़रूरत बिल्कुल नहीं है। ज़रूरत है तो सिर्फ प्रतिदिन नियमित रूप से सबेरे-शाम आधा-आधा घंटा समय देने की। इतना समय न दे सकें तो कम से कम 15-20 मिनट तो लगाएं ही। इस समय में आपको नियमित रूप से प्रणव (ओ&bull;म्) का अर्थचिन्तन के साथ जप करना है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">जप का तरीक़ा यह है कि सबसे पहले आप पवित्र भाव के साथ सुखासन या पद्मासन में बैठ जाएं। रीढ़ सीधी रखें। अब कम से कम तीन और अभ्यास अच्छा हो तो अधिक से अधिक 21 प्राणायाम करें। इस दौरान ओम् या प्राणायाम मंत्र (ओं भू: ओं भुव: ओं स्व: ओं मह: ओं जन: ओं तप: ओं सत्यम्) का मानसिक जाप करते रह सकते हैं। प्राणायाम के बाद लम्बी गहरी साँस लेकर धीरे-धीरे मुँह से साँस छोड़ते हुए &rsquo;ओम्&rsquo; का सस्वर उच्चारण करिए। ओंकार जप के साथ इसका अर्थचिन्तन भी अवश्य करिए। शुरू में &rsquo;ओ&bull;म्&rsquo; का उच्चारण करने के बाद थोड़ी देर रुककर अर्थ का विचार कर सकते हैं, बाद में जप के साथ ही अर्थ की भावना करने का भी अभ्यास हो जाता है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">जहाँ तक &rsquo;ओ&bull;म्&rsquo; के अर्थ का सवाल है तो इसमें शामिल अकार, उकार और मकार से ईश्वर के वाचक बहुत से नाम बनते हैं, पर सामान्यत: &rsquo;ओ&bull;म्&rsquo; के &rsquo;सर्वरक्षक&rsquo; अर्थ की भावना कर सकते हैं। अर्थात् अपनी बुरी आदतों के प्रति प्रायश्चित का भाव रखते हुए स्मरण करिए कि परमात्मा सर्वरक्षक है, वह हमारी हर प्रकार के दुर्गुणों से रक्षा करे और हममें भी दूसरों के प्रति रक्षक बनने का भाव प्रबल हो। अलबत्ता, अपनी जिन बुराइयों को आप दूर करना चाहते हैं उन पर क्रमश: एक-एक करके अभ्यास करें और संकल्प के साथ-साथ आत्मसुधार के लिए पुरुषार्थ करें तो एक दिन आप पाएंगे की अपनी तमाम बुरी आदतों पर आपने नियंत्रण कर लिया है। &rsquo;ओ&bull;म्&rsquo; का जप आप सूर्योदय और सूर्यास्त दोनों समय नियमित करें। जप के लिए सबसे महत्त्वपूर्ण बात अर्थ की भावना है। याद रखें कि सिर्फ मिश्री-मिश्री चिल्लाने से मुँह मीठा नहीं होता। इसलिए जो लोग मन्त्रों का सिर्फ उच्चारण करते हैं, उनकी जप क्रिया को निष्फल ही समझिए। चरित्र में सार्थक बदलाव लाने के लिए तो महर्षि पंतजलि के &rsquo;तज्जपस्तदर्थभावनम्&rsquo; योगसूत्र के अनुसार ही जप करना चाहिए। जो लोग विधिपूर्वक ध्यान-संध्या करते हैं, उन्हें तो ख़्ौर यह सब समझाने की ज़रूरत ही नहीं है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">3. आपकी जो भी बुरी आदतें हों, उन्हें स्पष्ट रूप से एक पर्ची या डायरी में लिखें। दिन में यदा-कदा इन्हें पढं़े और दुर्गुणों को दूर करने का संकल्प दोहराएं। मान लीजिए कि आपको गुस्सा बहुत जल्दी आता है तो सबसे पहले ध्यान दीजिए कि आपको किन स्थितियों में गुस्सा जल्दी आता है और फिर वैसी स्थितियों की संभावना बनते ही अपना संकल्प दोहराना शुरू कर दीजिए और धैर्य से काम लेने की मानसिकता बनाइए। यदि गुस्सा आने ही लगे तो धीरे-धीरे गहरी साँस लेकर धीरे-धीरे ही छोड़ने का प्राणायाम करिए। इससे क्रोध पर काबू पाना आसान हो जाएगा। कुछ दिनों तक जैसे तैसे भी अगर आप यह अभ्यास कर ले गए तो धीरे-धीरे गुस्सा न करने की आपकी सहज प्रवृत्ति ही बन जाएगी। इसी तरह एक-एक कर अपने अन्य दुर्गुणों से भी छुटकारा पा सकते हैं।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">4. रात में सोने से पूर्व अपने दिन भर के अभ्यास और किए गए कार्यों की समीक्षा अवश्य करें। जितने अंश में आपको सफलता मिली हो, उसके लिए परमात्मा को धन्यवाद दीजिए और यदि कुछ त्रुटि रह गई हो तो उसके लिए प्रायश्चित्त का भाव बनाइए और अपनी संकल्प-शक्ति को और मज़बूत बनाकर &rsquo;ओ&bull;म्&rsquo; का मानसिक जप करते हुए सोने की तैयारी करिए। वैसे तो प्रात:जागरण, शयनकालीन और संध्या के लिए वेदों में बड़े सुन्दर मंत्र हैं, जिनकी विशेष रुचि हो वे अलग से जानकारी कर सकते हैं। इसके अलावा आत्मसुधार के इच्छुक लोगों को महात्मा गाँधी की आत्मकथा(मेरे सत्य के प्रयोग) भी अवश्य पढ़नी चाहिए।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">यह मन और विचार को सुन्दर बनाने का अनुभूत अभ्यासक्रम है। लेखक ने ध्यान-संध्या के अभ्यास से अपने कई दुगुर्णों को दूर भगाने में सफलता पाई है, इसलिए उम्मीद है कि जनसामान्य को भी इस तरह के अभ्यासक्रम से अवश्य ही लाभ होगा।&nbsp;</span></p>
