﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">टूथब्रश़: स्वास्थ्य का साधन या रोगाणुओं की सराय</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">हमेशा स्वास्थ्यप्रद आहार-विहार का पालन करने वाले भी अगर अचानक बीमार पड़ जाएं तो हो सकता है कि उन्हें उनकी बीमारी रोज़मर्रा इस्तेमाल होने वाले उन्हीं के टूथब्रश से उपहार में मिल गई हो। जी हाँ, दाँतों, मसूडों को स्वस्थ,सुंदर रखने की मंशा से अपनाया जाने वाला स्वास्थ्य का यह साधन कभी भी बीमारियों की सौग़ात ला सकता है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">यह ताज्जुब की बात ज़रूर लग सकती है, पर है एकदम सच। और, यह आश्यर्चजनक खोज की है स्वानंद अनुसंधान पीठम, पुणे के डॉक्टरों और वैज्ञानिकों की एक टीम ने। आज़ादी बचाओ आन्दोलन के यवतमाल (महाराष्ट्र) जिले के वरिष्ठ कार्यकर्त्ता जितेन्द्र लोड़या और उनके चिकित्सा विशेषज्ञ साथियों की टीम फिलहाल टूथब्रश के नुकसानदेह पहलुओं को काफ़ी गम्भीरता से आमजन के बीच उजागर करने में लग गए हैं। शुरूआती दौर में ही टूथब्रश में पनपने वाली कई बीमारियों के जीवाणु ढूँढ़ निकाले गये हैं। इनमें हैजा जैसे संक्रामक रोगों तक के भी जीवाणु शामिल हैं। सेहत बरक़रार रखने के नाम पर पूरी दुनिया में इस्तेमाल हो रहे टूथब्रश के कई दूसरे नुकसान तो ख़ैर पूरी रिपोर्ट आ जाने के बाद ही पता चलेंगे, पर शुरूआती सूचनाओं से ही ख़तरे का संकेत तो मिल ही जाता हैै।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">टूथब्रश और टूथपेस्ट जैसी चीज़ों के परीक्षण में लगे चिकित्सा विशेषज्ञों के अनुसार मुँह से निकली गन्दगी की एक परत दरअसल टूथब्रश में नीचे की ओर ब्रश की जड़ों में धुलने के बाद भी अक्सर जमी ही रहती है। अब ऐसा तो होता नहीं कि ब्रश करने के बाद आप पानी गरम करें और उसमें टूथब्रश अच्छी तरह धुलकर रखें। यूँ गरम पानी से भी कोई गारण्टी नहीं है कि ब्रश की जडें़ ठीक से धुल ही जाएँ। वैसे भी काफ़ी साफ़-सुथरी चिकनी चीज़ों को लगातार पानी से साफ़ करते रहने पर भी हफ्ते दो हफ्ते में जब साबुन वग़ैरह से अच्छी तरह रगड़ने की ज़रूरत महसूस होने लगती है, तो फिर साल-छ: महीने लगातार इस्तेमाल होने वाले टूथब्रश को साफ़ रख पाना कितना कठिन होगा, यह समझा जा सकता है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">विशेषज्ञों का कहना है कि ब्रश की जड़ों में जमी गन्दगी तरह-तरह की बीमारियों के जीवाणुओं के पनपने का अच्छा साधन है। इसके अलावा टूथब्रश सामान्यत: बाथरूम में लगे किसी स्टैण्ड पर ही रखे जाते हैैं। आधुनिकता के चलते लैट्रिन और बाथरूम अक्सर एक साथ जुड़े तो रहते ही हैैं। ऐसे में पूरे घर में तरह-तरह के रोगाणुओं की संभावना वाली एकमात्र यही जगह है। स्पष्टत: यहाँ रखे टूथब्रश में जमे अन्न-कण रोगाणुओं के लिए आकर्षण का केन्द्र बड़ी आसानी से बन ही जाते हैं और इस तरह इनका हमारे शरीर में पहुँचना एकदम आसान हो जाता है। कहने का अर्थ यह है कि तमाम तकनीकी बाज़ीगरी दिखाने के बावजूद भाँति-भाँति के टूथब्रश अंतत: निरापद नहीं ही हैं।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">स्वास्थ्य की दृष्टि से निश्चित रूप से सबसे अच्छा उपाय नीम या बबूल की दातून है, पर दुर्भाग्य कि मुनाफ़ाखोरों की बिरादरी ने आधुनिकता और क्वालिटी के नाम पर दातून को दकियानूसी और घटिया प्रचारित कर-करके उसे हाशिए पर पहुँचा दिया। आज हालत यह हो गई है कि गाँव तक के लोग ब्रश से दाँत रगड़ते मिल जाते हैं। यह टूथब्रश और टूथपेस्ट का ही कमाल है कि आजकल के युवाओं की बत्तीसी कम उम्र में ही जवाब देने लगती है। कितनी विडम्बनापूर्ण स्थिति है कि विदेशी लोग टूथब्रश से तौबा करके हिन्दुस्तानी नीम की दातून के हिमायती बन रहे हैं और हिन्दुस्तान के नौनिहाल अपनी ही उच्च क्वालिटी की विरासत को भुलाने में लगे हैं।</span></p>
