﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">सुन्दरता का शत्रु है साबुन</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>


<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दुनिया का शायद ही कोई कोना ऐसा होगा, जहाँ साबुन का साम्राज्य न फैला हुआ हो। आज की पीढ़ी को नहाने के समय साबुन की ज़रूरत कुछ वैसे ही महसूस होती है जैसे कि भूख के समय भोजन की। शायद ही इने-गिने लोग हों जो साबुन के गुलाम न होंगे। आदत तो कुछ ऐसी हो गई है कि अगर एक-दो दिन भी बग़ैर साबुन के नहाना पड़ जाय तो लगता है कि जैसे कई दिनों से शरीर पर पानी ही न पड़ा हो।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">वास्तव में विज्ञापनी मायाजाल ने साबुन को हमारी अनिवार्यताओं में शामिल कर दिया है। अन्यथा, त्वचा के स्वास्थ्य की दृष्टि से साबुन एकदम गै़रज़रूरी और नुकसानदेह चीज़ है। साबुन में इस्तेमाल किए जाने वाले रसायन तमाम चर्मरोगों के कारण बनते हैं। हालाँकि जैसे-जैसे लोगों की स्वास्थ्य के प्रति जागरूकता बढ़ रही है वैसे-वैसे त्वचा के प्रति अहानिकर होने का दावा करने वाले साबुनों की संख्या भी बढ़ने लगी है। कई साबुन निर्माता दावा करते हैं कि उनका साबुन रसायन मुक्त है या जड़ी-बूटियों के मिश्रण से बनाया गया है, परंतु यह अच्छी तरह याद रखना चाहिए कि उच्च से उच्च कोटि के साबुन में भी झाग पैदा करने के लिए कम से कम एक नुकसानदेह रसायन एस.एल.एस. (सोडियम लॉरेल सल्फेट) तो प्राय: मिलाया ही जाता है। अलबत्ता, कुछ निर्माता साबुन या शैम्पू के रैपर पर जड़ी-बूटियों की लंबी फेहरिस्त तो लिखते हैं पर हानिप्रद रसायन मिलाने के बावजूद इनका नाम नहीं देते। भक्त क़िस्म के जो लोग साबुन मल-मलकर नहाने के बाद पवित्र (?) होकर घंटों भजन-पूजन करते हैं, उन्हें यह अच्छी तरह याद रखना चाहिए कि ज़्यादातर साबुनों में बूचड़ख़्ाानों से भारी मात्र में निकली चर्बी धड़ल्ले से मिलाई जाती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">जो लोग यह सोचकर शरीर पर साबुन मलते हैं कि इससे मैल साफ़ होती है या सौन्दर्य में निखार आता है, वे बहुत हद तक भ्रम में जीते हैं। याद रखें कि साबुन से अगर कुछ ऊपरी गंदगी साफ़ होती है तो रसायनों की कहीं ज़्यादा ख़्ातरनाक गंदगी त्वचा के रोम छिद्रों से शरीर के भीतर भी प्रवेश कर जाती है। दुर्भाग्यपूर्ण यह है कि आजकल की अपने को सभ्य और आधुनिक समझने वाली कई माँएं अपने नन्हे-मुन्ने शिशुओं तक को भाँति-भाँति के साबुनों से ख़्ाूब रगड़-रगड़कर इसलिए नहलाती हैं कि इससे धीरे-धीरे उनके वर्ण में कुछ निखार आ जाएगा। अब इन सभ्य क़िस्म की मूर्ख माताओं को कौन समझाए कि अपने बच्चों का हित साधने की कोशिश में वे उनका अहित ही कर रही हैं। साबुन रगड़ने से रंग सुधरने के बजाय त्वचा कुछ बदरंग ही होगी, यह तय है। भाँति-भाँति के &lsquo;बेबी-सोप&rsquo; भी अंतत: निरापद नहीं हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">ग़ौर करने वाली बात यह भी है कि जो फ़िल्मी हिरोइनें साबुनों के लुभावने विज्ञापनों में नज़र आती हैं वे ही अपनी असली ज़िन्दगी में उन साबुनों को इस्तेमाल करने लायक़ नहीं समझतीं। साबुन के बजाय अपनी सौन्दर्य-रक्षा के लिए वे प्राकृतिक और घरेलू तरीक़े ही ज़्यादा अपनाती हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">साबुन विरोधी इतनी बातों के बाद सवाल यह है कि अब अगर साबुन न लगाएँ तो कैसे नहाएं ? साबुन लगाने की जिनकी रोज़ की आदत है, उनके लिए बगै़र साबुन के स्नान की कल्पना तो और भी कष्टदायी है। पर यह वास्तव में एकदम से मुश्किल नहीं है। मन को थोड़ा दृढ़ कर लीजिए तो साबुन की ज़रूरत बड़ी आसानी से समाप्त हो जाएगी। त्वचा प्रकरण में वर्णित नुस्ख़ों में साबुन के कई बेहतर घरेलू विकल्प मिल जाएँगे। उन्हें इस्तेमाल करके त्वचा के सौन्दर्य की ज़्यादा अच्छी देखभाल की जा सकती है। यूँ शरीर पर कुछ भी न लगाएं तो भी नहाते समय गीले तौलिये से रगड़-रगड़कर त्वचा की सफ़ाई कर लेना पर्याप्त है। अगर तेल मालिश करते हों तो एक छोटी तौलिया अलग से रखें। स्नान के बाद इसी सूखी तौलिया से शरीर को रगड़-रगड़कर पोंछ लें, तो आपकी त्वचा स्निग्ध और स्वस्थ तो बनेगी ही और साबुन की ज़रूरत भी नहीं पड़ेगी। इसके अलावा सुविधा हो तो बेसन, मुलतानी मिट्टी और कई तरह के उबटन बेहतर विकल्प हैं। इनकी विधियाँ इसी पुस्तक के &lsquo;त्वचा प्रकरण&rsquo; और &lsquo;स्वदेशी चिकित्सा&rsquo; नामक पुस्तक में वर्णित हैं। आगे के पृष्ठों पर वर्णित दूध से दाढ़ी बनाने और नहाने का नुस्ख़ा भी आज़मा सकते हैं। अब यदि इतने पर भी साबुन को अलविदा कह पाना मुश्किल ही लग रहा हो तो नीम, रीठा, शिकाकाई आदि जड़ी-बूटियों के योग से बने कुछ अच्छे क़िस्म के साबुन यदा-कदा इस्तेमाल किए जा सकते हैं। बच्चों के लिए साबुन के बजाय स्नान कराने से पहले उबटन लगाना सबसे अच्छा उपाय है।</span></p>
