﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">सौन्दर्यरक्षक आभ्यंतर प्रयोग</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;"><strong>सौन्दर्यरक्षक</strong>&nbsp;<strong>पाक</strong></span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">जो स्त्रियाँ किसी बीमारी के बाद कमजो़री की शिकार हो गई हों और सौन्दर्य नष्ट हो गया हो, उन्हें यह पाक निम्न अनुसार बनाकर सेवन करने से लाभ मिल जाता है-</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सोंठ-डेढ़ तोला, काला जीरा-1 तोला, विधारा-डेढ़ तोला, चव्य- 1 तोला, अकरकरा- डेढ़ तोला, तेज़पात-1 तोला, धनिया-डेढ़ तोला, सफे़द जीरा-डेढ़ तोला, बरियारी की जड़-2 तोला, इलायची-2 तोला, चित्रक-2 तोला, पीपल-1 तोला, जावित्री-1 तोला, त्रिफला-2 तोला, नागकेसर-डेढ़ तोला, गोदुग्ध 5-सेर, चीनी-ढाई सेर तथा गाय का घी तीन-पाव।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;"><strong>निर्माणविधि</strong><strong>-</strong>&nbsp;पहले दूध को इतना पकाइए कि आधा रह जाए। इसके बाद इसमें सोंठ पीसकर मिला दें। मावा बन जाने पर सभी औषधियों को कपड़छन चूर्ण करके इसमें मिला दें तथा एक पाव घी में सेंकें, बाद में शेष घी मिला दें। औषधियाँ अच्छी तरह एकसार हो जाएं तो चीनी की चाशनी बनाकर इसमें डालें तथा पिश्ता, बादाम, नारियल, चिरौंजी आदि मेवे मिलाकर जमा दें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इसे 1 तोला से लेकर 5 तोला तक पाचनशक्ति के अनुसार सबेरे-शाम दूध से सेवन करना चाहिए। इसके सेवन से चुस्ती-फुर्ती, प्रसन्नता तथा पूरे शरीर में सुंदरता का संचार होता है। यह योग भूख की कमी, क्षय, पांडु, कमरदर्द, नेत्रों की कमज़ोरी, प्रदर आदि अन्यान्य रोगों को भी ठीक करने में समर्थ है। इसे पुरुष भी सेवन कर सकते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">एक पाव दूध में असली केसर की चार-पाँच पंखुडियाँ तथा एक छोटी इलाइची डालकर उबालें तथा नियमित सर्दियों में दो-तीन माह पिएं। इससे त्वचा की रंगत निखरती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आँवले का मुरब्बा 25 ग्राम नित्य तीन-चार माह खाने से वर्ण सुधरता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">गाजर व चुकन्दर का रस एक गिलास एक माह तक पीने से रक्त शुद्ध होता है तथा वर्ण निखरता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">अंगूर, किशमिश व मुनक्के के सेवन से रंग साफ़ होता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">टमाटर, मूली, गाजर, चुकन्दर, प्याज, पत्तागोभी आदि को सलाद के रूप में सेवन करने से त्वचा स्वस्थ बनती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">त्रिफला चूर्ण तीन ग्राम की मात्रा में गर्म पानी के साथ सोते समय सेवन करते रहने से पेट साफ़ रहता है और त्वचा रोगी नहीं होते।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">1 तोला मुनक्का साफ़ करके 5 तोला पानी में शाम को भिगो दें। सबेरे बीज अलग करके मुनक्का खा लें और बचे पानी में मिश्री मिलाकर या वैसे ही पी लें। एक माह में मुहाँसे निकलने कम हो जाएंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यदि आँखें अंदर धँस रही हों और उनके चारों ओर कालापन हो तो 5-6 बादाम की गिरियाँ रात भर पानी में भिगोकर सबेरे पीसकर एक पाव गर्म मिश्री युक्त दूध के साथ 21 दिनों तक पिएं। इस दौरान रोज़ सायंकाल देशी गुलाब का गुलकंद भी एक छोटी चम्मच भर सेवन करते रहें। इसके अलावा शहद और बादाम का तेल समान मात्रा में मिलाकर आँखों के चारों ओर हल्के-हल्के मालिश करें तथा आधे घण्टे बाद धो दें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;"><strong>रतिबल्लभ</strong>&nbsp;<strong>पाक</strong></span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आधा किलो-बबूल का गोंद, 100 ग्राम-सोंठ, 50-50 ग्राम-पीपलामूल एवं पीपल, 25-25 ग्राम-शुद्ध शिलाजीत, मोचरस, जायफल, जावित्री, लौंग, 10-10 ग्राम-दालचीनी, नागकेसर, तेज़पात, काली मिर्च, प्रवाल भस्म, इलायची, अभ्रक भस्म, लौहभस्म, बंगभस्म तथा 5 ग्राम-केसर, 250 ग्राम-घी, 2 किलो- शक्कर व जितना ज़रूरी समझें, मेवे ले लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">गोंद को बारीक कूटकर कढ़ाई में घी गर्म करके तल लें। पीपल, पीपलामूल व सोंठ को कपड़छन चूर्ण करें। केसर व भस्मों को छोड़कर शेष लौंग आदि द्रव्यों को मिलाकर एक साथ कपड़छन चूर्ण बनाएं। खोपरा, किशमिश, बादाम आदि मेवे भी बारीक काटकर रखें। केसर को पत्थर के खरल में गुलाबजल के साथ घोंट लें। अब चारों भस्मों को भी साफ़ खरल में घुटाई करके एक में मिला लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यह सब तैयार हो जाने के बाद शक्कर की एक तार की चाशनी बनाएं तथा सबसे पहले तले गोंद, सोंठ, पीपल व पीपलामूल का चूर्ण इसमें मिलाएं तथा आँच धीमी रखें। अब इसमें भस्में डालकर कड़छी से चलाते जाएं। जब चाशनी जमने लायक़ बन जाए तो इसे उतार लें तथा किंचित गर्म रहने पर लौंग आदि द्रव्यों का चूर्ण डालकर अच्छी तरह मिलाएं। केसर भी इसमें मिला दें। अब किसी थाली आदि में घी चुपड़कर इसे जमा दें और कटे हुए मेवे ऊपर से बुरक दें। बाद में बर्फीनुमा काटकर काँच के बरतन में रख लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस पाक को पाचनशक्ति के अनुसार 2 से 4 तोला तक सबेरे मीठे कुनकुने दूध के साथ चबा-चबाकर सेवन करना चाहिए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यह योग स्त्रियों व परुषों दोनों के लिए ही अत्यन्त गुणकारी है। महिलाओं का प्रदर रोग, प्रसूति रोग व शरीर की दुर्बलता इससे दूर होती है। प्रसव के उपरांत आई कमज़ोरी को दूर करके यह स्त्री के शरीर को सबल बनाता है और उसके स्वास्थ्य व सौन्दर्य की वृद्धि करता है। विवाहित पुरुषों के लिए यह बल-वीर्यवर्धक, यौन शक्तिदायक व सौन्दर्यरक्षक है। शीतकाल में इस योग का सेवन करना चाहिए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नागकेसर, कमल व कुमुद का चूर्ण शहद व घी में मिलाकर खाने से त्वचा की रंगत में निखार आता है। घी तथा इसकी आधी मात्रा में शहद सोयाचूर्ण में मिलाकर सेवन करते रहने से सौंदर्य में निखार लाता है।&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;">&nbsp;</p>
