﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">कृत्रिम सौन्दर्य प्रसाधनों से सावधान !</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">एक फोटो स्टूडियो वाले ने एक ही साइज़ के फोटो खिंचवाने के तीन रेट लिख रखे थे-10 रु., 20 रु. और 30 रु.। एक ग्राहक ने उत्सुकता जताते हुए पूछा - क्यों जनाब ! एक ही साइज़ के फोटो उतारने के तीन तरह के रेट क्यों लिख रखे हैं? क्या लोग इतने मूर्ख हैं, कि जो फोटो 10 रु. में उतर सकता है, उसके 30 रु. दें? फोटोग्राफर बोला-देखिए महाशय, लोग मूर्ख हैं या बुद्धिमान, इस पर तो मैं कोई टिप्पणी नहीं कर सकता, पर इतना सत्य जानें कि जब से मैंने स्टूडियो खोला है तब से जितने भी ग्राहक आ रहे हैं, सब खिंचवाते 30 रु. रेट वाला ही फोटो हैं। आज तक कोई 10 रु. या 20 रु. वाला फोटो खिंचवाने को तैयार नहीं हुआ। ग्राहक चकित होकर बोला-क्यों भई ऐसा क्यों? तो फोटोग्राफर ने समझाते हुए कहा- इसकी वजह यह है कि 10 रु. वाला फोटो वैसा उतारा जाता है जैसे कि आप वास्तव में हैं, 20 रु. वाला वैसा उतारा जाता है जैसे कि आप दिखाई देते हैं; और 30 रु. वाला वैसा उतारा जाता है जैसे कि आप दिखाई देना पसन्द करते हैं। दरअसल कोई भी वैसा दिखना नहीं चाहता जैसा वास्तव में होता है या जैसा दिखता है और इसलिए सब 30 रु. देकर वैसा ही फोटो उतरवाते हैं जैसे कि वे दिखाई देना पसन्द करते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यह बोधकथा जिस मानसिकता को उजागर करती है, यह वास्तव में वही मानसिकता है जिसके चलते भाँति-भाँति के कृत्रिम सौन्दर्य प्रसाधनों की बाढ़ सी आ गई है। लोग दरअसल जैसा दिखना पसन्द करते हैं, वैसा दिखने के लिए ही तरह-तरह के बाज़ारू सौन्दर्य प्रसाधनों को आज़माने में लगे हुए हैं। गली-गली में कुकुरमुत्ते की तरह ब्यूटी पार्लर खुलने लगे हैं तो इसकी भी वजह वही है। यूँ सुन्दर दिखना कोई बुरी बात नहीं है, पर सुन्दरता में इतनी कृत्रिमता आ जाए, सौन्दर्यबोध विकृत हो जाए और दो पल की चमक-दमक के पीछे लोग प्रकृति, स्वास्थ्य और अपनी संस्कृति तक भूल जाएं, तो बात चिन्ताजनक हो जाती है। महिलाएं जिस तरह से इस बाज़ारू सौन्दर्य के मायाजाल में फँस रही है वह ज़्यादा गंभीर स्थिति है, इसलिए कि महिलाएं ही वास्तव में सांस्कृतिक परम्पराओं के निर्वहन का सबसे अहम दायित्व निभाती रही हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">लेखक देश की नारियों को इस बात के लिए सचेत करना अपना कर्तव्य मानता है कि अगर वे बाज़ारू सौन्दर्य प्रसाधनों के पीछे की पागल दौड़ में शामिल हो रही हैं तो निश्चित जान लें कि&nbsp;वर्तमान और भावी पीढ़ियों के चारित्रिक पतन की आधारभूमि भी तैयार कर रही हैं। इसके अलावा बनावटी सौन्दर्य के इस पश्चिमी तौर-तरीक़े के चलते सौन्दर्य प्रसाधनों के निर्माण के लिए जिस तरह से जीव-जन्तुओं की बड़े पैमाने पर क्रूर हत्याएं की जा रही हैं ,वह भी निश्चित रूप से भारतीय संस्कृति और परम्पराओं के खिलाफ है । होठों को लिपिस्टिक से लाल करते समय यह बात एक बार ज़रूर याद कर लेना चाहिए कि इसे बनाने के लिए जाने कितने पशु-पक्षियों का ख़्ाून निचोड़ा गया होगा। संवेदनशील व्यक्ति के लिए कितना हृदय विदारक दृश्य होता होगा जबकि &lsquo;स्लेण्डलोरिस&rsquo; नामक बन्दर की आँखें और दिल निकालकर बेस पाउडर जैसी चीज़ें बनाने में इस्तेमाल की जाती होंगी। भाँति-भाँति के इत्रों की खुशबुओं&nbsp;में तर रहने वाले लोगों को शायद ही मालूम होगा कि बिज्जू को बेंतों से पीटा जाता है और उसकी ग्रन्थियों को चाकू से खरोंचा जाता है तो वह व्यग्र होकर एक प्रकार का स्राव छोड़ता है। इसी स्राव को इकट्ठा करके तरह-तरह के सेण्ट (इत्र) बनाने में इस्तेमाल किया जाता है। तालाबों से कछुए पकड़कर मारना और उनका तेल निकालकर सौन्दर्य प्रसाधन निर्माताओं को बेचना तो जैसे कुछ जातियों का पेशा ही बनता जा रहा है। स्थिति यह है सौन्दर्य प्रसाधनों के अंधाधुंध व्यापार के चलते जीव-जन्तुओं की तमाम प्रजातियाँ विलुप्ति के कगार पर पहुँच गई हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस तरह के बाक़ी सारे मुद्दों को किनारे रखते हुए सिर्फ स्वास्थ्य की दृष्टि से देखें तो भी कृत्रिम सौन्दर्य प्रसाधनों से यथासंभव दूरी बनाये रखने में ही भलाई है। भाँति-भाँति के शैम्पू, साबुन, क्रीम, फेस पाउडर, टेल्कम पाउडर, नेल पालिश, पालिश रिमूवर, हेअर डाई, हैंड व बाडी लोशन, आई लाइनर, हेअर रिमूवर, हेअर स्प्रे, आई शैडो, लिपिस्टिक, परफ्यूम आदि जितनी भी सौन्दर्य प्रसाधन की चीज़ें हैं, ज़्यादातर में हानिकारक क़िस्म के रसायन होते हैं। लिपिस्टिक में इस्तेमाल किये जाने वाले रसायन इतने नुकसानदेह होते हैं कि अक्सर इनके प्रभाव से होठों का प्राकृतिक रंग तक समाप्त हो जाता है और उन पर सफ़ेद धब्बे उभर आते हैं। महिलाओं के होठों के काले पड़ जाने के पीछे भी सबसे बड़ा कारण रसायन मिश्रित लिपिस्टिक ही है। लिपिस्टिक में कई तरह के अघुलनशील एवं अखाद्य रंग आदि पदार्थ मिले होते हैं। इनमें मिलाए जाने वाले मोम, सीसा और कैडमियम जैसे पदार्थ भी शरीर के लिए नुकसानदेह ही होते हैं। ये पदार्थ होठों के सहारे पेट में पहुँचते हैं तो शारीरिक विकृतियों, एलर्जी तथा कैंसर जैसे रोगों के कारण बनते हैं। एओसिन, एमरेन्थ, बिस्मथ, रोडोगाइन-बी, टारटूजीन, लैनोनिन सरीखे तत्त्व भी हर तरह से हानिकारक ही हैं। एमरेन्थ तो प्रजजन प्रणाली तक में विकृतियाँ पैदा कर देता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यह भी एक भ्रम है कि सख़्त <span style="text-align: justify;">नाखुनो&nbsp;</span>के ऊपर लगे होने के कारण नेल पालिश से कोई नुकसान नहीं हो पाता। वास्तव में नेल पालिश में कई तरह के जटिल रसायन मिले होते हैं। ऐसे में इसके नियमित इस्तेमाल से नाख़ून&nbsp;रोगग्रस्त हो सकते हैं। नेल पालिश नाखुनो&nbsp;की प्राकृतिक चमक को तो नष्ट करता ही है, वे कमज़ोर होकर टूटने लगते हैं और खुरदुरेपन के शिकार भी हो सकते हैं। इसी तरह नेल पालिश रिमूवर के इस्तेमाल से भी नाख़ून&nbsp;और समीप की त्वचा पर बुरा प्रभाव पड़ता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सुहाग के प्रतीक के तौर पर प्रयोग किया जाने वाला सिन्दूर आज जिस तरह से बनाया जाता है वह भी कम घातक नहीं है। सिन्दूर में प्राय: बेहद ख़तरनाक क़िस्म का रसायन लेड&nbsp;आक्साइड मिला होता है। इसका विषैला प्रभाव कैंसरकारक तो है ही, यह रक्त में पहुँचकर हीमोग्लोबिन के निर्माण को प्रभावित करके रक्ताल्पता भी पैदा कर सकता है। गर्भस्थ शिशु भी इससे प्रभावित हो सकता है। इसलिए एक तो महिलाएं रसायन मिश्रित सिन्दूर की जगह माँग में प्राकृतिक लालिमा लगाएं तो अति उत्तम; अन्यथा, सिन्दूर लगाएं भी तो कम से कम मात्रा में लगाएं और जिस हाथ से लगाएं उस हाथ को अच्छी तरह से अवश्य धो लें। सिन्दूर की ही भाँति आजकल बाज़ारों में बिकने वाला सुरमा भी अक्सर अपमिश्रित होता है। आजकल के सुरमा निर्माता कम लागत में ज़्यादा मुनाफ़ा बटोरने के लोभ में प्राकृतिक उपादानों के बजाय लेड सल्फाइड जैसे ज़हरीले रसायन इस्तेमाल करने लगे हैं। लगभग ऐसा ही हाल काजल का भी है। आँखें कजरारी करने के चक्कर में कई बार आँखों की रोशनी तक चली जा सकती है। बेहतर है कि काजल या सुरमा घर में ही शुद्धता से बना लिया जाय। बाज़ार से ख़्ारीदना पड़े तो विश्वसनीय आयुर्वेदिक सुरमा या काजल ही लेना चाहिए। माथे पर लगाई जाने वाली छोटी सी बिन्दी के पीछे चिपकाने के लिए लगा गोंद अगर अच्छे दजऱ्ें का न हो तो वह भी नुकसानदेह हो सकता है। जहाँ बिन्दी चिपकाई जाती है वहाँ की खाल उधड़ सकती है, खुजली हो सकती है और दूसरे क़िस्म के चर्मरोग भी हो सकते हैं। इसलिए बिन्दी लगाने में भी सावधानी बरतने की ज़रूरत है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">तमाम तरह के सुगन्धित सौन्दर्य प्रसाधन शरीर के लिए हानिकारक होते हैं। इस तरह के प्रसाधनों के निर्माण में लगभग 5000 प्रकार के घटक द्रव्य इस्तेमाल किए जाते हैं। इनमें से कोई भी घटक त्वचा में एलर्जी, जलन या विकार पैदा कर सकता है। आजकल पसीना निरोधक प्रसाधनों का व्यापक उपयोग होने लगा है। ऐसे प्रसाधनों को लगाने से त्वचा के रोमछिद्र बन्द हो जाते हैं और पसीने के जरिए शरीर के विजातीय तत्त्व बाहर नहीं निकल पाते। नतीजन ,त्वचा पर बुरा असर तो होता ही है, गुर्दों पर भी अतिरिक्त बोझ पड़ता है और वे विकारग्रस्त हो सकते हैं। ऐसे प्रसाधनों में प्राय: आक्सीक्विनोलिन सल्फा नामक रसायन मिला रहता है जो केन्द्रीय नाड़ी संस्थान पर बुरा प्रभाव डालता है। इसके अलावा इस तरह के प्रसाधनों में जिंक सल्फोकार्बोनेट, प्रोपेलिन ग्लाइकोल, कास्टिक, बेंजोइक अम्ल, फ्लोरल हाइड्रेट तथा फार्मेल्डिहाइड जैसे हानिकारक रसायन भी मिले होते हैं, जो त्वचा में जलन, एलर्जी या दूसरी समस्याएं पैदा कर सकते हैं। इनमें से फार्मेल्डिहाइड शैम्पू, एण्टिसेप्टिक क्रीम, प्रिजर्वेटिव, नाखुनो&nbsp;को सख़्त बनाने वाले घोलों, स्नानघर में प्रयुक्त होने वाले पदार्थों आदि में भी मिलाया जाता है। इसका विषैला प्रभाव कैंसर रोगियों की संख्या में बढ़ोत्तरी कर रहा है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">बालों को&nbsp;हेअर डाई&nbsp;से रंगने का प्रचलन जिस रफ़्तार से बढ़ रहा है, वह भी कम हानिकारक नहीं है।&nbsp;हेअर डाई&nbsp;में मिला हुआ विषैला रसायन पैराफिनेलेन डाई एमीन रोग प्रतिरक्षक प्रणाली पर बुरा प्रभाव डालता है। इसमें कई ऐसे रसायन मिले होते हैं जो शरीर में एलर्जी की समस्या पैदा कर सकते हैं। कई&nbsp;हेअर डाई&nbsp;त्वचा में जलन, पीड़ा व चकत्ते की समस्या उत्पन&nbsp;करते हैं।&nbsp;हेअर डाई&nbsp;की गन्ध से सर्दी-जुकाम की भी समस्या पैदा हो सकती है। इसी तरह से मिनी आक्सीडिल रसायन मिले हुए हेअर क्रीम व लोशन के अधिक इस्तेमाल से सिर में भारीपन, झनझनाहट, धमक व झुंझलाहट बढ़ती है&nbsp;व निम्न रक्तचाप हो सकता है।&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">ब्यूटी पार्लरों की दिन-दूनी रात चौगुनी बढ़ती तादाद को देखते हुए इनके भी नुकसानदेह पक्ष पर एक नज़र डालना ज़रूरी है। ब्यूटी पार्लरों के सौन्दर्य प्रसाधनों में प्रमुख रूप से अमोनिया, हाईड्रोजन-पर-आक्साइड, चर्बी, एसीटोन वैक्सीन, वैसलीन, जिंक, स्पिरिट, अल्कोहल, ग्रीस जैसे पदार्थ प्रयोग किये जाते हैं। वास्तव में ये सभी चीज़ें त्वचा को किसी न किसी प्रकार से हानि पहुँचाती हैं। त्वचा में निखार लाने के लिए ब्लीचिंग की जो प्रक्रिया अपनाई जाती है, उसमें अमोनिया का इस्तेमाल होता है और यह त्वचा को जलाकर कड़ी कर देता है। बालों को काला करने के लिए ब्यूटी पार्लरों में हाइड्रोजन पर-आक्साइड और आर्गेनिक हाइड्रोकार्बन जैसे रसायन प्रयोग किए जाते हैं। ये इतने नुकसानदेह होते हैं कि बालों का झड़ना और पकना दोनों ही तेज़ हो जाते हैं। हेअर स्पे्र जैसे साधनों से भी सिर में जलन और सूजन की समस्या पैदा हो सकती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">कृत्रिम सौन्दर्य प्रसाधनों के इतने सारे नुकसानों को जानने के बाद भी अगर लोग इनके अंधाधुंध इस्तेमाल से बाज न आएं और ब्यूटी पार्लरों के चक्कर लगाएं तो इसे एक तरह के पागलपन के अलावा और क्या कहा जा सकता है? वास्तव में कृत्रिम सौन्दर्य प्रसाधनों के पीछे भागने के बजाय नींबू, खीरा, नीम, तुलसी, बेसन, गुलाबजल, चन्दन, चिरौंजी, दूध, हल्दी, दही, बादाम आदि ढेरों प्राकृतिक चीज़ों के सहारे सौन्दर्य को ज़्यादा बेहतर तरीक़े से निखारा जा सकता है। यह भी मजे़ की बात है कि जो फ़िल्मी अभिनेत्रियाँ कृत्रिम सौन्दर्य प्रसाधनों का दिन-रात विज्ञापन करती नज़र आती हैं वे ख़्ाुद निजी तौर पर इनसे दूर ही रहती हैं। पत्रिकाओं-अख़बारों में प्रकाशित होने वाले अभिनेत्रियों के व्यक्तिगत साक्षात्कारों से इस तथ्य का खुलासा होता है कि वे अपना रूप और लावण्य बनाये रखने के लिए प्राकृतिक-आयुर्वेदिक उपायों को ही प्राथमिकता देती हैं। ऐसे में देश की नारियों को विशेष रूप से चाहिए कि वे विज्ञापनी मायाजाल से बाहर आएं और कृत्रिमता से दूर हटकर प्राकृतिक सौन्दर्य प्रसाधनों को अपनाएं। इस तरह से यदि देश की स्त्रियाँ ऐसा करने लगें तो वे अपने स्वास्थ्य और अपनी संस्कृति दोनों की रक्षा में महत्त्वपूर्ण भूमिका निभाएंगी।&nbsp;</span></p>
