﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">शीतल पेय भी हैं सौन्दर्य के शत्रु</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">&rsquo;लाइफ स्टेटस&rsquo; का प्रतीक बन चुके कोका-पेप्सी जैसे शीतल पेय स्वास्थ्य और सौन्दर्य की दृष्टि से धीमे ज़हर ही हैं। शीतल पेय ज़्यादा पीने से होठों व त्वचा का रूखापन तो बढ़ता ही है, बुढ़ापे का आक्रमण भी जल्दी होता है। पर इस ज़माने की सबसे बड़ी मुश्किल यह है कि लोग बेवकूफ़ियाँ करते जाते हैं और तब तक नहीं चेतते जब तक कि पानी नाक से ऊपर नहीं पहुँच जाता। मैक्सिको में पानी सचमुच लोगों की नाक तक पहुँच आया है तो अब वे चेतने और चेताने का ज़ोर-शोर से अभियान शुरू कर रहे हैं। यह अभियान पेप्सी, कोका जैसे विभिन्न ब्रांड के शीतल पेयों के ही ख़्िालाफ़ है। मैक्सिकोवासी और मामलों में भले ही फिसड्डी हों, पर पेप्सी और कोकाकोला जैसे पेय गटकने की बहादुरी में दुनिया भर में अव्वल नम्बर पर रहे हैं। मैक्सिको का आम आदमी साल भर में औसतन 160 लीटर शीतल पेय उदरस्थ कर जाता है। यानि मैक्सिको के लोग नशे की हद तक शीतल पेयों की गिरफ़्त में हैं। नतीजा यह है कि वहाँ के लोगों की खान-पान की आदतें गड़बड़ा गई हैं और काफ़ी लोगों को शीतल पेयों के साइड-इफेक्ट्स झेलने पड़ रहे हैं।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">पिछले एक साल पूर्व हालात बिगड़ते दिखे तो मैक्सिको के डॉक्टरों और उपभोक्ता मामलों में नज़र रखने वाली संस्था ने मिलकर शीतल पेयों के शरीर पर पड़ने वाले प्रभावों को लेकर व्यापक अध्ययन और परीक्षण करके एक चौंकाने वाली रिपोर्ट प्रस्तुत की है। रिपोर्ट में आश्चर्यजनक रूप से कुछ वैसी ही बातें उभरकर आई हैं जैसी कि भारत में बहुराष्ट्रीय गुलामी के ख़्िालाफ़ संघर्ष कर रहा आज़ादी बचाओ आंदोलन लंबे अरसे से करता रहा है। मैक्सिको के डॉक्टरों की रिपोर्ट इतनी प्रभावी और प्रामाणिक है कि पेप्सी और कोक जैसी कंपनियों की बोलती बंद है और वे कोई भी सफ़ाई देने से कतरा रही हैं। रिपोर्ट के मुताबिक शीतल पेय ज़्यादा पीने से डि-कैल्सीफिकेशन जैसी ख़्ातरनाक बीमारी हो सकती है। सिरदर्द, गैस्ट्रिक अल्सर व चिंता जैसी बीमारियों का खतरा तो बना ही रहता है। मैक्सिकन एसोसिएशन ऑफ स्टडीज फॉर कंज्यूमर डिफेन्स और चिकित्सकों के स्वास्थ्य अध्ययन की रिपोर्ट के अनुसार इन शीतल पेयों में प्रोटीन, विटामिन व खनिज पदार्थों की मात्रा शून्य होती है। इसलिए इन्हें लेने से भूख घट जाती है और कुपोषण हो सकता है। स्वास्थ्य अध्ययन की विभिन्न रिपोर्टों से यह बात स्पष्ट हो चुकी है कि कोला पेय ऐसे पदार्थों से बनाए जाते हैं जो स्वास्थ्य के लिए हानिकारक हैं। कैफीन, फॉस्फेट जैसी चीज़ों की मौजूदगी से दिल की धड़कन और ब्लड प्रेशर असामान्य तो होते ही हैं, रिफाइण्ड शर्करा और फ्रक्टोज जब फॉस्फोरिक अम्ल के साथ मिलते हैं तो फॉस्फोरस और कैल्सियम का संतुलन भी बिगड़ जाता है। नतीजतन बच्चों, किशोरों और महिलाओं को विशेष रूप से हड्डी संबन्धी तकलीफ़ों से गुज़रना पड़ सकता है। डॉक्टरों ने चौंकाने वाली एक नई जानकारी यह दी है कि&nbsp;</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">कोला को भूरा रंग देने के लिए इस्तेमाल किए जाने वाले ई-150 जैसे डाई से शरीर में विटामिन बी-6 की कमी हो सकती है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">फिलहाल मैक्सिको में शीतल पेयों से होने वाले ख़्ातरों के प्रति सावधान करने के लिए प्रेस कांफ्रेंस से लेकर जगह-जगह कार्यशालाएं तक आयोजित की जा रही हैं। इन आयोजनों के मार्फत एक तरफ़ लोगों को पोषण संबंधी ज़रूरतों के बारे में जानकारी दी जा रही है, दूसरी तरफ़ इन कार्बोनेटेड शीतल पेयों के नुकसानों के प्रति लोगों को सावधान किया जा रहा है। शुभ संकेत यह है कि कोला विरोधी मुहिम को मैक्सिको के लोगों का ज़बरदस्त समर्थन मिलना शुरू हो गया है और वे कोला कंपनियों के विज्ञापनी भ्रमजाल से बाहर निकलने को कसमसाने लगे हैं।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">मुश्किल हिन्दुस्तान की &rsquo;सांस्कृतिक बंदर&rsquo; बनती जा रही पीढ़ी के लिए है। यह पीढ़ी तो आधुनिकता की बयार में बेरोक-टोक बही जा रही है। बहुराष्ट्रीय कंपनियाँ नवजवानों को &rsquo;कल्चर्ड&rsquo; बनाने के लिए लाखों डॉलर विज्ञापनों पर पानी की तरह बहा रही हैं और नतीजे के तौर पर देश के नवजवानों पर कल्चर्ड होने की खुमारी भी क़ायदे से चढ़ने लगी है। अलबक्ता, आज़ादी बचाओ आंदोलन जैसे संगठन शीतल पेयों को कार्बोनेटेड ज़हरीला पानी, लहर पेप्सी को ज़हर पेप्सी और कोकाकोला को धोखा कोला की संज्ञा देकर लोगों को उनके ख़्ातरों से सावधान करने के लिए कमर कसे हुए हैं।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">इस मुहिम का नतीजा कुछ तो हुआ है कि अब हिन्दुस्तान में भी तमाम लोग इन शीतल पेयों से तौबा करने का मन बनाने लगे हैं। इनमें ऐसे भी धनी टाइप के लोग शामिल हैं जिन्होंने अपने घरों में पेप्सी-कोक के कैन पर कैन बतौर स्टॉक जमा कर रखे हैं। मुश्किल ये है कि जब इन्हें अहसास हुआ है कि स्टैण्डर्ड बनाने के चक्कर में पेप्सी-कोक का एक घूँट भी हलक नीचे उतारना मूर्खता के अलावा और कुछ नहीं है तो ये लोग इन शीतल पेयों के ज़हर से अब दूर तो रहना चाहते हैं पर अपने घरों में स्टॉक के तौर पर जो जमा कर रखा है उसका क्या करें? फिलहाल, इनकी इच्छाशक्ति इतनी प्रबल नहीं हुई है कि पेप्सी-कोक के कैन पर कैन नालियों में उडे़ल सकें। तो ऐसे सभी लोगों के लिए आज़ादी बचाओ आन्दोलन की सलाह है कि जिनके पास पेप्सी या कोकाकोला जैसे शीतल पेयों का स्टॉक है वे इन्हें फेंकने के बजाय संडास की सफ़ाई के काम में ले लें। है न ज़ोरदार सलाह ! आन्दोलन का कहना है कि आखिर&nbsp;लोग अपने घरों में संडास की सफ़ाई के लिए हाइड्रोक्लोरिक एसिड का इस्तेमाल करते ही हैं। पेप्सी-कोक में भी फास्फोरिक एसिड और कार्बोलिक एसिड जैसी चीज़ें हैं। संडास की सफ़ाई वाले एसिड और पेप्सी-कोक का पी.एच. मान भी तीन के आस-पास लगभग एक जैसा ही है। इस पी.एच मान की चीज़ों को आँतों में पहुचाना निश्चित रूप से नुकसानदेह है। ऐसे में अगर आपने ग़लतीवश पेप्सी या कोकाकोला ख़्ारीद ही लिया है तो पैसे और सेहत के नुकसान से बचने के लिए इनसे संडास की सफ़ाई कर लेना ही बेहतर उपाय है।</span></p>

<p class="animated bounceInLeft" style="text-align: justify;"><span style="font-size: 18px;">आन्दोलन के कार्यकर्त्ता कोई हवा में ये बातें नहीं कर रहे हैं। उन्होंने बाक़ायदा प्रयोग करके देखा और पाया है कि पेप्सी और कोकाकोला जैसे शीतल पेयों से संडास की गन्दगी वैसे ही चमाचम साफ़ होती है जैसे कि दूसरे एसिड से। तो चलिए, आप भी अपने घर में पड़े पेप्सी-कोक की बोतल या कैन निकालिए और फटाफट अपने संडास की सफ़ाई में लग जाइए। आखिर&nbsp;पेप्सी-कोक असलियत में हैं तो इसी लायक़ न !&nbsp;</span></p>
