﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;"> सौन्दर्य चाहिए तो स्वास्थ्य बचाइए </span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>




<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सौन्दर्य प्रसाधनों के दिन-दूने रात-चौगुने बढ़ते बाज़ार को देखकर यह अंदाज़ा लगाया जा सकता है कि लोग सुन्दरता के लिए कितने परेशान हैं। स्त्री-पुरुष यहाँ तक कि नई पीढ़ी के बच्चे तक सुन्दर दिखने के लिए मेकअप के नए-नए तरीक़े आज़माने में लगे हैं। सुन्दरता के प्रति इतनी जागरूकता शायद पहले कभी नहीं रही। यदि इतनी ही जागरूकता समूचे स्वास्थ्य को लेकर लोगों में होती तो चिन्ता की विशेष बात नहीं थी। लेकिन दुर्भाग्य से लोग स्वास्थ्य के प्रति पूरी मनमानी करते हुए भी कृत्रिम प्रसाधनों के सहारे अपना सौन्दर्य निखारना चाहते हैं। अब कौन समझाए कि हँसना और गाल फुलाना, दोनों एक साथ नहीं हो सकते। अगर कुछ लोग यह सोचते हों कि वे स्वास्थ्य के प्रति पूरे लापरवाह रहकर भी अपने सौन्दर्य की हिफ़ाज़त कर लेंगे तो वे निरा भ्रम के ही शिकार हैं। बाज़ारू सौन्दर्य प्रसाधनों का नकली आवरण असलियत को कितनी देर छुपाएगा? वास्तव में सच्चे सौन्दर्य का रहस्य तो अच्छे स्वास्थ्य में ही छुपा है। स्वास्थ्य निखरेगा तो सौन्दर्य में अपने आप निखार आ जाएगा, यह तय है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">कहने का सीधा सा अर्थ यह है कि अगर सौन्दर्य चाहिए तो स्वास्थ्य को सही-सलामत रखने का इन्तज़ाम भी अनिवार्यत: करना ही पड़ेगा। अब सवाल यह हो सकता है कि स्वास्थ्य ठीक रखने के लिए किया क्या जाए? तो इसका सीधा सा उत्तर है कि दिनचर्या सुधार ली जाए, तो बहुत कुछ ठीक हो जाएगा। दिनचर्या में आहार, निद्रा और व्यायाम पर ध्यान देना सबसे महत्त्वपूर्ण बातें हैं। आहार के विषय में आयुर्वेद का प्राचीन आदर्श है-हितभुक् मितभुक् ऋतभुक्। भाव यह है कि भोजन शरीर की अवस्था के अनुकूल हितकारी, उचित मात्रा में और प्रकृति सम्मत होना चाहिए। जिन्हें अपने सौन्दर्य-रक्षा की चिन्ता है उन्हें शुद्ध सात्विक&nbsp;शाकाहार अपनाना चाहिए। दाल, चावल, गेहूँ, जौ, बाजरा आदि विविध अन्नों&nbsp;के साथ हरी साग-सब्ज़ी, फल व सलाद की समुचित मात्रा अच्छे स्वास्थ्य के लिए आवश्यक है। यह ज़रूरी नहीं है कि स्वास्थ्य सुधारने के लिए आप महँगे फल-मेवे की तरफ़ ही भागें। मौसम के अनुसार मिलने वाले ढेरों सस्ते फल, सब्जियां आदि हैं जिनका उपयोग अपनी शारीरिक प्रकृति को देखते हुए किया जाय तो स्वास्थ-रक्षा का काम बखूबी हो सकता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आहार के विषय में यह ध्यान देने वाली बात है कि वर्तमान में जो लोगों की दिन भर कुछ न कुछ खाते रहने की आदत बढ़ रही है, यह ग़लत है। इसके अलावा &lsquo;फास्ट फूड&rsquo; संस्कृति ने आहार के मामले में और भी ज़्यादा भ्रष्टाचार फैला दिया है। अगर अपने स्वास्थ्य व सौन्दर्य की हिफ़ाज़त करनी है तो इन आदतों को भी सुधारना ही पड़ेगा। दिन भर में मुख्य भोजन सिर्फ दो बार करना ही सेहत की दृष्टि से उचित है। यदि दोपहर 12 बजे तथा शाम 8 बजे के आस-पास भोजन करने की आदत हो तो सबेरे 8 बजे और तीसरे पहर 4 बजे के आस- पास हल्का सुपाच्य नाश्ता लिया जा सकता है। वैसे शाम का भोजन सूर्यास्त तक कर लेना श्रेयस्कर है। जो लोग दोपहर का भोजन जल्दी करते हैं, वे सबेरे नाश्ते की आदत न बनायें तो अच्छा है। भोजन के साथ ढेर सारा पानी पीने की भी लोगों की अक्सर ग़लत आदत देखने को मिलती है। यह आदत एक न एक दिन पाचन संबंधी विकारों का कारण अवश्य बनती है। भोजन में यदि रोटी आदि सूखी चीजे़ें ज़्यादा मात्रा में हों, तो ही बीच-बीच में यदा-कदा एकाध घूँट पानी लिया जा सकता है, अन्यथा भोजन के कम से कम डेढ़ दो घंटे बाद ही पर्याप्त मात्रा में पानी पीना उचित है। स्वास्थ्य की दृष्टि से दिन भर में कम से कम 7-8 गिलास पानी अवश्य पीना चाहिए। दोपहर के भोजन के बाद आधा घंटा विश्राम तथा रात के भोजन के बाद लगभग आधा घंटा टहलने की आदत स्वास्थ्य के लिए लाभप्रद है। आहार के बाद निद्रा पर भी विशेष ध्यान देने की ज़रूरत है। रात देर तक जगने तथा सबेरे देर तक सोने की आदत आजकल आम बात हो गई है। यदि कोई विशेष विवशता न हो तो रात 10 बजे तक सो जाना तथा सबेरे 4-5 बजे तक जग जाना आदर्श स्थिति है। अलबत्ता, कुछ लोगों की शारीरिक प्रकृति ऐसी भी हो सकती है, जिन्हें नींद का समय कुछ कम या ज़्यादा भी करना पड़ सकता है। सामान्य नियम यह है कि जितनी नींद से मन और शरीर में प्रफुल्लता और ताज़गी बनी रहे, उतनी नींद पर्याप्त है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आहार और निद्रा के बाद व्यायाम अथवा शारीरिक श्रम सबसे ज़रूरी चीज़ है। शरीर को सुडौल तथा कार्यक्षम बनाए रखने के लिए व्यायाम वास्तव में अनिवार्य है। जो लोग व्यायाम या शरीर श्रम पर पर्याप्त ध्यान नहीं देते वे पौष्टिक आहार का भी उचित लाभ नहीं ले सकते। खाया पिया शरीर में अच्छी तरह जज़्ब हो, इसके लिए व्यायाम या श्रम ज़रूरी है। स्वास्थ्य और सौन्दर्य रक्षा के लिए प्रतिदिन एकाध घंटे का समय व्यायाम के लिए अवश्य दिया जाना चाहिए। योगासन-व्यायाम की किसी अच्छी पुस्तक से इस विषय में जानकारी ली जा सकती है। बेहतर है कि किसी योगासन-व्यायाम केन्द्र या विशेषज्ञ व्यक्ति से उचित विधि से प्रशिक्षण लेने के बाद ही इसे दिनचर्या में शामिल किया जाय।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">अन्त में, स्वास्थ्य और सौन्दर्य की दृष्टि से ब्रह्मचर्य पालन पर भी किंचित संकेत कर देना आवश्यक है। वैसे बह्मचर्य के व्यापक अर्थों में आहार, निद्रा, व्यायाम जैसी चीज़ें भी शामिल हैं; परन्तु यहाँ ब्रह्मचर्य का उल्लेख वीर्य-रक्षा के विशेष अर्थ में किया जा रहा है। विवाहित लोगों के लिए सिर्फ इतना संकेत पर्याप्त है कि अगर उन्हें स्वास्थ्य और सौन्दर्य को बरक़रार रखना है तो वे स्त्री-संसर्ग के मामले में ऋतुगामी बनें, अर्थात् अति करने से बचें और संयम से काम लें। सांस्कृतिक मूल्यों के अनुसार जो ऋतुगामी है वह समझिए कि ब्रह्मचारी ही है। अविवाहित युवाओं के लिए तो खैर&nbsp;हर प्रकार से ब्रह्मचर्य पालन अनिवार्य है । भारतीय संस्कृति में यदि 25 वर्ष की आयु तक ब्रह्मचर्यपूर्वक विद्या प्राप्ति का संदेश दिया गया है तो इसका वास्तव में बहुत व्यापक उद्देश्य है। जिसने युवावस्था में ब्रह्मचर्य का मन, वचन, कर्म से समुचित पालन किया, उसका पूरा जीवन ही सौन्दर्यता से परिपूर्ण, आनन्दमय और तेजस्वी हो जाता है; महापुरुषों के जीवन-चरित्र पढ़ने से इसके ढेरों प्रमाण मिल जाते हैं। आज अगर उपभोक्तावादी संस्कृति के प्रवाह के चलते ब्रह्मचर्य विनाश की परिस्थितियाँ दिख रही हैं तो यह हम सबके लिए ही चिन्ता का विषय होना चाहिए। यहाँ पृष्ठ सीमा के नाते ब्रह्मचर्य पालन की विस्तार से चर्चा न करके सिर्फ कुछ सांकेतिक बातें ही कही गई हैं। वैसे जिनको ब्रह्मचर्य पालन का वैज्ञानिक तरीक़े से महत्त्व जानना हो, उन्हें डॉ. सत्यव्रत सिद्धान्तालंकार लिखित &lsquo;ब्रह्मचर्य-संदेश&rsquo; नामक पुस्तक एक बार अवश्य पढ़नी चाहिए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इतनी चर्चा के बाद यह समझ में आ जाना चाहिए कि सौन्दर्य के लिए स्वास्थ्य-रक्षा कितनी ज़रूरी है। यह बात ज़रूर है कि यहाँ आहार, निद्रा, व्यायाम आदि के बारे में विस्तृत जानकारी नहीं दी जा रही है। ऐसा इसलिए है कि स्वास्थ्य-रक्षा के विविध पहलुओं पर लेखक की &lsquo;स्वदेशी चिकित्सा&rsquo; नामक पुस्तक में पर्याप्त चर्चा की गई है। कुल मिलाकर उपरोक्त सभी बातों का संक्षेप में यही उद्देश्य है कि इस पुस्तक में सुझाए गए सौन्दर्यवर्धक उपायों को आज़माते हुए स्वास्थ्य-रक्षा के लिए आहार-विहार भी पर अवश्य ध्यान देना चाहिए।&nbsp;&nbsp;</span></p>
