﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;"> बढ़ सकता हैं मुखड़े का आकर्षण</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>




<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">तमाम लोग अपने चेहरे के मूल ढाँचे को लेकर ही दुखी रहते हैं और सुडौलता लाने के चक्कर में प्लास्टिक सर्जरी तक की सहायता लेते हैं। परंतु मेरे विचार से चेहरे की प्राकृतिक बनावट के प्रति चिंता बेमानी है और कई अर्थों में यह हमारे विकृत सौन्दर्यबोध को ही दर्शाता है। परमात्मा ने स्वस्थ माँ-बाप द्वारा एक स्वस्थ व्यक्ति के रूप में जैसे चेहरे-मोहरे के साथ हमें इस संसार में भेजा है, उस पर संतुष्ट रहने में ही असली सुख है। सुन्दरता के तथाकथित मानदण्डों पर खरा उतरने के लिए कृत्रिम साधनों की सहायता लेने से आपके मन की मुराद पूरी तरह से पूरी तो खै़र नहीं ही हो सकती, उल्टे कई बार नुकसानदेह नतीजों का भी सामना करना पड़ सकता है। विशेष अपरिहार्य परिस्थितियों में कृत्रिम साधन प्रयोग किए जाएं तो ही उचित कहा जा सकता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दरअसल चेहरे के सौन्दर्य का असली अर्थ यह है कि चेहरा स्वस्थ हो तथा ओज और ताज़गी से परिपूर्ण रहे। चेहरे के स्वास्थ्य और सौन्दर्य सुधारने का यह भी अर्थ नहीं है कि यह कोई एकदम से अलग विषय है। सही बात यह है कि अगर आपका शरीर स्वस्थ है तो स्वास्थ्य की झलक चेहरे पर भी दिखाई ही देगी। हाँ, थोड़ी अतिरिक्त देखभाल करके चेहरे की चमक, दमक और रौनक अवश्य बढ़ायी जा सकती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस प्रकरण में इसी उद्देश्य से कुछ ऐसे देशी और हानिरहित नुस्खे़ प्रस्तुत किए जा रहे हैं, जिन्हें आप अपना आहार-विहार दुरुस्त रखते हुए आज़माएंगे तो कील-मुहाँसे, दाग़-धब्बे, झाँई-झुर्री जैसी तमाम समस्याओं से मुक्ति मिलेगी और आप सुहाने मुखड़े के मालिक बन जाएंगे।</span></p><br>
<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नुस्खों का इस्तमाल करते समय ध्यान रखने वाली एक विशेष बात यह है कि जिन नुस्ख़ों में तेल या चिकनाई की चीज़ें मिली हों, उनका प्रयोग ठण्ड के मौसम में विशेष लाभप्रद रहता है</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चेहरे पर काली मिट्टी का लेप लगाएं। यह ऊपरी चिकनाहट दूरकर मृत त्वचा को हटाती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नीम की जड़ को महीन पीसकर लेप करने से मुहाँसे जल्दी ठीक होते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मुहाँसे अधिक बड़े-बड़े व ज़्यादा संख्या में हों तो सिरके में कलौंजी पीसकर रात में मुँह पर लगाकर सो जाएं। सुबह धो डालें। इसके बाद ओस की बूँदों को साफ़ रुई में भिगोकर मुहाँसों पर फेरें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">एक छोटा चम्मच जौ का आटा, आधा चम्मच चंदन पाउडर, चुटकी भर हल्दी लेकर नींबू के रस में घोल बनाएं तथा चेहरे पर लगाकर आधे घण्टे बाद धो दें। यह काफ़ी असरदार नुस्ख़ा है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">हरी ककड़ी के रस में नींबू या संतरे का रस मिलाकर चेहरे पर लगाएं और लगभग आधे घण्टे बाद धो डालें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">पहले चेहरा ठण्डे पानी से धो लें और फिर गर्म पानी में तौलिया गीला करके चेहरे पर रखकर भाप सेंक करें। इसके तुरंत बाद ठण्डे पानी से भीगा तौलिया चेहरे पर रखें। चेहरे को तैलीय न होने दें। कुछ दिनों के प्रयोग से मुहाँसों से आसानी से छुटकारा मिल जाएगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">धनियाँ, वच, लोध और कूठ को बराबर-बराबर मात्रा में लेकर महीन पीसकर एक में मिलाकर रख लें। इसमें से एक चम्मच चूर्ण लेकर पानी में गाढ़ा घोल बनाएं। अब पत्थर पर पानी के साथ जायफल घिसकर एक छोटे चम्मच की मात्रा में घोल में मिला दें। इस मिश्रण को शाम के समय चेहरे पर लेप करके एक घण्टे तक लगा रहने दें। फिर हल्के हाथों से मसलकर छुड़ा दें और सो जाएं। सबेरे उठकर चेहरा धो डालें। उचित आहार-बिहार के साथ कुछ दिनों तक यह प्रयोग करने से मुहासों की समस्या से निजात मिल जाएगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">लाल चंदन, मंजीठ, लोध, अगर, खस, कूठ व सुगंधबाला सबको बराबर-बराबर मात्रा में लेकर अलग-अलग चूर्ण बनाकर कपड़छन करके शीशियों में रख लें। जब भी उपयोग में लाना हो तो सब चूर्ण आधा-आधा चम्मच लेकर गुलाबजल के साथ पीसकर लेप बना लें। अब एक चम्मच दूध में 1-2 पंखुड़ी केसर की घोंटकर इस लेप में मिलाएं और साथ ही 4-6 बूँद नींबू का रस भी मिला लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; इस लेप को चेहरे तथा गर्दन पर लगाकर कुछ देर के लिए सूखने दें और फिर लेप छुड़ाकर चेहरा पानी से धो डालें। यह नुस्ख़ा चेहरे की रौनक बढ़ाने के लिए काफ़ी कारगर है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">त्वचा का स्वास्थ्य बनाए रखने के लिए आँवला, कच्चा नारियल, मक्खन-मिश्री, सलाद, संतरे जैसी चीज़ें विशेष लाभप्रद हैं। चूने के पानी का शर्बत त्वचा को स्वस्थ रखने में मदद करता है। इसको बनाने का तरीक़ा यह है कि खाने का चूना पानी में भिगोकर 4-5 दिन तक रख दें। इसे दिन में 2-3 बार साफ़ लकड़ी से हिलाकर चला दिया करें। पाँचवें दिन ऊपर का निथरा हुआ पानी अलग कर लें। इसमें शक्कर मिलाकर शर्बत योग्य चाशनी बनाकर ठण्डा करके बोतल में भर लें। इस शर्बत को भोजन के बाद दोनों समय एक-एक चम्मच की मात्रा में 40 दिनों तक सेवन करना चाहिए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">जिन महिलाओं के चेहरे व होठों के ऊपर घने रोएं हों उन्हें बेसन, मैदा, शहद और नींबू का रस 1-1 चम्मच लेकर एक में मिलाकर चेहरे पर लेप करना चाहिए। लेप सूखने लगे तो मसलकर छुड़ा दें। इस प्रयोग से धीरे-धीरे अनावश्यक बालों की समस्या से निजात मिल जाएगी। इसके अलावा चेहरे की त्वचा भी मुलायम, चिकनी और चमकीली बन जाएगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नींबू का रस और तुलसी के पत्तों का रस समान मात्रा में मिलाकर झाँइयों पर लगाने से झाँइयों से मुक्ति मिल जाती है। इससे मुहासे भी समाप्त होते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दो चम्मच कच्चे दूध में गाढ़ा लेप बनने लायक़ चिरौंजी पीसकर सायंकाल चेहरे पर लेप करके कुछ देर तक सूखने के लिए छोड़ दीजिए। सूखने पर मसलकर छुड़ा दें और पानी से चेहरा धो लें, धीरे-धीरे निखार आने लगेगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चेहरे पर निखार लाने के लिए एक चम्मच चूने के पानी में थोड़ा शहद मिलाकर लेप करें और लगभग आधे घण्टे बाद चेहरा धो दें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">काली कसोंदी का रस नींबू और तुलसी पत्तों के रस में मिलाकर ताँबे की कटोरी में भरकर धूप में रख दें। यह घोल जब गाढ़ा हो जाए तो मुहासों पर लगाएं, काफ़ी लाभ होगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नींबू, ककड़ी तथा खीरे का रस समान मात्रा में मिलाकर स्नान से पूर्व चेहरे पर मलें तथा कुछ समय बाद स्नान करें। चेहरे की रौनक बढ़ेगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दो चम्मच दही में एक चम्मच मसूर की दाल भिगोएं। दाल फूल जाए तो पीसकर इसमें थोड़ा सा मक्खन और चुटकी भर हल्दी मिलाकर चेहरे व गर्दन पर लगाएं। लगभग आधे घण्टे बाद गुनगुने पानी से चेहरा धो दें। नियमित यह प्रयोग करने से शनै:शनै: चेहरे की स्निग्धता और चमक बढ़ेगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मलाई में नींबू का रस मिलाकर 10-15 मिनट तक चेहरे की मालिश करें। कुछ देर रुककर चेहरा धो दें। कुछ दिनों के प्रयोग से चेहरा दमकने लगेगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आँखों के नीचे काले गड्ढे पड़ जाएं तो एक भाग नींबू के रस में चार भाग पानी मिलाकर मालिश करते हुए धोएं। थोड़े दिनों में स्याहपन मिटने लगता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">एक भाग नमक में चार भाग कच्चा दूध मिलाकर सोने से पूर्व रात में चेहरे की मालिश करें। सबेरे चेहरा धो डालें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">एक-दो चम्मच बेसन में तिल का तेल मिलाकर चेहरे पर लगाएं तथा मलकर छुड़ा दें। चेहरे की आभा बढ़ेगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">एक चम्मच नींबू के सूखे छिलकों के महीन चूर्ण में एक चम्मच बेसन मिलाकर ठण्डे कच्चे दूध में फेंटकर गाढ़ा लेप तैयार करें। प्रतिदिन यह लेप चेहरे पर लगाकर कुछ देर बाद पानी से धो दें। यह प्रयोग चेहरे को आकर्षक बनाता है।&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मसूर की पिसी हुई दाल में थोड़ी हल्दी और जैतून का तेल मिलाकर उबटन बनाएं तथा चेहरे और शरीर पर मलें। कुछ देर बाद स्नान करें। त्वचा साफ़ और स्निग्ध होती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">एक चम्मच बेसन, एक चुटकी आटा, 5-6 बूँद नींबू रस तथा 5-6 बँूद गुलाबजल एक में मिलाकर गाढ़ा लेप बनाएं। अगर त्वचा रूखी या कठोर दिखती हो तो इसमें आधा चम्मच मलाई मिला लें। इस लेप को चेहरे पर मलें तथा कुछ देर बाद ताज़े पानी से धो दें। कुछ दिनों के प्रयोग से चेहरे की चमक बढ़ जाएगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चेहरे पर चेचक के दाग़ हों तो मुरदार-श्वंग में नींबू का रस मिलाकर लगाना चाहिए। इस प्रयोग से गहरे दाग़ होंगे तो हल्के हो जाएंगे और हल्के दाग़ होंगे तो समाप्त हो जाएंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नींबू के एक चम्मच रस में एक पके टमाटर का रस मिलाकर चेहरे पर मलें तथा एक घण्टे बाद ठण्डे पानी से धो दें। धीरे-धीरे चेहरे की लाली बढ़ने लगेगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चेहरे की रौनक बढ़ाने के लिए संतरे के सूखे छिलकों के साथ दो-तीन बादाम की गिरी दूध की मलाई के साथ सिल पर महीन घोंट-पीसकर चेहरे पर मलें। सूख जाने पर मसलकर छुड़ा दें तथा चेहरा धो डालें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">एक चम्मच नींबू के रस में कुछ बूँद जैतून का तेल मिलाकर रात में सोने से पूर्व चेहरे पर लगाएं। इससे रंग में निखार आएगा तथा त्वचा की कठोरता, रूखापन दूर होंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">खीरा व ककड़ी का रस मिलाकर मलने से आँखों के नीचे का स्याहपन मिटता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मैदे में दूध मिलाकर गाढ़ा-गाढ़ा लेप चेहरे पर मलें। इससे चेहरे की मैल साफ़ होगी तथा मुलायमियत बढ़ेगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">ग्लिसरीन, नींबू का रस तथा गुलाबजल बराबर मात्रा में लेकर घोल बनाकर रख लें। सर्दी के दिनों में चेहरे पर लगाने का यह अच्छा लोशन है। त्वचा की ख़ुश्की दूर तो होगी ही, त्वचा के रोग भी ख़त्म होंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चेहरे या शरीर के खुले हिस्सों की त्वचा को ठण्डी हवा के असर से बचाने के लिए सफ़ेद मक्खन, बादाम व सफ़ेद मोम को एक में घोंट-पीसकर क्रीम बनाकर चेहरे पर लगाएं। इसे 5:2:5 के अनुपात में मिलाकर बनाना चाहिए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">संतरे और नींबू के छिलके सुखाकर महीन पीसें तथा इसमें दूध मिलाकर गाढ़ा लेप बनाएं। इसे चेहरे या पूरे शरीर पर लगाकर सूखने दें फिर स्नान करें। शरीर कान्तिमान होने लगेगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नींबू व संतरे के सूखे छिलकों के चूर्ण में दही, बेसन तथा गुलाबजल मिलाकर लेप बनाएं तथा चेहरे पर मलें। मुहासे और झाँइयों से छुटकारा मिलेगा। यदि इसे पूरे शरीर में उबटन की भाँति लगाया जाए तो त्वचा का रंग साफ़ होकर मुलायमियत आती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नींबू का रस, शहद, मैदा और बेसन चारों समान मात्रा में लेकर किंचित पानी के साथ गाढ़ा लेप बनाकर कुछ देर तक चेहरे पर अच्छी तरह मलें। नियमित प्रयोग से कुछ दिनों में चेहरे से अनावश्यक रोएं साफ़ हो जाएंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चावल, जौ व बाजरी का आटा, नींबू का रस तथा हल्दी- सभी समान भाग में लेकर थोड़ा जैतून का तेल मिलाकर उबटन बनाएं तथा चेहरे व पूरे शरीर पर लगाकर मसलें। कुछ देर बाद धो दें या स्नान कर लें। इस प्रयोग से त्वचा का रंग साफ़ होता है। काफ़ी अच्छा नुस्ख़ा है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सूखे आँवलों के कपड़छन चूर्ण में उचित मात्रा में दही मिलाकर चेहरे पर अच्छी तरह लगाकर सूखने दें। सूखने के बाद लेप को मसलकर छुड़ा दें। अब गर्म पानी से भीगे तौलिए से चेहरे की सेंक करें। कुछ दिनों के प्रयोग से मुहासे तो ठीक ही होंगे, चेहरा साफ़, सुंदर, चमकदार भी दिखेगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">रात सोने से पूर्व चेहरे पर मलाई मलने से स्निग्धता बढ़ती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">लाख, मंजीठ, मुलहठी, पलाश के फूल, लाल चंदन, कुसुम, खस, पद्माख, बड़ की छाल, नीलकमल, पाकर की मूल, कमलकेशर, हल्दी, दारूहल्दी, मेंहदी तथा अनंतमूल- सभी 4-4 तोला लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सभी औषधियों को जौकुट चूर्ण बनाएं तथा ढाई किलो जल में मिलाकर चतुर्थांश क्वाथ करें। अब इसे छानकर 16 तोला तिल तेल, 32 तोला बकरी का दूध तथा 1-1 तोला मुलहठी, मंजीठ, लाख पतंग व केशर का कल्क मिलाकर धीमी आँच पर तेल सिद्ध करें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यह तेल चेहरे की फुंसियों, दाग़, मुहासों आदि के लिए काफ़ी लाभप्रद है। यह किंशुकादि या कुंकुमादि तेल के नाम से बना-बनाया आयुर्वेदिक दवा की दुकानों पर भी मिलता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">रीठे का छिलका, मालकांगनी, कायफल, रेवन्दचीनी व हल्दी, प्रत्येक 1-1 तोला लेकर चूर्ण बनाकर इसमें 12 तोला जौ का आटा मिलाकर रख लें।&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इसमें से आवश्यकताभर चूर्ण लेकर सरसों का तेल और थोड़ा पानी मिलाकर मुख पर लेप करें तथा आधा घण्टा बाद मसलकर छुड़ा दें और पानी से चेेहरा धो डालें। नियमित नित्य यह प्रयोग करने से दाग़, धब्बे, मुहाँसे, झाँइयाँ आदि मिटकर चेहरे पर निखार आ जाता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">बरगद की जटा, लाल चंदन, मंजीठ, सेमल का काँटा, मसूर की, कपूर- सभी 5-5 तोला तथा पीली सरसों 10 तोला व केसर 1 तोला लेकर कपड़छन चूर्ण बनाकर रख लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस चूर्ण का थोड़े से जल में उबटन बनाकर चेहरे पर लेप करने से मुहाँसे, दाग़ आदि दूर होकर त्वचा की चमक बढ़ जाती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">निंबौली की मिंगी- 500 ग्राम तथा नीम की पत्ती- 500 ग्राम लेकर अलग-अलग महीन पीस लें। दोनों को अलग-अलग बटोरकर दो गोला सा बनाएं। अब इन दोनों गोलों को एक शीशे के पात्र में रखकर थोड़ा-थोड़ा पानी डालते हुए शीशे की डंडी से चलाएं। जब गाढ़ा अवलेह सा बन जाए तो चलाना बंद कर दें तथा इसमें 1 किलो गुलाबजल डालकर पुन: चलाएं। जब सब चीज़ें एकरस हो जाएं तो पात्र पर ढक्कन लगाकर उसकी दरारें मैदे के गाढ़े लेप से बंद कर दें तथा 21 दिन तक वैसे ही पड़ा रहने दें। इसके बाद ऊपर निथरे हुए तरल पदार्थ को अलग करके बोतलों में भर लें। इस अर्क को मुहाँसों पर लगाने से मुहाँसे समाप्त हो जाते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नींबू का रस, शुद्ध ग्लिसरीन तथा गुलाबजल सभी 1:2:3 के अनुपात में लेकर मिला लें तथा इसमें नींबू रस का पचासवां भाग सुहागे का फूला मिश्रण करके शीशी में रख लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस मिश्रण को प्रतिदिन रात्रि में चेहरे पर मलने से दाग़, झुर्री, मुहाँसे समाप्त होते हैं तथा चेहरे का सौन्दर्य बढ़ता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सफ़ेद चंदन- 10 ग्राम, रसकपूर- 6 रत्ती, बादाम की गिरी- 20 ग्राम तथा गुलाबजल- 300 ग्राम की मात्रा में लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चंदन घिसकर तथा बादाम पीसकर, रसकपूर तथा गुलाबजल सहित सबको एक में मिलाकर छानकर शीशी में रख लें। नित्य प्रति इसमें से एक चम्मच मिश्रण लेकर चेहरे पर मलें तथा 10 मिनट बाद धो दें। कुछ दिन में चेहरे की कांति बढ़ने लगेगी। साधारण दाग़, झुर्रियाँ आदि भी मिटेंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">रीठे का छिलका-15 तोला, बादाम की खली- 40 तोला तथा चावल का आटा- 3 तोला। सबके बारीक बने मिश्रण में आधा तोला लोहबान पीसकर मिलाकर रख लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इसमें से दो तोला चूर्ण लेकर पानी में लेप बनाकर चेहरे पर ख़्ाूब मलें। 15-20 मिनट बाद छुड़ाकर गुनगुने जल से धो दें। हफ्ते भर में चेहरे की सुंदरता बढ़ने लगेगी और दाग़, कील दूर होने लगेंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चने का बेसन- 200 ग्राम, संतरे के सूखे छिलकों का चूर्ण- 10 ग्राम, कपूर- 10 ग्राम, पिसी हल्दी- 25 ग्राम, मसूर की दाल का महीन चूर्ण- 200 ग्राम, सफ़ेद चंदन-10 ग्राम, जटामांसी- 10 ग्राम, गुलाब के सूखे फूल- 10 ग्राम।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सबका बारीक कपड़छन चूर्ण बनाकर बाद में कपूर मिलाकर रख लें। एक बार में 200 ग्राम चूर्ण लेकर इसमें 5 ग्राम सरसों का तेल और किंचित पानी मिलाकर मुख और शरीर पर उबटन करें। इससे साँवलापन कम होकर रंग में निखार आता है तथा मुहाँसे आदि भी दूर होते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">कचूर घिसकर लेप करने से मुहाँसों से निजात मिलती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सिरके में कलौंजी के बीजों को पीसकर रात के समय लेप करके कुछ देर बाद चेहरा धो दें। एक हफ्ते में ही मुहाँसे और दाग़ आदि से छुटकारा मिलने लगता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">गुलाबजल में संतरे के छिलकों का चूर्ण मिलाकर मुहाँसों पर लेप करने से मुहाँसे तो दूर होते ही हैं, वर्ण भी सुधरता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नीम की छालरहित जड़ को घिसकर मुहाँसों पर लगाने से हफ्ते भर में लाभ मिल जाता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दूध में सेमल के काँटों का बारीक चूर्ण पीसकर लेप बनाकर चेहरे पर लगाते रहने से मुहाँसे तथा कीलें नष्ट हो जाती हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">लाल चंदन, मसूर, मंजीठ, लोध्र तथा लहसुन की कोंपल लेकर एक साथ पानी में महीन पीसकर रात को मुहासों पर लगाकर सो जाएं तथा सबेरे धो दें। कुछ दिन में लाभ मिल जाएगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">काली मिर्च, लाल चंदन तथा जायफल समान भाग लेकर पानी में पीसकर चेहरे पर लगाने से मुहाँसों से छुटकारा मिल जाता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">5 तोला मसूर की दाल तथा एक तोला हल्दी में एक नींबू का रस मिलाकर पानी के साथ पीसें तथा चेहरे पर लेप करें। मुहाँसे ठीक होंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">हल्दी की गाँठ पानी के साथ पत्थर पर घिसकर लेप लगाने से चेहरे पर निखार आता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">केसर, लाख, लाल चंदन, मंजीठ तथा मुलहठी 1-1 तोला लेकर कल्क करके 16 तोला तिल तेल व 32 तोला बकरी का दूध और इतना ही पानी मिलाकर धीमी आँच पर पकाएं। तेल सिद्ध हो जाए तो ठण्डा करके छानकर रख लें। इस तेल की मालिश से चेहरे की कान्ति बढ़ती है। एक हफ्ते में ही मुहाँसे, झाँइयाँ आदि भी मिट जाती हैं।&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दूध में हल्दी की गाँठ भिगोकर फूलने दें। फूल जाए तो इसे बारीक पीस लें और सरसों का तेल और मैदा मिलाकर गाढ़ा लेप बनाएं। इसे स्नान के समय चेहरे तथा शरीर पर लगाने से त्वचा साफ़, चिकनी और कान्तिमान होती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">पिंडखजूर को पानी में अच्छी तरह पकाकर मसलकर छान लें। अब इस छने हुए रस को पुन: धीमी आँच पर इतना पकाएं कि यह जमने लायक़ हो जाए। इसे सुरक्षित पात्र में रख लें। इसमें कूठ व नमक मिलाकर या अकेले ही चेहरे पर लेप करने से चेहरे की चमक बढ़ जाती है, दाग़ आदि मिटते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दूध की मलाई में थोड़ी हल्दी मिलाकर नित्य रात को चेहरे पर लगाकर मलें तथा आधा एक घण्टे बाद मसलकर छुड़ा दें व धो डालें। कुछ दिनों में चेहरा कान्तिमान हो उठेगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दही, बेसन, गुलाबजल, पिसी हल्दी, संतरे के छिलकों का चूर्ण- सभी समान मात्रा में मिलाकर फेंटकर लेप बनाएं तथा चेहरे पर लगाकर सूखने दें। पश्चात् चेहरा धोकर साफ़ तौलिए से पोंछ दें। एक-दो माह में चेहरे के सभी दाग़-धब्बे मिटकर चेहरा कान्तिमान होने लगेगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">कच्चे आलू का रस चेहरे पर मलने से चेहरे की त्वचा स्वस्थ, चमकदार बनती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नित्य तुरंत दुहे गए दूध का झाग चेहरे पर मलकर आधा घण्टा बाद गुनगुने पानी से धो दें। चेहरे की चमक बढ़ने लगेगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">बादाम की गिरी- 5 तोला, सफ़ेद चंदन- 1 तोला, गुलाब के फूल- 1 तोला, कपूर- 4 ग्राम, केशर- 2 ग्राम, कस्तूरी- 200 मि.ग्राम लेकर इन सबका महीन चूर्ण बनाकर एक में मिलाकर रख लें। इसमें से 4 ग्राम चूर्ण को पानी में गाढ़ा लेप बनाकर मुख पर मलें तथा सूख जाने पर पानी से धो दें। कुछ दिनों में चेहरा चमक उठेगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">गुलाबजल में 5 तोला बादाम की मिगी महीन पीसकर इसमें इत्र गुलाब, इत्र हिना, इत्र केवड़ा तथा चंदन का तेल-चारों आधा-आधा तोला तथा 120 मि.ग्रा. रसकपूर पिसा हुआ मिलाकर खरल में एकरस कर लें। चेहरा साफ़ करके यह लेप मलने से कुछ दिनों में चेहरा दमक उठता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नीम की छाल, बकाइन की छाल, सूखा धनिया, सफ़ेद चंदन, खिल्ला चना, मुरदारश्वंग, सफ़ेद काशगिरी ; सब समभाग लेकर कूट पीसकर कपड़छन चूर्ण बना लें तथा गाय के दूध में गाढ़ा घोंटकर चौड़े मुँह की शीशी में रख लें।&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">रात को सोते समय इसमें से आवश्यकतानुसार मिश्रण लेकर गुलाबजल में मिलाकर चेहरे पर मलें तथा सो जाएं। सबेरे गुनगुने पानी से मुँह धो डालें। कुछ दिनों में मुहासों से निजात मिल जाएगी और चेहरा साफ़ हो जाएगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">हल्दी और लाल चंदन भैंस के दूध में पीसकर लेप लगाने से मुहाँसे ठीक होते हैं और चेहरे में चमक आती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आम की गुठली, प्रियंगु, सफ़ेद चंदन, नागकेसर, मंजीठ और रसौंत को गाय के गोबर के रस में पीसकर लेप करने से त्वचा की विकृतियाँ ठीक हो जाती हैं और वर्ण निखरता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">संतरे के रस में तुलसी के पत्तों को पीसकर लेप करें। सूख जाने पर गुनगुने पानी से चेहरा धोएं। मुहासे आदि दूर होते हैं। यह प्रयोग सोते समय करें और सबेरे चेहरा धोएं तो बेहतर है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">तुलसी पत्र का स्वरस और नींबू स्वरस समभाग मिलाकर मलने से चेहरे की त्वचा निरोगी बनती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दूध की 1 चम्मच मलाई लेकर उसमें 4-6 बूँद शहद और एक चम्मच नींबू का रस मिलाकर चेहरे पर लगाकर मलें। आधा घण्टा बाद पानी से धो दें। एक माह नियमित करने से चेहरे पर निखार आ जाएगा। बाद में एक-दो दिन के अंतर पर भी करते रहेंगे तो आपको किसी बाज़ारू क्रीम वगै़रह की ज़रूरत नहीं महसूस होगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">घीक्वार के पत्ते का रस चेहरे पर लगाकर लगभग आधे घण्टे बाद धोएं। मुहासे, फुंसियों से छुटकारा मिलेगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">कच्चे नारियल का पानी चेहरे पर मलने से त्वचा साफ़ और कान्तिपूर्ण बनती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चेहरे की त्वचा रूखी हो तो मुल्तानी मिट्टी में खीरे का रस, टमाटर का रस, गुलाबजल, चंदन का महीन चूर्ण, ग्लिसरीन तथा नारियल का पानी मिलाकर लेई सा बनाकर लेप करें। सूखने पर पानी से धो दें। एक-दो दिन के अंतर पर भी यह प्रयोग करते रहें तो चेहरे पर निखार आने लगेगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नींबू का रस, खीरे का रस व गुलाबजल समान मात्रा में मिलाकर प्रतिदिन चेहरे पर मलने से मुहाँसों से छुटकारा मिलता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">खीरे के रस में बंदगोभी के पत्तों का रस तथा शहद मिलाकर लगाएं तथा आधा घण्टा बाद चेहरा धो डालें। चेहरे की कालिमा कम होगी और निखार आएगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चेहरा तैलीय हो तो 1 चम्मच संतरे का रस तथा दो चम्मच मुलतानी मिट्टी का लेप बनाकर लगाएं तथा सूखने के बाद धो दें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">त्वचा रूखी-सूखी रहती हो तो आधा चम्मच शहद में आधा चम्मच जैतून का तेल तथा आधा चम्मच पिसी मुलतानी मिट्टी मिलाकर गाढ़ा लेप बनाकर चेहरे पर लगाएं तथा आधा घण्टा बाद धो दें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">फटे होंठों पर अरण्डी के तेल में गुलाबजल व शहद मिलाकर लगाने से लाभ हो जाता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मधुमक्खी का मोम 1 चम्मच, बादाम रोगन 2 चम्मच तथा गुलाबजल आधा चम्मच एक में मिश्रण करके लगाने से होंठों की फटन ठीक हो जाती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सूर्य की गर्मी से चेहरे की त्वचा झुलस जाए तो दही में गुलाबजल मिलाकर लगाएं। खीरा के रस में ग्लिसरीन मिलाकर लगाने से भी फ़ायदा होगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">त्वचा तैलीय हो, साँवलापन हो और मुहाँसे निकल रहे हों तो 1 चम्मच मसूर की दाल, 1 चम्मच चंदन चूर्ण, 1 चम्मच हरदार, 3 चम्मच हल्दी, आधा चम्मच जायफल, 1 चम्मच छारछबीला, 1 चम्मच कूठ, 1 चम्मच चिरौंजी तथा तिहाई चम्मच कपूर लेकर कूट-पीसकर मिश्रण बना लें। इसमें से ज़रूरत भर चूर्ण लेकर पानी में उबटन सा बनाएं और सबेरे तथा रात में चेहरे पर लगाकर सूखने तक छोड़ दें। पश्चात् लेप छुड़ाकर पानी से चेहरा धो लें। कुछ दिन नियमित यह प्रयोग आज़माएं, पर्याप्त लाभ मिलेगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सेब का रस 1 चम्मच, तुलसी के पत्तों का रस 1 चम्मच तथा नींबू का रस 2 चम्मच मिलाकर चेहरे पर मलें तथा लगभग आधा घण्टा बाद गुनगुने पानी से धो दें। दिन में दो बार यह प्रयोग करते रहने से धीरे-धीेरे दाग़, धब्बे, मुहाँसे कील, झाँइयाँ, काले घेरे आदि दूर होकर चेहरे में निखार आ जाता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नींबू व संतरे के सूखे छिलके, नीम व गुलाब की सूखी पत्तियाँ समान मात्रा में तथा इन सबके वज़न के बराबर मुलतानी मिट्टी लेकर कपड़छन चूर्ण बनाकर रख लें। इसमें से आवश्यकतानुसार चूर्ण पानी में लेप बनाकर चेहरे व गर्दन पर लगाएं तथा सूखने पर धो दें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस नुस्ख़े के इस्तेमाल से चेहरे की त्वचा दाग़, धब्बे रहित होकर स्निग्ध और चमकीली बनती है।&nbsp; 17</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">25 ग्राम नीम की छाल, 50 ग्राम गेरू, 2 ग्राम वच तथा 10-10 ग्राम की मात्रा में लाल चंदन, मंजीठ, बायबिडंग, खदिर, खरेटी, हल्दी, आंबाहल्दी, दारूहल्दी, लोध्र, जटामांसी व बावची लेकर कूट-पीसकर कपड़छन चूर्ण बनाकर रख लें। इसमें से एक बड़ा चम्मच चूर्ण लेकर थोड़े दूध और केसर की 4-6 पुंखुड़ी के साथ घोंटकर चेहरे और गर्दन पर लगाकर एकाध घण्टे बाद जब सूख जाए तो मसलकर गुनगुने पानी से धो दें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस प्रयोग से चेहरे के दाग़, झाँइयाँ मुहाँसे आदि मिटते हैं तथा त्वचा में उज्वलपन आता है। आँंखों के नीचे का कालापन भी इससे समाप्त होता है। यह योग &lsquo;फेस केयर लेप&rsquo; के नाम से बना-बनाया बाज़ार में उपलब्ध है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">बड़ के पीले पत्ते, कूठ, लाल चंदन, चमेली के फूल, काला चंदन तथा लोध्र दो-दो तोला लेकर महीन चूर्ण करें तथा पानी में लेप बनाकर चेहरे पर लगाएं। एकाध घण्टे बाद धो डालें। इससे त्वचा में निखार आएगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">माजूफल को चावल के धोवन के साथ घिसकर लेप बनाकर चेहरे पर लगाने से मुहाँसे ठीक होते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मुहासों की समस्या से ग्रस्त लोगों को दिन में कई बार चेहरे को ठण्डे पानी से धोना चाहिए तथा नहाने से पहले ज्वार का आटा व बेसन को दूध में मिलाकर लेप करना चाहिए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">जौ, बाजरा, चावल का आटा तथा नींबू का रस, पाँंचों 1-1 चम्मच लेकर मिश्रण करके इसमें थोड़ा सा जैतून का तेल डालकर गाढ़ा उबटन सा बनाएं तथा चेहरे और शरीर पर मलें। कुछ देर बाद धो दें। इससे रंग साफ़ होता है। काफ़ी प्रभावशाली नुस्ख़्ाा है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आधा चम्मच दूध की मलाई में 4-6 बँूंद नींबू का रस मिलाकर रात में चेहरे पर मलें और लगभग आधे घण्टे बाद पानी से धो दें। इसके बाद सोने से पूर्व चेहरे पर जैतून के तेल की धीरे-धीरे मालिश करें। यह पूरा प्रयोग करने से पूर्व चेहरे को गुनगुने पानी से धोकर तौलिए से पोंछ लें तो बेहतर रहेगा कुछ दिनों तक यह उपाय करने से चेहरे की झुर्रियाँ, दाग़ आदि मिटकर त्वचा कांतिमान हो जाती है। साबुन का प्रयोग बंद रखें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">गुलाब की ताज़ा पंखुडियाँ पीसकर थोड़ी ग्लिसरीन मिलाकर लेप सा बनाएं और होंठों पर नियमित रूप से कुछ दिन लगाएं। होंठों की कालिमा धीरे-धीरे कम होने लगेगी। लिपिस्टिक का इस्तेमाल बंद रखें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दही से निकाले मक्खन में केसर मिलाकर होंठों पर मलने से होठों की लालिमा बढ़ती है।&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">गर्मी के दिनों में तैलीय त्वचा हो तो चंदन की लकड़ी गुलाबजल में और खुशक&nbsp;त्वचा हो तो दूध में घिसकर चेहरे पर लगाएं। घण्टे भर बाद ठण्डे पानी से धो दें। इस प्रयोग से कुछ ही दिनों में चेहरे से दाग़, धब्बे मिटते नज़र आएंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चेहरे को आभावान बनाने के लिए गुलाब के फूल की पंखुडियों को दूध में पीसकर लेप करें। कुछ समय बाद गुनगुने पानी से धो दें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नीम की ताज़ी पत्तियाँ पीसकर चेहरे पर लेप करें, इससे त्वचा निरोगी रहेगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">एक चम्मच चमेली के तेल में 3 ग्राम सोहागा मिलाकर रात को सोते समय चेहरे पर मलें तथा सबेरे बेसन का गाढ़ा लेप लगाकर मसलकर पानी से धो दें। कुछ दिनों में मुहाँसे ग़ायब होना शुरू हो जाएंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">शुक्ति पिष्टी और टंकण एक-एक तोला चूर्ण मिलाकर रख लें। थोड़ा सा यह चूर्ण शहद में मिलाकर लगाते रहने से कील-मुहाँसे समाप्त होते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सेंधा नमक, सफ़ेद सरसों, लोध्र और वचा -दो-दो तोला लेकर महीन चूर्ण बनाकर रख लें। इसमें से एक चम्मच चूर्ण पानी में गाढ़ा लेप बनाकर मुहाँसों पर लगाएं। कुछ दिन में लाभ होने लगेगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चिरौंजी, पीली सरसों और मसूर की दाल समान मात्रा में लेकर महीन पीसकर रख लें। इस चूर्ण को आवश्यक मात्रा में दूध के साथ गाढ़ा उबटन बनाकर चेहरे पर और इच्छा हो तो शरीर पर भी लगाएं। जब सूखने लगे तो मसलकर छुड़ा दें और चेहरा गुनगुने पानी से धो दें या स्नान कर लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस उबटन से त्वचा में निखार आता है और दाग़-धब्बे व मुहाँसे समाप्त होते हैं। यह उबटन &lsquo;चंद्रप्रभा उबटन&rsquo; के नाम से बाज़ार में बिकता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नाभि में तेल लगाते रहने से होंठ नहीं फटते।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मक्खन में नमक मिलाकर होंठों पर लगाने से होंठ नहीं फटते।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">होंठों पर जैतून का तेल मलने से फटे होंठ जल्दी ठीक हो जाते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">थोड़ा सा नमक, शुद्ध घी में मिलाकर दिन में दो-तीन बार नाभि में मलने से होंठों का फटना ठीक होता है और होंठ मुलायम रहते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">तरबूज़ के बीजों को पीसकर लगाने से होंठ कोमल हो जाते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चने की थोड़ी सी दाल दूध में रात भर भिगोएं तथा सबेरे पीसकर चुटकी भर हल्दी और कुछ बुँदे नींबू रस की मिलाकर चेहरे पर लेप करके लगभग आधे घण्टे बाद छुड़ा दें। चेहरे की रंगत साफ़ होने लगेगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">तुलसी की सूखी पत्तियों का चूर्ण बनाकर चेहरे पर मलने से दाग़-धब्बे मिटकर चेहरे की कांति बढ़ती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">ताँबे के बरतन में नींबू का रस निचोड़कर 24 घण्टे तक रखिए। इसके बाद इसमें इतनी ही मात्रा में काली तुलसी तथा काली कसौंदी का रस मिलाकर धूप में गाढ़ा होने के लिए रख दें। इस लेप को चेहरे पर लगाने से चेहरे के सौन्दर्य में निखार आता है। इसे स्तनों पर लगाने से वे पुष्ट व उन्नत बनते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">काली मिर्च व गोरोचन का लेप बनाकर लगाने से मुहाँसे ख़त्म होते हैं, त्वचा की चमक बढ़ती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">बिजौरा नींबू की जड़, मन: शिला और घी को गाय के गोबर के रस में पीसें तथा चेहरे पर लेप करें। धीरे-धीरे चेहरा दाग़-धब्बों से मुक्त होकर आभावान बनता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">रात में सोते समय भौंहों पर और बरौनियों के ऊपर जैतून के तेल की हल्के- हल्के मालिश करें। कुछ दिनों में भौंहें और बरौनियाँ घनी होने लगेंगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">संतरे के सूखे छिलके का चूर्ण ,जौ का आटा तथा आँवले का चूर्ण तिल के तेल में मिलाकर उबटन करने से चेहरे पर निखार आने लगता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">अरहर की दाल पानी में भिगोकर रात भर के लिए रख दें और सबेरे इसे पीसकर कुछ बूँदें नींबू के रस की मिलाकर चेहरे सहित अन्य सभी खुले अंगों पर मलें। कुछ ही दिनों में त्वचा की रंगत सुधरने लगेगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चेहरे की त्वचा साँंवली हो तो 2 बादाम की गिरी पीसकर इसमें एक चम्मच शहद, 2-3 बँूंद नींबू का रस तथा ज़रा सा दूध मिलाकर गाढ़ा लेप बनाकर लगाएं। लगभग आधे घण्टे बाद चेहरा धो दें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मुहासों से छुटकारा पाने के लिए दूध में बेसन मिलाकर रात को सोते समय चेहरे पर लगाएं तथा सबेरे गुनगुने पानी से धो दें।&nbsp; 20</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">गोभी के पत्तों के रस में थोड़ा खमीर मिलाकर चेहरे व गर्दन पर लगाकर आधे घण्टे बाद ताज़े पानी से धो दें। धीरे-धीरे त्वचा की ख़्ाुश्की, झुर्रियाँ व कालिमा कम होने लगेंगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मूली के रस में मक्खन मिलाकर चेहरे पर मलें तथा आधा घंटा बाद गुनगुने पानी से धो दें। धीेरे-धीेरे चेहरे की झुर्रियाँ कम होंगी तथा चमक बढ़ेगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दूध में गाजर व नींबू का रस मिलाकर नियमित रूप से चेहरे पर लगाने से साँवलापन कम होता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">होंठों को मुलायम बनाए रखने तथा उन्हें फटने से बचाने के लिए प्रतिदिन सबेरे नींबू, शहद और ग्लिसरीन का मिश्रण लगाएं तथा सूखने पर धो दें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">प्रतिदिन रात में गुलाब की ताज़ा पंखुडियाँ पीसकर मलाई में मिलाकर होंठों पर लेप करें तथा सूखने पर धो दें। इससे होंठों की रंगत सुधरेगी तथा होंठ मुलायम बने रहेंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दूध की मलाई में शहद मिलाकर लगाने से नेत्रों के नीचे का कालापन मिटता है तथा होंठों की रंगत सुधरती है तथा वे मुलायम बने रहते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">तुलसी के पत्तों को दूध में पीसकर लगाने से झाँई मिटती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सादा कच्चा दूध भी चेहरे पर मलने से चेहरा साफ़ और स्निग्ध होता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">जामुन की गुठलियों को पानी में पीसकर लेप करने से महाँसे ठीक होते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">अर्जुन वृक्ष की छाल, अखरोट की छाल, सेंधा नमक तथा मौलश्री की छाल का कपड़छन चूर्ण बनाएं तथा कंडे की राख मिलाकर रख लें। इसका मंजन करने से पीले, गंदे दाँत साफ़ और चमकीले बनते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दिन में एक दो बार सरसों के तेल में थोड़ा नमक तथा हल्दी मिलाकर दाँतों, मसूड़ों की मालिश करते रहने से कृमिदंत आदि तमाम बीमारियाँ नहीं होतीं। यह दाँतों के लिए बेहद आसान, सस्ता और कारगर उपाय है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दो तोला दूध में चार कली लहसुन उबालकर चेहरे पर मलने से चेहरा खिल उठता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">पलकों पर सोते समय एरण्ड के तेल की हल्की मालिश करने से पलकें घनी होती हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दाँतों को स्वस्थ और सुन्दर बनाए रखने के लिए नियमित रूप से नीम या बबूल की दातून करना श्रेष्ठ उपाय है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दोनों समय भोजन के बाद आधा चम्मच सरसों के तेल में ज़रा सा बारीक पिसा नमक मिलाकर उँगली के सहारे दाँतों, मसूड़ों की मालिश करने से दाँत स्वस्थ और स्वच्छ बने रहते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">भोजन व नाश्ते के बाद 1 गिलास पानी में आधा चम्मच नमक घोलकर कुल्ला करते रहने से भी दाँत निरोगी रहते है।&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दूध से दाढ़ी बनाने और नहाने की बात सुनकर शायद आपको अजीब लगे, पर है यह ज़ोरदार नुस्खा। देश के कुछ शहरों में तो दूध से दाढ़ी बनाने के बाक़ायदा सैलून ही खुल गए हैं। इतना ही नहीं इसके फ़ायदों को देखते हुए लोगों ने इस नुस्खों को और आसान और सुविधाजनक बनाने की दिशा में भी काम करना शुरू कर दिया है। इस नुस्खों को प्रचलन में लाने का असली श्रेय आज़ादी बचाओ आंदोलन के राष्ट्रीय प्रवक्ता श्री राजीव दीक्षित को जाता है। दरअसल स्वदेशी और स्वसंस्कृति के पक्ष में दिए गए अपने कई व्याख्यानों में उन्होंने इस नुस्ख़े का काफ़ी रोचक वर्णन किया है। इसी का नतीजा हुआ कि तमाम प्रतिष्ठित लोगों ने भी शेविंग क्रीम वगै़रह का बहिष्कार करके दूध से दाढ़ी बनाने की शुरूआत कर दी है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दूध से दाढ़ी बनाने का सामान्य तरीक़ा यह है कि पहले आप हल्के गुनगुने पानी से चेहरा भिगो लीजिए, इसके बाद थोड़ा सा कच्चा दूध लेकर चेहरे पर अच्छी तरह मलिए। अब रेज़र चलाइए, एकदम चिकनी दाढ़ी बनेगी। दाढ़ी बनाने के बाद क्रीम वगै़रह लगाने की ज़रूरत एकदम समाप्त हो जाती है, क्योंकि कच्चा दूध अव्वल दर्जे़ का &rsquo;क्लीनिंग एजेंट&rsquo; है। कच्चे दूध के इस्तेमाल से चेहरे की स्निग्धता और सौन्दर्य में वृद्धि होगी, सो अलग।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">अब आइए, दूध से स्नान करने का तरीक़ा जानिए। यह तरीक़ा भी एकदम आसान है। एक नींबू एक छोटी कटोरी भर कच्चे दूध में निचोड़ दीजिए, बस अच्छे से अच्छे साबुन से भी बेहतर स्नान सामग्री तैयार है। नींबू निचोड़ने के बाद जब दूध फट जाए तो एक साफ़ सूती कपड़े का टुकड़ा इसमें भिगोकर शरीर पर अच्छी तरह रगड़ते हुए फेरिए और स्नान कर लीजिए। यह है आपका एकदम- सौ प्रतिशत सम्पूर्ण स्नान !</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस तरह आप साबुनों के नुकसानदेह मायाजाल से तो बचेंगे ही, तमाम तरह के चर्मरोगों से भी निजात मिलेगी।&nbsp;</span></p>
