﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;"> सुन्दरता के प्रतीक काले-घने-घुँघराले बाल</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">किसी ज़माने में सिर के एकाध बाल सफे़द दिख जाने या खल्वाट पड़ना शुरू हो जाने पर लोग इसे बुज़ुर्गियत के आगमन की सूचना मान लेते थे। कल्पना कीजिए कि यदि आज भी इसे कसौटी माना जाए तो क्या स्थिति होगी। दृश्य कुछ ऐसा होगा कि यौवन की दहलीज़ पर क़दम रखने जा रहे देश के अधिकांश नौनिहाल सीधे बुज़ुर्गों की जमात में खड़े दिखाई देंगे। दरअसल असमय बालों का पकना व झड़ना अब इतनी आम बात है कि इसे बुज़ुर्गियत की निशानी मानना बेमानी हो चुका है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">असल में इस तरह की समस्याएँ आधुनिक जीवन-शैली की सौग़ातें हैं। खान-पान के अलावा भाँति-भाँति के रसायनों के मिश्रण से बने कृत्रिम साबुन, तेल, शैम्पू आदि अनगिनत सौन्दर्य प्रसाधनों ने इन समस्याओं में और इज़ाफ़ा किया है। फिलहाल इस प्रकरण में आधुनिक जीवन-शैली की मीमांसा के बजाय समस्या का समाधान प्रस्तुत करना मुख्य उद्देश्य है, इसलिए आगे बालों की विभिन्न समस्याओं को लेकर कुछ आसान उपायों पर ही चर्चा की जाएगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">बालों को स्वस्थ रखने के लिए आहार-विहार पर ध्यान देना सबसे ज़रूरी बात है। स्वास्थ्य के लिए ज़रूरी आहार-विहार की पर्याप्त चर्चा विभिन्न प्रकरणों में आ चुकी है। किसी विशेष बीमारी की वजह से बालों के पकने या झड़ने की समस्या हो तो उसका इलाज कराएं। बालों की समस्याओं से निजात पाने के लिए होम्योपैथी में बहुत ही कारगर इलाज मौजूद है, बशर्ते लक्षणों से मेल खाती उपयुक्त दवा का चयन हो जाए। जड़ी-बूटियों से आंतरिक चिकित्सा के लिए कुछ कारगर नुस्ख़े तो ख़्ौर आगे दिए ही जा रहे हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आंतरिक चिकित्सा के साथ-साथ बालों की बाहरी देखभाल भी ज़रूरी है। पहली बात यह कि सिर की मालिश प्रतिदिन या एकाध दिन के अंतर पर अवश्य करें। इससे त्वचा में रक्त संचार सुचारु रूप से होगा और बालों की जड़ों तक पोषण आसानी से पहुँचेगा। मालिश के लिए आए दिन तेल बदल- बदलकर न इस्तेमाल करें। कोई एक अपने अनुकूल अच्छा तेल चुन लें और नियमित इसी से मालिश करें। सिर धोने के लिए रसायनों से बने साबुन-शैम्पुओं का जितना ही कम प्रयोग करें, उतना ही अच्छा है। सिर धोने की कई देशी विधियाँ आगे दी गई हैं, उन्हें अपनाएँ तो अच्छा लाभ मिलेगा। धूम्रपान, क्रोध, अधिक रात्रि जागरण, वनस्पति घी, तेल, मिर्च, मसालों से जितना बच सकें, उतना ही बेहतर रहेगा। खान-पान का सुधार रखते हुए भोजन में आँवले का नियमित प्रयोग बालों की सेहत के लिए विशेष लाभप्रद है। आँवले के स्थान पर आमलकी रसायन का भी प्रयोग करके लाभ उठाया जा सकता है। इतनी सावधानियों के साथ आप ज़रूरी लगे तो नीचे दिए जा रहे नुस्ख़े आज़माएं और बालों की समस्याओं से निजात पाएं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">असली हाथी दाँत को तवे पर भूनकर भस्म बनाएं। अब रसौत लेकर इसे पत्थर के सिल पर बकरी के दूध की सहायता से घिसकर लेई तैयार करें। इस लेई में समभाग हाथी दाँत का भस्म मिलाकर गंज पर लगाएं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यह योग कहीं भी बालों के चकत्तों के रूप में गिर जाने पर लाभप्रद है। बकरी के दूध के स्थान पर नीम का तेल तथा हाथी दाँत न मिल पाने पर काले सुरमे का भी प्रयोग किया जा सकता है ।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आापके बाल झड़ना शुरू हो रहें हो तो आँवले के रस में शहद मिलाकर सिर में मालिश करें ।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आँवला चूर्ण मेंहदी के साथ पीसकर बालों में लेप करने से बाल घने और काले होते हैं ।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">पिसी हुई सूखी मेंहदी 1 कप, कत्था 1 चम्मच, दही 1 चम्मच, नींबू का रस 1 चम्मच,पिसा कॉफी पाउडर 1 चम्मच, आँवला चूर्ण 1 चम्मच, ब्राह्मी बूटी का चूर्ण 1 चम्मच ,सूखे पोदीने का चूर्ण 1 चम्मच ।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इन सभी चीज़ो़ं को एक में मिलाकर गाढ़ा लेप बन सके, इतने पानी में भिगो दें ।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दो-ढाई घण्टे बाद इस लेप को सिर में बालों की जड़ों तक लगाएं और धण्टे भर बाद सूख जाने पर सिर को मुलतानी मिट्टी या बेसन से धो दें। इस प्रयोग से आपके बाल काफ़ी सुंदर दिखेंगे । बालों में रंग न लाना हो तो कत्था और कॉफी़ पाउडर का इस्तेमाल न करें । बालों को सुंदर,लंबे,घने और काले बनाए रखने का यह एक अच्छा उपाय है, बशर्ते साबुन का प्रयोग बंद कर दिया जाए ।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">पाँच अच्छे रसदार काग़जी़ नींबू के रस में 20 ग्राम क़लमी शोरा अच्छी तरह खरल में घुटाई करके रख लें । इस मिश्रण को गंज वाले स्थान पर लेप करके दो घण्टे बाद किसी अच्छे आयुर्वेदिक शैम्पू या साबुन से सिर धो दें । पश्चात् नारियल तेल से मालिश करें। एक डेढ़ माह में गंज मिटना शुरू हो जायेगा। इसी के साथ 4-5 ग्राम आमलकी रसायन पानी या दूध से सुबह-शाम सेवन करें। यह बहुत कारगर नुस्ख़ा है ।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">उचित आहार-विहार के साथ एक चम्मच साबुत काले तिल तथा एक चम्मच भृंगराज पंचांग कपड़छन चूर्ण करके फाँक लें तथा ऊपर से ताज़ा पानी पिएं। 6 माह तक निरंतर यह प्रयोग करने से बालों का असमय पकना व झड़ना रुकेगा इसी के साथ सायंकाल सोने से पूर्व सूर्यतप्त नीले नारियल तेल की भी मालिश करें तो अच्छा परिणाम मिलेगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">भंृगराज पंचांग छायाशुष्क करने के बाद कपड़छन चूर्ण बनाकर काँच के बरतन में रखकर उसमें ताज़े भृंगराज का रस इतना डालें कि रस 4 अंगुल ऊपर तक आ जाए। अब इसे लोहे के खरल में घुटाई करके सुखा लें। इस प्रकार 21 या कम से कम 7 भावनाएं भृंगराज स्वरस का देकर तैयार इस चूर्ण में इसका आधा बहेड़ा चूर्ण तथा पाँचवां हिस्सा हरड़ चूर्ण अच्छी तरह मिलाकर बादाम के तेल से तर करके कुल मिश्रण के बराबर मिश्री मिलाकर काँच के पात्र में रख लें। इस योग को 6-6 ग्राम प्रात: तथा सायं दूध के साथ सेवन करना चाहिए। एक सप्ताह बाद मात्रा बढ़ाकर 9 ग्राम तथा तीसरे सप्ताह से 10 ग्राम प्रतिदिन सेवन करें। 41 दिनों तक नियमित रूप से यह प्रयोग करने से सफ़ेद बाल काले होने लगते हैं, बालों का झड़ना बंद होता है तथा इंद्रलुप्त का रोग समाप्त होता है। बहुत प्रशंसित योग है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">उपरोक्त नुस्खों की भाँति एक अन्य योग यह है कि भाँगरा तथा त्रिफला चूर्ण समभाग मिलाकर इसमें सफ़ेद साबुत तिल इतना ही पीसकर मिलाएं तथा बाद में सबके बराबर मिश्री मिलाकर प्रयोग करें। 6 माह तक सेवन करने से बालों के तमाम रोग ठीक हो जाते हैं। यह योग नेत्रों के लिए भी अतिशय लाभप्रद है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">200 ग्राम सूखे आँवले, 150 ग्राम शिकाकाई, 100 ग्राम कपूर कचरी, 100 ग्राम नागरमोथा, 40 ग्राम रीठा तथा 40 ग्राम कपूर लेकर सबका महीन कपड़छन चूर्ण बनाकर रख लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इसमें से 50 ग्राम चूर्ण लेकर लगभग 400 ग्राम उबलते पानी में 15-20 मिनट तक भिगोएं। तदनन्तर मसल-छानकर इस जल से बालों में जड़ों तक मलें। इस प्रयोग से बाल मज़बूत होते हैं, उनका झड़ना रुक जाता है तथा काले, मुलायम बने रहते हैं। इससे लीक-जूँ भी नष्ट होती हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आँवला क्वाथ, इमली का हिम क्वाथ, मेंहदी का स्वरस, भाँगरे का स्वरस, मुलहठी क्वाथ, जटामांसी क्वाथ तथा नारंगी के छिलकों का क्वाथ- प्रत्येक 1-1 किलो, दूध 2 किलो व तिल का तेल डेढ़ किलो।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इसे तेलपाक विधि से तैयार करके रख लें। इस तेल को सायं सोते समय बालों की जड़ों में मलना चाहिए। बालों का टूटना, सफ़ेद होना, सिर की रूसी आदि दूर होते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चमेली के पत्ते, चित्रक के पत्ते, लाल कनेर के पत्ते तथा करंज के पत्ते- प्रत्येक 250-250 ग्राम लेकर जल में पीसकर कल्क बनाएं। अब 4 किलो तिल का तेल लेकर इसमें कल्क मिलाकर 16 किलो पानी डालकर पकाएं। तेल सिद्ध हो जाने पर छानकर रख लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस तेल की मालिश से सिर या दाढ़ी के, जहाँ भी बाल उड़ गए हों, वहाँ जल्दी ही पुन: उगने लगते हैं। इस तेल की कुछ दिनों तक नियमित रूप से रुई के फाहे से मालिश करनी चाहिए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">जटामांसी तथा वटवृक्ष के अंकुर 50-50 ग्राम, गिलोय स्वरस 4 किलो व तिल तेल 1 किलो लेकर तेल सिद्ध करें।&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस तेल की इंद्रलुप्त के स्थान पर धीरे-धीरे मालिश करनी चाहिए तथा नस्य लेना चाहिए। यह काफ़ी असरदार तेल है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">1 किलो अनार के पत्तों के रस में 125 ग्राम अनार का कल्क व आधा किलो सरसों का तेल मिलाकर तेलपाक विधि से तेल सिद्ध करके रख लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस तेल की मालिश से इंद्रलुप्त तथा खालित्य विकार नष्ट होते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">हरा भृंगराज, हरा आँवला तथा ताज़े हरे मेंहदी के पत्ते, सभी 250-250 ग्राम की मात्रा में लेकर कूटकर उनका रस निकाल लें। अब रस में इसके वज़न के बराबर पानी मिलाएं तथा 200 ग्राम कपूर कचरी व 200 ग्राम बालछड़ भी कूटकर इसमें मिला दें और रात भर पड़ा रहने दें। सबेरे पूरा घोल धीमी आँच पर पकाएं और जब यह आधा रह जाए तो उतारकर छान लें। अब 200 ग्राम तिल का तेल धीमी आँच पर पकाते हुए तीनों दवाओं का क्वाथ थोड़ा-थोड़ा करके डालते जाएं। जब सारा रस जल जाए और मात्र तेल बच रहे तो उतारकर निथारने के बाद गाद अलग करके तेल बोतलों में भर लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस तेल की मालिश रात में सोने से पूर्व बालों की जड़ों में करनी चाहिए तथा साथ ही कम-से-कम सौ बार कंघी करें। यह तेल बालों के लिए अत्यन्त हितकारी है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">गिलोय-आधा किलो, शतावरी चूर्ण-320 ग्राम, गोखरू चूर्ण-320 ग्राम, बाराहीकन्द-400 ग्राम, शुद्ध भिलावा-640 ग्राम, छिलकारहित तिल-320 ग्राम, चित्रकमूल-200 ग्राम, काली मिर्च-160 ग्राम, सोंठ -160 ग्राम, पीपल-160 ग्राम, मिश्री-1 किलो 400 ग्राम, शहद-700 ग्राम, विदारीकन्द-320 ग्राम तथा गोघृत-350 ग्राम।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">पहले भिलावे तथा तिल को मिलाकर चूर्ण बनाएं। पश्चात् काष्ठौैधियों का चूर्ण इसमें मिलाकर खरल करके एकरस कर शक्कर मिश्रित करके रख लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इसमें से 3-4 ग्राम की मात्रा दिन में दो बार घी तथा शहद के साथ सेवन करें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यह योग खालित्य, इंद्रलुप्त आदि अनेक रोगों में अत्यन्त हितकर है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">बाल चकत्तों के रूप में उड़ गए हों, गंज हो या पक रहे हों तो निम्न चिकित्साक्रम अपनाना चाहिए -</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">1. 1 ग्राम आमलकी रसायन, 2 ग्राम मिश्री के साथ प्रात: तथा इतनी ही मात्रा सायं खाली पेट पानी से सेवन करें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">2. इसके 1 घण्टे बाद 3 ग्राम शतावरी चूर्ण 10 ग्राम त्रिफला घृत में मिलाकर दूध के साथ प्रात: तथा इसी तरह सायं सेवन करें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">3. त्रिफला, काले तिल तथा भृंगराज सभी समभाग लेकर चूर्ण बनाकर इसके बराबर पिसी मिश्री मिलाकर रख लें। इसमें से 10 ग्राम चूर्ण की एक मात्रा भोजन के बाद लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">4. सिर में प्रतिदिन सायंकाल सोने से पूर्व भृंगराज तेल की मालिश करें।&nbsp;&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यूँ चाय पीना स्वास्थ्य के लिए नुकसानदेह है। परंतु यदि आप आदतवश चाय पीते ही हैं तो चाय बनाने के बाद चाय की पत्ती का एक अच्छा इस्तेमाल कर सकते हैं। उबली हुई चाय पत्ती को फेंकने के बजाय इसे पुन: उबालकर छान लें और ठण्डा होने दें। अब इसमें नींबू का रस मिलाकर बालों में लगाएं तथा मल-मलकर सुखाएं, फिर धो डालें। इससे बाल साफ़ और चमकदार होते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नींबू, संतरे का रस और दही मिलाकर बालों में मलें और पानी से धो दें। यह प्रयोग बालों को सुन्दर और घना बनाने में उपयोगी है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">किसी खेत या तालाब में साफ़ जगह पर खोदकर 1 फुट नीचे की मिट्टी निकालकर रख लें। काली मिट्टी हो तो अति उत्तम। आवश्यकताभर यह मिट्टी पानी में गलाकर कंकड़-पत्थर छानकर साफ़ घोल बनाएं। इस घोल से नित्य सिर धोने से बाल खिल उठते हैं और घने, लम्बे, मुलायम बने रहते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">100 ग्राम आँवला, 6 आम की गुठलियाँ, 40 ग्राम अनार के छिलके, 100 ग्राम जवाकुसुम के फूल, 50 ग्राम नीम की पत्तियाँ, 50 ग्राम मेंहदी तथा 8 बड़े चम्मच नींबू का रस लेकर 2 लीटर नारियल तेल में डालकर लगभग आधा घण्टा तक पकाएं। पकने के बाद इसे तीन दिन रखा रहने दें और फिर छानकर बोतलों में भर लें। इसी अनुपात में इसे कम या ज़्यादा भी बनाया जा सकता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">रात को सोते समय इस तेल की सिर में मालिश करनी चाहिए। पैरों के तलवों में भी इस तेल की दबाव देकर मालिश करें। बालों को पोषण मिलेगा और तमाम केश रोग दूर होंगे। एक-दो दिन के अन्तर पर भी इस प्रयोग को कर सकते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दही में नींबू का रस मिलाकर बालों में मलें तथा धूप में सुखाएं। सूखने पर धो दें। इससे बाल हल्के-फुल्के और फूले-फूले से रहेंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यदि आप खारे पानी वाले इलाके में रहते हों तो शैम्पू आदि करने के बाद बालों को लाल सिरके से धोएं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">शैम्पू में थोड़ी सी दही मिलाकर बालों में मलकर 10-15 मिनट बाद धोने से आप के बाल चमकदार दिखेंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यदि डाई करने या रंगने की वजह से बालों में रूखेपन की शिकायत हो तो दूध में केला मथकर बालों में लगाएं। पका पपीता भी लगा सकते हैं। इससे रूखापन दूर हो जाएगा।&nbsp;&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आँवला, शिकाकाई, रीठा, नीम की छाल, मुलतानी मिट्टी, अच्छी जगह से निकाली हुई काली मिट्टी 250-250 ग्राम तथा मेथी दाना 150 ग्राम, चंदन चूर्ण 100 ग्राम, छबीला पाउडर 150 ग्राम, मेंहदी 150 ग्राम व ब्राह्मी 100 ग्राम लेकर कूट-पीसकर कपड़छन चूर्ण बनाकर सुरक्षित रख लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इसमें से 4-5 चम्मच चूर्ण लेकर पानी में गाढ़ा लेप बनाकर बालों में मसलें। आधा घण्टा बाद हल्के गर्म पानी से बालों को धोएं। इस प्रयोग के साथ रात में सोते समय शुद्ध नारियल तेल या सूर्यतप्त नीला नारियल तेल बालों की जड़ों में मालिश करके लगभग 100 बार कंघी करें। कुछ दिनों तक लगातार यह प्रयोग करके चाहें तो एक दो दिन के अंतराल पर करते रहें। धीरे-धीरे बाल लंबे, मुलायम, काले, घने और खुबसूरत दिखने लगेंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">भृंगराज की पत्ती, विधारा, अश्वगंधा तीनों समान मात्रा में कूट पीसकर कपड़छन चूर्ण बनाकर इसमें कुल चूर्ण का दो तिहाई हिस्सा पिसी मिश्री मिलाकर रख लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस चूर्ण को एक दो चम्मच (लगभग आधा तोला) की मात्रा में सबेरे एवं रात को गरम दूध से सेवन करना चाहिए। दवा सेवन काल में ब्रह्मचर्य पालन के साथ तेल, गुड़, खटाई, मिर्च-मसाला कम सेवन करें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">धीरे-धीरे बालों का गिरना तथा सफ़ेद होना अच्छा होगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यदि आप साबुन-शैम्पू से बचना चाहते हों तो बिना ज़्यादा खटराग किए आसान तरीक़ा यह है कि चने के बेसन से सिर धोएं। यदि सिर में ज़्यादा तेल लगा हो तो कटोरी में बेसन घोलकर पहले आधा घोल बालों में मलें और धो दें। पुन: शेष घोल को मलते हुए सिर धोएं। आपके बाल एकदम खिल उठेंगे। बेसन पूरे शरीर में मलकर स्नान करें तो शरीर में भी साबुन लगाने की आवश्यकता न रहेगी। उपलब्धता हो तो इसमें थोड़ा छाछ भी मिला सकते हैं। यह सोने पे सुहागा वाली बात होगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आम की गुठली की मिगी तथा गुठली रहित आँवला, दोनों समान भाग लेकर सिल पर पानी के साथ महीन पीसकर गाढ़ा लेप सा तैयार करें और बालों में लगाएं। घण्टे भर बाद इसे धो डालें। यह प्रयोग बालों के लिए अत्यन्त हितकर है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">गाय का गोबर 2 चम्मच, गोमूत्र 5 चम्मच, सूखे आंवले&nbsp;का चूर्ण 1 चम्मच, शतावरी का चूर्ण 1 चम्मच, अदरक का रस 1 चम्मच तथा ज़रूरत भर मुल्तानी मिट्टी लेकर सबका गाढ़ा लेप तैयार करें तथा बालों में जड़ों तक अच्छी तरह लगा लें। एकाध घण्टे बाद इसे धो दें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यदि किसी विशेष रोग से ग्रस्त न होंगे तो इस प्रयोग से सिर के उड़े हुए बाल पुन: उग आएंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आँवला, रीठा, शिकाकाई तथा ब्राह्मी बराबर-बराबर वज़न में लेकर कूट-पीसकर एक में मिलाकर रख लें। लोहे की कढ़ाई में थोड़ा सा पानी गर्म करके इसमें 25 ग्राम यह चूर्ण तथा 5 ग्राम मेथी दाना डालकर अच्छी तरह चला दें और कढ़ाई उतारकर ढककर रख दें। दूसरे दिन इस पानी को छानकर इससे बालों को धोएं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यह प्रयोग करते रहने से बाल लंबे, घने, काले बने रहते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">किसी बाह्य या आभ्यन्तर प्रयोग के साथ रात में सोते समय षड्बिन्दु तेल की 2-2 बूँद दोनों नासा-छिद्रों में डालते रहने से बालों के झड़ने तथा पकने की समस्या से जल्दी निजात मिलती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मुलहठी, कूठ, उड़द, चिरौंजी और सेंधा नमक बारीक पीसकर शहद के साथ लेप बनाकर सिर में लगाने से रूसी की समस्या समाप्त हो जाती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सरसों का तेल, कमल, मुनक्का, मुलहठी, घी और शहद मिलाकर बनाया गया लेप सिर में मलने से इंद्रलुप्त रोग समाप्त होकर बाल घने और मज़बूत बनते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">गोखरू और तिल के फूल बराबर मात्रा में पीसकर इसमें शहद तथा घी मिलाकर लेप करने से बाल तेज़ी से लंबे होते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चित्रकमूल, चमेली के फूल, करंज के बीज, कनेर की जड़ को समान मात्रा में कल्क (लुगदी) बनाकर इसके चौगुने तेल में पकाएं। तेल सिद्ध हो जाए तो छानकर काँच की बोतल में रख लें। इस तेल की सिर में मालिश करते रहने से केश संबंधी अनेक बीमारियाँ धीरे-धीरे दूर हो जाती हैं और केश अच्छे बन जाते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">जैतून के तेल से सिर की मालिश करके गुनगुने पानी में भिगोकर निचोड़े गए तौलिए को सिर में लगभग आधा घण्टा बाँधें। इससे बालों की जड़ें मज़बूत होती हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">बायबिडंग, कमल तथा गंधक का कल्क बनाकर इसमें गोमूत्र मिलाकर सरसों के तेल में पकाएं। जब तेल सिद्ध हो जाए तो छानकर रख लें। इस तेल की मालिश से जूँ नष्ट हो जाते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">&rsquo; &rsquo; &rsquo; &rsquo;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">बेल की जड़ पीसकर गोमूत्र मिलाकर लगाने से जूँ की समस्या से निजात मिल जाती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">बेर की एक पाव पत्तियों को थोड़े पानी में पीसकर एक दिन के लिए रख छोड़ें। अब इसे आधा किलो नारियल के तेल में इतना पकाएं कि सारा पानी जल जाए। पश्चात् इसे छानकर रख लें और नित्य लगाकर मालिश करें। इस तेल से बालों में चमक आती है तथा कालापन बढ़ता है।&nbsp;&nbsp;</span></p>
