﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">शरीर और साँसों की बदबू भगाइए</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">शरीर और साँसों में बदबू आने के आंतरिक और बाह्य दोनों तरह के कारण हो सकते हैं। एक तो खान-पान की गड़बड़ी या किसी रोग की वजह से बदबू आ सकती है, दूसरे शरीर और दाँतों व मुँह की साफ़-सफ़ाई में की जा रही लापरवाही से भी बदबू की समस्या पैदा हो सकती है। बदबू की समस्या के यदि शारीरिक विकार, जैसे कि -दाँतों, मसूड़ों की ख़्ाराबी, पेट की गड़बड़ी, टॉन्सिल की सूजन-पस, नाक व साइनस विकार, श्वासनली व फेफड़ों के विकार, मुँह के छाले, रक्त की कमी, मधुमेह, यकृत-गुर्दों की बीमारी, पीनस आदि कारण हों तो आहार-विहार ठीक रखते हुए आवश्यक उपचार करना चाहिए और यदि बाह्य कारण हों, तो साफ़-सफ़ाई का ध्यान रखते हुए निम्न उपाय अपनाए जा सकते हैं-</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">बेलपत्र, आँवला, हरड़ चूर्ण मिलाकर शरीर में लेप करके कुछ देर बाद धो दें। इससे शरीर और पसीने की दुर्गंध से छुटकारा मिलता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सुपारी, जायफल, शीतलचीनी, कपूर, लौंग तथा लता कस्तूरी को पान में रखकर ज़रा सा चूना लगाकर चबाने से मुख शुद्धि होती है तथा दुर्गंध ख़त्म होती है। यह पान मसूड़े, दाँत तथा जीभ के लिए भी हितकारी है। ध्यान रखने योग्य इतना सा है कि रक्त-पित्त के रोगियों, बहुत दुर्बल, भूखे, प्यासे तथा मूच्र्छा से पीड़ित लोगों के लिये पान सेवन वर्जित है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">साँस में बदबू आती हो तो ऐसे लोगों को नीम की दातून नियमित करनी चाहिए। इसके अलावा खाने के बाद मुँह अच्छी तरह साफ़ रखें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दो चम्मच शहद को 1 गिलास पानी में घोलकर गरारा करने से हफ्ते भर में मुँह की दुर्गन्ध से आसानी से छुटकारा मिल जाता है। इसके साथ दाँत की सफ़ाई और खान-पान पर भी ध्यान दें तो उत्तम है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मुँह की दुर्गंध दूर करने के लिए दोनों समय भोजन के बाद अथवा यदा-कदा सौंफ़ चबाना चाहिए। इससे हाज़मा भी दुरुस्त होता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चंदन, मुक्ता, हरड़, नागरमोथा, उशीर व लोध्र का लेप बनाकर शरीर में लगाने से दुर्गंध की समस्या से निजात मिलती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">कूठ, हरड़ और नागरपान समान मात्रा में पीसकर पानी के साथ लेप बनाकर शरीर में लगाने से दुर्गंध आनी बंद होती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">वच, कूठ, तज, छोटी इलायची, कमल की जड़, नागकेसर सभी सममात्रा में लेकर कपड़छन चूर्ण बनाएं और शहद में मिलाकर 250 मि. ग्रा. की गोलियाँ बना लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इन गोलियों को चूसने से मुँह की दुर्गंध दूर होकर सुगंध आने लगती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">लोध्र, अनार का छिलका, रीठे के पत्ते, धाय के फूल एक में मिलाकर पीसकर लेप करने से शरीर की दुर्गंध मिटती है</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;&nbsp;</span></p>

