﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">स्वस्थ, सुन्दर त्वचा के लिए</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>



<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">शरीर की बनावट कितनी ही सुंदर हो, नैन-नक्श कितने ही आकर्षक हों, पर अगर त्वचा रोगग्रस्त हो तो सारी सुंदरता पर ग्रहण सा लग जाता है। हमारे देश में त्वचा को स्वस्थ, सुंदर बनाए रखने के लिए उबटन आदि की प्राचीन परंपरा रही है। कृत्रिम सौन्दर्य प्रसाधनों के बजाय प्राकृतिक और आयुर्वेदिक स्वदेशी उपायों को अपनाना ही ज़्यादा बेहतर है। इस प्रकरण में त्वचा को स्निग्ध, सुंदर, मुलायम और स्वस्थ बनाये रखने के लिए कुछ घरेलू नुस्ख़े प्रस्तुत किए जा रहे हैं। इन्हें आज़माकर लाभ उठाया जा सकता है-</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आँवले के चूर्ण का उबटन शरीर पर लगाने से त्वचा साफ़, स्वच्छ तथा मुलायम होती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">स्नान से पूर्व एक गिलास पानी में दो चम्मच शहद तथा एक नींबू का रस घोलकर चेहरे और शरीर पर लगाकर कुछ देर के लिए छोड़ दें; इसके बाद स्नान करें। इससे त्वचा की स्निग्धता और चमक बढ़ती है तथा चर्मरोग भी दूर होते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">जौ, बाजरा तथा चने का आटा, सब 1-1 चम्मच लेकर इसमें 1 चम्मच नींबू का रस तथा 1 चम्मच हल्दी चूर्ण मिलाएं। अब जैतून का तेल इतना लें कि सब गाढ़ा उबटन बन जाए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस उबटन को चेहरे पर लगाएं या शरीर में, इससे त्वचा साफ़ और सुंदर बनती है। पूरे शरीर पर लगाना हो तो सभी चीज़ों की मात्रा बढ़ा लेनी चाहिए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">त्वचा को निरोगी रखने के लिए पानी में नींबू का रस मिलाकर स्नान करना चाहिए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">पानी में नींबू का रस तथा शहद मिलाकर नियमित पीने से रक्त साफ़ होता है तथा त्वचा रोग नहीं होते।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">हालाँकि साँवली त्वचा को एकदम से गोरा बनाने के लिए अभी तक ऐसा कोई नुस्ख़्ाा नहीं बना है, परंतु जो लोग अपनी त्वचा का रंग साफ़ और कांतिमान बनाना चाहते हैं, उन्हें कोई भी उपचार अपनाने से पहले अपना आहार-विहार ठीक करना चाहिए। किसी भी हालत में क़ब्ज़ न होने दें। स्त्रियाँ अनियमित मासिक धर्म और प्रदर आदि की बीमारियों से बचें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इतने उपाय के बाद 25 ग्राम सौंफ तथा 25 ग्राम कच्चा नारियल दिन में एक बार सबेरे या भोजन के बाद ख़्ाूब चबा-चबाकर नियमित 6 माह तक खाएं। इससे त्वचा में निखार आता है और त्वचा का रंग उजला होता है। गर्भवती महिलाएं पूरे गर्भकाल में यह प्रयोग करें तो संतान गोरी पैदा होती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस आंतरिक प्रयोग के साथ अपने अनुकूल कोई बाह्य प्रयोग भी अपना सकते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नींबू और संतरे का रस मिलाकर शरीर और चेहरे पर लगाने से मैल साफ़ होता है तथा रंगत सुधरती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नींबू, आँवला और संतरे का रस दही में मिलाकर चेहरे तथा शरीर की त्वचा पर लगाकर मालिश करें और सूखने पर धो दें या स्नान कर लें। यह त्वचा को निखारने का बढ़िया नुस्ख़्ाा है। कुछ दिन नियमित प्रयोग करें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">स्नान से कुछ समय पहले लगभग 100 ग्राम मिट्टी किसी कटोरे में पानी डालकर भिगो दें। मिट्टी गल जाए तो मसलकर पानी में एकरस कर लेप सा बना लें तथा इसे शरीर में साबुन की तरह मलकर लगाएं। इसके बाद स्नान करके साफ़ तौलिए से शरीर पोंछ लें। मिट्टी का यह प्रयोग त्वचा को स्वच्छ, मुलायम और चमकीला बनाता है। मिट्टी खेत में साफ़ जगह से एक फुट गहराई से खोदकर लेनी चाहिए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">रात को जब सोने जाएं तो हाथ-पैर-मुँह आदि को अच्छी तरह धोकर पोंछ लें। इसके बाद ग्लिसरीन, गुलाबजल बराबर मात्रा में मिलाकर ऊपर से किंचित नींबू का रस डाल लें तथा हाथ, पैर और चेहरे पर मलें। इससे त्वचा स्वस्थ और चमकदार बनी रहती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चुकंदर का रस, टमाटर का रस तथा पिसी हल्दी 4:4:1 के अनुपात में मिलाकर मलने से त्वचा का साँवलापन कम होता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">घमौरियों से परेशान हों तो बंदगोभी के रस में गुलाबजल मिलाकर लगाएं, राहत मिलेगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">दूध की मलाई और टमाटर का रस समान मात्रा में मिलाकर लेप करके लगभग आधे घण्टे बाद धो दें। इससे चेहरे के काले दाग़-धब्बे दूर होंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">गोमूत्र, बेसन, पिसी हल्दी तथा मुलतानी मिट्टी सभी समान मात्रा में लेकर गाढ़ा लेप बनाएं। इसे चेहरे सहित पूरे शरीर पर लगाएं तथा 15 मिनट बाद धोकर गुनगुने पानी से स्नान कर लें। यह प्रयोग निरंतर कुछ दिनों तक करते रहने से शरीर का रंग निखर उठेगा तथा त्वचा कान्तिपूर्ण हो जाएगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">कच्चे या गुनगुने दूध में रुई का फाहा भिगोकर चेहरे तथा शरीर के विभिन्न अंगों की त्वचा पर हल्के-हल्के फेरिए। लगभग आधा घण्टा बाद ताज़े या गुनगुने पानी से धो दें। दाग़, धब्बे, झुर्रियाँ मिट जाएंगे तथा त्वचा स्निग्ध रहेगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">एक कटोरी में दूध लेकर इसमें चौथाई नींबू निचोड़ दें। जब दूध फट जाए तो इसे चेहरे के साथ-साथ शरीर के अन्य अंगों पर धीरे-धीरे मलें और कुछ देर बाद स्नान कर लें या धो दें। इससे त्वचा में मुलायमियत आएगी और त्वचा कांतिमय हो उठेगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">350 ग्राम पानी में 60 ग्राम इमली भिगोकर फूलने दें। तत्पश्चात् उसे मसलकर लेई सा बनाकर शरीर पर मलें और 15-20 मिनट बाद स्नान करें। कुछ दिनों में वर्ण में सुधार होने लगता है। इससे झाँई, दाग़, धब्बे भी ठीक होते हैं। गर्मियों में एक-दो दिन नागा करके तीन-चार सप्ताह तक यह प्रयोग करके देखें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">यदि बरसात और गर्मी के दिनों में घमौरियों की समस्या से ग्रस्त हों तो बाह्य उपचार के साथ एक गिलास जौ के पानी (बार्ली वाटर) में एक नींबू निचोड़कर पिएं। यदि दिन में दो बार इसे कुछ दिन पिएं तो घमौरियों से जल्दी ही छुटकारा मिल जाएगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">जौ हल्का सा भूनकर पीस लें तथा इसमें थोड़ी हल्दी व कुछ बूँदें सरसों का तेल मिलाकर उबटन की भाँति चेहरे तथा शरीर पर लगाएं। त्वचा में धीरे-धीरे निखार आएगा।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">आँवला व सेब का मुरब्बा दोनों का नियमित रूप से प्रात: सेवन करते रहने से त्वचा की ख़्ाुश्की दूर होकर कांतिमान बनती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नागकेसर, कुमुद, कमल के फूल तथा तगर और तालीसपत्र एक में पीसकर लेप करने से त्वचा कांतिमयता आती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">तगर की जड़, कूठ और तालीसपत्र को पानी में लेप बनाकर लगाने से त्वचा में निखार आता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">ताज़े पानी में तुलसी की पत्तियाँ तथा गुलाब के फूल की पंखुडियाँ डालकर कुछ देर पड़ा रहने दें। पश्चात् इस पानी से स्नान करें, शरीर में ताज़गी आएगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सर्दी के दिनों में जैतून के तेल में थोड़ा सा नमक मिलाकर शरीर में मालिश करने से त्वचा मुलायम बनती है और यौवन में निखार आता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">गाय का गोबर, पीली सरसों, हल्दी, नागरमोथा, कपूर, चिरौंजी, लाल चंदन, छड़ीला, नारंगी का सूखा छिलका-सभी को महीन पीसकर चमेली के तेल में उबटन बनाएं तथा नित्य प्रति चेहरे सहित पूरे शरीर पर मलें। इससे दाग़-धब्बे समाप्त होकर त्वचा सुंदर बन जाएगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नारियल के पानी में मलाई मिलाकर त्वचा पर मलने से दाग़-धब्बे मिटकर त्वचा की मुलायमियत बढ़ती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">चंदन पीसकर त्वचा पर लगाने से त्वचा की चमक बढ़ती है।&nbsp;</span></p>
