﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">स्त्र स्त्रियों की समस्या अविकसित, बेडौल वक्ष</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>


<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">स्त्री शरीर के लिए वक्ष-सौन्दर्य का विशेष महत्त्व है। सौन्दर्य की भी अपेक्षा माँ बनने और शिशु के स्वास्थ्य की दृष्टि से नारी शरीर में समुचित विकसित वक्ष का कहीं ज़्यादा महत्त्व है। यूँ यौवनावस्था में क़दम रखने के साथ ही स्तनों का भी समुचित विकास शुरू हो जाता है, परंतु यदि किसी कारण से स्तन अविकसित रह जाएँ या अति विकसित होकर बेडौल हो जाएं तो चिन्ता की बात हो जाती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">स्तनों के अविकसित रह जाने के पीछे अत्यधिक दुबलापन, मासिक विकार, गर्भाशय की दिक़्क़तें, अधिक चिंता, तनाव जैसे अनेक कारण हो सकते हैं। इसी तरह शरीर पर मोटापा चढ़ने, आलसी जीवन बिताने, देर तक सोने की आदत, गरिष्ठ व ज़्यादा भोजन करने अथवा समय से पूर्व अत्यधिक काम-क्रीड़ाओं में लिप्त होने, कामुक चिन्तन करने जैसे कारणों से भी स्तन अविकसित, बेडौल व ढीले हो सकते हैं। फिलहाल यहाँ नवयुवतियों की इस गंभीर समस्या का समाधान करने के लिए कुछ स्वदेशी उपाय सुझाए जा रहे हैं, जिन्हें आज़माकर अविकसित या बेडौल स्तनों को स्वस्थ, सुडौल बनाया जा सकता है। इतना अवश्य ध्यान रखें कि किसी भी बाह्य चिकित्सा को अपनाते हुए शरीर के आन्तरिक विकार अवश्य दूर करें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">कोई भी आंतरिक या बाह्य उपचार करते हुए स्तनों के समुचित विकास के लिए योगासन व व्यायाम अवश्य अपनाएं। स्तन सौन्दर्य की दृष्टि से सूर्य नमस्कार, धनुरासन, चक्रासन, भुजंगासन, शलभासन, उष्ट्रासन, पर्वतासन, हस्त पाश्र्वासन, गोमुखासन आदि विशेष लाभप्रद हैं। इनकी विधियाँ किसी योगासन विशेषज्ञ से सीखी जा सकती हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">स्तन कम विकसित हों तो मालिश करने से काफ़ी लाभ होता है। तिल, जैतून या सरसों के तेल से स्तनों की नियमित मालिश करनी चाहिए। इसी के साथ ठण्डे तथा गर्म पानी की गीली पट्टी से बारी-बारी करके सेंकने से स्तन आसानी से पुष्ट होने लगते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">घृतकुमारी की जड़, गोरखमुण्डी, इन्द्रायण की जड़, अरण्डी के पत्ते, छोटी कटेरी 50-50 ग्राम तथा केले का पंचांग, सहिजन के पत्ते, पीपल के पेड़ की अन्तरछाल, अनार की जड़ व छिलका, खम्भारी की अन्तरछाल, कनेर व कूठ की जड़ 10-10 ग्राम लेकर मोटा-मोटा कूटकर 5 लीटर पानी में उबालकर क्वाथ करें। जब मात्र सवा लीटर पानी बच रहे तो उतारकर छान लें तथा इसमें सरसों व तिल का तेल 250-250 मि.ली. डालकर पुन: उबालें। सिर्फ़ तेल रह जाए तो उतारकर ठण्डा करके इसमें 15 ग्राम शुद्ध कपूर मिलाकर रख लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस तेल को रात में सोते समय तथा सबेरे नहाने से एकाध घण्टे पहले स्तनों पर हल्के-हल्के मालिश करें। 2-3 माह में स्तन पुष्ट व सुडौल होने लगेंगे।&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">गम्भारी की छाल 800 ग्राम तथा गम्भारी की छाल की लुगदी 200 ग्राम को सवा लीटर पानी में इतना उबालें कि चौथाई अंश शेष रह जाए। अब इसमें 800 मि.ली. तिल का तेल डालकर धीमी आँच पर पकाएं। जब सिर्फ तेल बच रहे तो उतार लें। इसी प्रकार से तीन बार गम्भारी छाल व कल्क(लुगदी) के साथ इस तेल को पकाएं। तीसरी बार में पकाने के बाद गर्म तेल में 15 ग्राम मोम डालकर उतारकर ठण्डा होने दें। कुछ ठण्डा होने के बाद तेल छानकर सुरक्षित रख लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इस तेल की प्रयोगविधि यह है कि इसमें कपड़े की पट्टी भिगोकर निचोड़ लें तथा स्तनों के ऊपर रखकर पान के पत्ते से ढँककर बाँध दें। प्रतिदिन सोते समय रात में यह प्रयोग करें। इससे धीेरे-धीरे स्तन पुष्ट, सुडौल होने लगेंगे। यह &lsquo;श्रीपण्र्ाी तेल&rsquo; के नाम से बाज़ार में भी बिकता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">&lsquo;चेहरे का सौन्दर्य&rsquo; प्रकरण में वर्णित ताँबे के बरतन में नींबू का रस, तुलसी और कसौंदी से बनने वाला नुस्ख़्ाा प्रयोग करने से स्तन उन्नत, पुष्ट और सुडौल होते हैं।&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;">&nbsp;</p>

