﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">कुछ नुस्खे़ हाथ-पैरों की देखभाल के लिए</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">एड़ियाँ फटती हों तो अरंडी का तेल, गुलाबजल तथा नींबू का रस समान मात्रा में मिलाकर एड़ियों पर दिन में दो-तीन बार मलें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मधुमक्खियों वाला मोम लेकर गर्म करें। पिघल जाए तो इसमें इसका आधा सरसों का तेल मिलाएं। अब किसी बरतन में पानी भरकर उसी में यह मिश्रण छान दें। जब यह पानी में नीचे बैठ जाए तो पानी फेंककर इसे किसी शीशी में रख लें। सोते समय रात में इस नुस्ख़्ो को एड़ियों में लगाने से एक सप्ताह में बिवाइयों में आराम मिल जाता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">रात को सोने से पहले नारियल का तेल गुनगुना करके बिवाइयों में लगाएं तथा मोजे पहनकर सो जाएं। सबेरे गर्म पानी में पैरों को 15 मिनट तक डुबोएं तथा किसी ब्रश से हल्के-हल्के रगड़कर एड़ियाँ साफ़ करें। इसके उपरांत भीगे पैरों को कपड़े से सुखाकर कोई तैलीय चीज़ लगा लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">एक चम्मच देशी मोम तथा एक चम्मच देशी घी गर्म करें। दोनों एकसार हो जाएं तो इस मिश्रण की गर्म-गर्म बूँदें बिवाइयों में टपकाएं। यह प्रयोग प्रतिदिन तब तक करें जब तक बिवाइयों से छुटकारा न मिल जाए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">जैतून का तेल सहने योग्य गर्म करके नाख़ूनों को कुछ देर तक उसमें डुबाए रहिए। ऐसा कुछ दिनों तक करने से आपके नाख़्ाून मज़बूत होंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">100 ग्राम सरसों के तेल में 25 ग्राम मोम डालकर गर्म करें तथा एक उबाल आने के बाद उतारकर ठण्डा होने से पूर्व ही किसी चौड़े मुँह के पात्र में रख लें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इसे वैसलीन की तरह इस्तेमाल करें, त्वचा नहीं फटेगी। यदि फट रही हो तो ठीक हो जाएगी।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">पैरों में गट्टे (गोखरू) हों तो पीड़ित स्थान पर मेंहदी का गाढ़ा लेप लगाकर पट्टी बाँध दें। दो-तीन घण्टे बाद इसे खोलकर धो दें। कुछ दिनों के अन्तराल पर कुछ ही बार यह प्रयोग करने से गट्टे समाप्त हो जाएंगे।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सर्दी के मौसम में या पानी में काम करने से हाथ-पैरों की त्वचा फटती हो तो ग्लिसरीन में नींबू का रस मिलाकर मलना चाहिए।&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नींबू के छिलके नाख़्ाूनों पर मलने से नाख़्ाून चमकदार होते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">**************************************</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">हथेलियों, कोहनी और एड़ियों का कालापन मिटाने और मैल हटाने के लिए नींबू के छिलकों को प्रभावित हिस्सों पर घिसकर गुनगुने पानी से धोना चाहिए।&nbsp;</span></p>


