﻿<head>

  <link rel="stylesheet" href="animate.min.css">
  </head>
<h3 class="animated bounceInLeft" style="text-align: center;"><span style="color: #ef3e44;">सौन्दर्य में निखार लाए मालिश</span></h3>

<style>
p{
-webkit-user-select: none;
}
</style>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">तेल मालिश का आनन्द जानना हो तो उगते सूरज की लाली में तेल मालिश कराते किसी पहलवान से मिलिए। मालिश से शरीर में जो उमंग-स्फूर्ति, कांतिमयता पैदा होती है, उसका एहसास कुछ दिन नियमपूर्वक मालिश करने के बाद ही जाना जा सकता है। मालिश इतना प्राकृतिक है कि पशु-पक्षी भी अपने-अपने तरीक़े से इसका लाभ लेते ही हैं। गधों को लोट-लोटकर मालिश का आनंद उठाते तो आपने देखा ही होगा। पशु बच्चे जनने के बाद चाट-चाटकर एक तरह से अपने बच्चों की मालिश ही करते हैं। घोड़े को खरारा देने की कितनी ज़रूरत पड़ती है, यह उसका मालिक ही जानता है। पक्षियाँ भी अपने बच्चों को चोंच और पंखों से सहला-सहलाकर उनमें उमंग भरती रहती हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मतलब यह कि मालिश बड़े काम की चीज़ है। दुनिया के विभिन्न मानव समाजों में मालिश का इतिहास कोई नया नहीं है। अगर यूनान व रोम की महिलाएं अपना रूप यौवन क़ायम रखने के लिए मालिश का सहारा लेती थीं, तो मेडागास्कर-अफ्रीका की जंगली जातियों तक में शरीर में ख़्ा़ून बढ़ाने के लिए हज़ार साल पहले भी मालिश का प्रचलन था। अफ्रीका में विवाह से पूर्व वर-वधू दोनों की नित्य मालिश की प्रथा रही है। हिंदुस्तान में तो यह परंपरा कहीं &lsquo;हल्दी&rsquo; और कहीं &lsquo;पीठी&rsquo; जैसे नामों से आज तक बनी ही हुई है। इटली, ईरान, तुर्की व अरब देशों की यात्रा करने वालों को मालूम ही होगा कि वहाँ के हमामख़्ाानों में आज भी मालिश को कितनी अहमियत दी जाती है। पश्चिमी देशों में तो ख़्ौर मसाज सेण्टरों की भरमार ही होने लगी है। फ्रांस मालिश विद्या को प्रचारित करने में एक तरह से अग्रणी भूमिका निभा रहा है। वहाँ इसे बाक़ायदा चिकित्सा व्यवसाय और कला की दृष्टि से अपनाया जा रहा है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">हमारे लिए गर्व की बात यह है कि मालिश के चिकित्सकीय लाभों का ज्ञान दुनिया ने प्राचीन भारत से ही प्राप्त किया। हमारे आयुर्वेदिक गं्रथों में मालिश की जितनी वैज्ञानिक जानकारी और विधियाँ वर्णित हैं, वह अपने आपमें आश्चर्यजनक ही है। यूँ मालिश की विधियाँ कई तरह की हैं, पर यहाँ हम सौन्दर्य की दृष्टि से सिर्फ तेल मालिश की चर्चा करेंगे। चरक संहिता के पाँचवें अध्याय के निम्न श्लोक तेल मालिश की महत्ता अच्छी तरह व्यक्त करते हैं-</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">न चाभिघाताभिहतं गात्रमभ्यंग सेविन:।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">विकारं भजते&bull;त्यर्थं बलकर्मणि वा क्वचित्।।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">अर्थात्-</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">नियमित तेल अभ्यंग (मालिश) से शरीर आघात सहने या बल प्रयुक्त होने वाले कार्यों को संपन्न करने में समर्थ होता है तथा मालिश से त्वचा विकार रहित रहती है । यानि कि मालिश से शक्ति और सामथ्र्य में वृद्धि होती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">सुस्पर्शो पचितांगश्च बलवान प्रियदर्शिन:।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">भवत्यभ्यंग नित्यत्वान्नरो&bull;ल्प जर एव च।।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;">&nbsp;</p>

<p class="animated bounceInLeft"  style="text-align: justify;">&nbsp;</p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">&lsquo;तेल मर्दन से त्वचा चिकनी, स्पर्श में कोमल, बलवान और सुंदर हो जाती है। साथ ही शरीर भी बलवान और प्रियदश्र्ाी होता है तथा बुढ़ापे के लक्षण कम दिखाई देते हैं।&rsquo;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;">&nbsp;</p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">संवाहनश्रम हरं वृष्यं निद्रासुखप्रदम्।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मांसासृक्त्वक् प्रसन्नत्वकुर्याद्वात कफापहम् ।।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इसका अर्थ यह है कि &lsquo;शरीर की मालिश श्रमनाशक धातुओं को पुष्ट करने वाली, अच्छी नींद लाने वाली, मांस, त्वचा व रक्त को निर्मल करने वाली तथा वात, कफ का शमन करने वाली होती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इतनी चर्चा के बाद उम्मीद है कि आप की समझ में अच्छी तरह आ गया होगा कि स्वास्थ्य और सौन्दर्य बनाए रखने के लिए तेल मालिश कितना ज़रूरी है। संक्षेप में तेल मालिश का मुख्य लाभ यह है कि त्वचा कांतिमान, झुर्रीरहित, निरोग और मज़बूत रहती है। रक्त संचार ठीक रहता है। शरीर में चुस्ती-फुर्ती बनी रहती है। विभिन्न अंगों को बल मिलता है। शरीर का लचीलापन क़ायम रहता है तथा बुढ़ापा देर से आता है। यह भी विशेष बात है कि तेल मालिश से दुबले लोगों का शरीर मांसल और पुष्ट होता है तथा मोटे लोगों का मोटापा घटता है। इसके अलावा मालिश से शरीर दर्द, सिरदर्द, हाथ-पैरों का कंपन, वात-व्याधि, जोड़ों का दर्द, अनिद्रा आदि में भी आराम मिलता है। इतना जानने के बाद, आजकल के कुछ अंग्रेजीदां लोग और एलोपैथी के डॉक्टर अगर तेल मालिश को फ़िजूल की चीज़ ठहराएं तो उनकी बातों पर ख़्ाास ध्यान न देते हुए आप शौक़ से इसे अपनी दिनचर्या में शामिल कीजिए और अपने पोर-पोर में शक्ति, कांति और स्फूर्ति का एहसास करिए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;">&nbsp;</p>

<p class="animated bounceInLeft"  style="text-align: center;"><span style="font-size: 18px;"><span style="color: #ff0000;"><strong>तेल मालिश के लिए ज़रूरी बातें</strong></span></span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">1. यूँ तेल मालिश आप पूरे साल कर सकते हैं फिर भी बसंत और जाड़े का 3-4 माह का समय इसके लिए विशेष लाभकारी है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">2. उगते सूरज की लालिमा में प्रात:काल तेल मालिश करना सबसे अच्छा है। वैसे दिन में कभी भी खाली पेट तेल मालिश कर सकते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">3. तेल मालिश के समय शरीर पर कम से कम कपड़े रहने चाहिए; जैसे कि निक्कर, जांघिया, लंगोट आदि।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">4. सामान्यत: मालिश खुले हवादार स्थान पर करनी चाहिए। शरीर निर्बल हो और तेज़ असह्य हवा चल रही हो तो बंद कमरे में भी मालिश कर सकते हैं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">5. घर में यदि पति-पत्नी दोनों मौजूद हों तो परस्पर एक-दूसरे की मालिश कर सकते हैं। यह सुविधाजनक रहेगा, अन्यथा अपने शरीर की ख़्ाुद मालिश करें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">6. ज़मीन पर चटाई आदि बिछाकर बैठकर मालिश करें। जिस अंग की मालिश करें ध्यान उसी अंग पर एकाग्र रखें और मन में उमंग के भाव बनाएं।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">7. तेल मालिश नीचे के अंगों से शुरू करके ऊपर की ओर करनी चाहिए। अर्थात् पाँव के तलुओं से मालिश की शुरूआत करके क्रमश: पंजे, पिंडलियों, घुटनों, जाँघ, नितंब, कमर, पेट, सीना, पीठ, गर्दन, चेहरा और सिर तक पहुँचें। इसे यूँ कहें कि पहले दोनों पैरों की बारी-बारी से&nbsp;मालिश करने के बाद, कमर, पेट व सीना, फिर दोनों हाथ, गर्दन और चेहरे व सिर की मालिश करें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">8. मालिश की दिशा हृदय की ओर होनी चाहिए। हाथ-पैर की मालिश पंजों से शुरू करें और कंधों व नितंब तक बढ़ें। पेट-कमर पर भी नीचे से ऊपर की ओर हृदय की दिशा में मालिश करें। पेट और सीने की मालिश गोलाकार हाथ घुमाते हुए भी करें। पीठ की मालिश रीढ़ स्थान से शुरू करके किंचित ऊपर दिशा में बाहर की ओर करें। गर्दन की मालिश अंदर से बाहर की ओर तथा चेहरे की मालिश गालों से कनपटी की ओर करें। सामान्य समझ इतनी रखें कि हृदय से निकली धमनियों की गति की विपरीत दिशा में मालिश विशेष लाभप्रद है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">9. अनावश्यक दबाव देने के बजाय हल्का दबाव देते हुए आहिस्ता-आहिस्ता मालिश करनी चाहिए। कम-से-कम 15-20 मिनट और ज़्यादा-से-ज़्यादा 45 मिनट तक मालिश करें।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">10. बच्चों की मालिश प्रात:कालीन सूर्य की रोशनी जहाँ पड़ती हो वहाँ करनी चाहिए। इससे उनके शरीर को विटामिन &lsquo;डी&rsquo; आसानी से प्राप्त हो सकेगी। बच्चों की मालिश के लिए नारियल, सरसों, जैतून के तेल उत्तरोत्तर बेहतर हैं। गाय के घी या मक्खन से मालिश करें तो अति उत्तम।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">11. स्त्रियों की तेल मालिश के लिए ध्यान देने वाली विशेष बात यह है कि उन्हें अपने वक्षस्थल की मालिश में सावधानी बरतनी चाहिए। स्तनों पर सावधानी पूर्वक चारों ओर से हल्के हाथों स्तन के अग्रभाग की ओर मालिश करें। मासिक स्राव या गर्भकाल की स्थिति हो तो पेट एवं गर्भाशय के हिस्से को छोड़कर शेष शरीर की मालिश करनी चाहिए।</span></p>

<p class="animated bounceInLeft"  style="text-align: center;"><span style="font-size: 18px;"><span style="color: #ff0000;"><strong>मालिश के लिए उपयोगी तेल</strong></span></span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">स्थानीय वातावरण और शरीर की प्रकृति को देखते हुए अपने अनुकूल तेल का चुनाव करना विशेष लाभप्रद रहता है। सामान्यत: सर्दी के मौसम में सरसों का तेल, बरसात के दिनों में तिल का तेल तथा गर्मी में नारियल तेल की मालिश विशेष हितकर है। शारीरिक प्रकृति के हिसाब से तेल का चयन करना हो तो कफ प्रकृति वालों को सरसों का तेल, वात प्रकृति वालों को तिल का तेल तथा पित्त प्रकृति वालों को नारियल का तेल चुनना चाहिए।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इन कुछ मुख्य तेलों के अलावा जैतून का तेल किसी भी मौसम में उपयोग में लिया जा सकता है। जैतून के तेल की मालिश से त्वचा की रंगत सुधरती है और उसमें मुलायमियत आती है। यह तेल स्त्रियों के वक्ष को विकसित करने की दृष्टि से भी विशेष लाभदायक है। बादाम का तेल भी काफ़़ी फ़ायदेमंद है। यह पलकों और भौंहों को घना बनाता है। विभिन्न व्याधियों में नीम का तेल, महुए का तेल, अरण्डी का तेल, चंदन का तेल, चमेली का तेल आदि भी उपयोग में लाए जाते हैं। आवश्यकतानुसार इन तेलों में औषधियों का मिश्रण करके या दो-तीन तेलों को आपस में मिलाकर मालिश किया जाता है। जैसे कि नारियल, अरण्डी और तिल का तेल समान भाग में मिलाकर सिर में मालिश करने से बालों की कई समस्याएँ दूर होती हैं। पुराना चूना तिल के तेल में मिलाकर लगाने से दाद के कष्ट में राहत मिलती है। पायेरिया रोग या दाँतों के तमाम कष्टों में सरसों के तेल में चुटकी भर हल्दी और बारीक नमक मिलाकर दाँतों व मसूढ़ों की मालिश करने से काफ़ी लाभ मिलता है। शरीर में ताज़गी लाने और त्वचा की रुक्षता दूर करने के लिए स्नान से आधा घण्टा पहले सरसों के तेल में समान भाग दही मिलाकर मालिश करनी चाहिए।&nbsp;</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">मुहासे निकलते हों तो सोते समय नारियल तेल में नींबू का रस बराबर मात्रा में मिलाकर चेहरे की मालिश करना हितकर रहता है। धूप में त्वचा झुलस जाए तो नारियल के तेल में थोड़ा नमक मिलाकर मालिश करें और 15-20 मिनट बाद धोएं। 5 तोला नारियल तेल में 2 तोला नमक तथा 2 तोला नींबू का रस मिलाकर मालिश करने से सारे शरीर की त्वचा की कोमलता और सुंदरता बढ़ती है।</span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">इसी तरह अरण्डी के तेल में थोड़ा सा नमक और कपूर मिलाकर दिन में दो बार मसूढ़ों की मालिश करनी चाहिए। अरण्डी के तेल में बराबर मात्रा में शहद मिलाकर चेहरे पर मालिश करने से त्वचा कोमल बनती है और झुर्रियाँ मिटती हैं। चेहरे की त्वचा का सूखापन जैतून के तेल में मलाई मिलाकर मालिश करने से ठीक हो जाता है। धूप में झुलसकर त्वचा साँवली पड़ गई हो तो जैतून के तेल में बराबर मात्रा में सिरका मिलाकर मालिश करें। मुहासों में जैतून के तेल में समान भाग नींबू का रस मिलाकर मालिश करने से लाभ मिलता है। होंठों का कालापन कम करने के लिए बादाम के तेल में नींबू का रस मिलाकर नियमित मालिश करनी चाहिए। खाज, खुजली में चंदन के तेल में नींबू का रस बराबर मात्रा में मिलाकर मालिश करना हितकर है। कोढ़ की बीमारी में नीम के तेल में चालमोगरा का तेल मिलाकर मालिश करने से विशेष लाभ मिलता है। पित्ती की तकलीफ़ में नीम के तेल में समान भाग सरसों का तेल मिलाकर मालिश करने से आराम मिलता है। इस तरह से विभिन्न स्थितियों में विभिन्न औषधि द्रव्यों व तेलों के मिश्रण से मालिश करके लाभ उठाया जा सकता है।</span></p>

<p class="animated bounceInLeft"  style="text-align: center;"><span style="font-size: 18px;"><span style="color: #ff0000;"><strong>तेल मालिश से कब बचें</strong></span></span></p>

<p class="animated bounceInLeft"  style="text-align: justify;"><span style="font-size: 18px;">तेल मालिश के इतने ढेर सारे लाभों के बावजूद कुछ परिस्थितियाँ ऐसी भी हैं जबकि इससे बचने की भी ज़रूरत पड़ सकती है। सामान्यत: ऐसी परिस्थितियाँ कम ही होती हैं ,फिर भी इन्हें जान लेना चाहिए और कुछ ख़ास तरह के रोगियों को तेल मालिश नहीं करनी चाहिए। आयुर्वेद के अनुसार रक्तस्राव की स्थिति, बुख़्ाार, विरेचन के बाद, वमन के बाद, विषग्रस्तता, मूच्र्छा की उग्रावस्था, उग्र सूजन, दाह-जलन, अत्यन्त कमज़ोरी तथा पेट के कुछ गंभीर रोगों की अवस्था में तेल मालिश नहीं करनी चाहिए। शेष अनुकूल परिस्थितियों में नियमित तेल मालिश करिए और ताउम्र ताज़गी के अहसास से सराबोर रहिए।&nbsp;</span></p>
